{% if perms.patient.add_patientdetail %}

<div data-dojo-type = "dijit/form/Form" 
     id             = "newPatientAddForm" 
     data-dojo-id   = "newPatientAddForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

    <script type="dojo/method" data-dojo-event="onReset">
        return true;
    </script>

    <script type="dojo/method" data-dojo-event="onSubmit">
     if(this.validate()){
      require(["dojo/_base/xhr", 
               "dojo/dom", 
               "dojo/json", 
               "dijit/registry", 
               "dijit/Dialog",
               "dojo/domReady!"
      ],
      function(xhr, dom, JSON, registry, Dialog){
            var editDialog = registry.byId("editPatientDialog");
            var errorDialog = registry.byId("dialogJsonMessage");

//{% if perms.patient.add_patientdetail %}
        xhr.post({
                url  : "{%url 'patient_detail_add_without_id' %}",
                form : dom.byId("newPatientAddForm"),
                load : function(json) {
                        var jsondata = JSON.parse(json);
                        if(jsondata.success == true){
                            dom.byId("newPatientAddForm").reset();
//                             var data = jsondata.addData;
//                             grid.store.newItem(data);
                            publishInfo("<p class='suggestion_text'>New Patient Added Successfully.<p>\
                                          \nPlease switch Search Tab if you want to open Chart"
                            );
                            if(ADD_MORE_PATIENTS == false){
                              editDialog.hide();
                            }
                            else{
                              registry.byId("id_patient_hospital_id").focus();
                            }
                        }
                        else{
                            var content = jsondata.error_message + "\n" + jsondata.form_errors;
                            publishError(content );
                        }
                },
                error: function(json) {
                          var jsondata = JSON.parse(json)
                          publishError("ERROR! : \n"+ jsondata.error_message);
                }
        });

//	{% else %}
    registry.byId("permissionDeniedErrorDialog").show();
    return false;

//  {% endif %}
    });
    return false;
    }
    else{
     registry.byId("invalidFormSubmissionErrorDialog").show();
     return false;
    }

  </script>

  {% if perms.patient.add_patientdetail %}
		<table id		=	"patient_detail_add_form_table"> 
					{{patient_detail_form}} 
		</table>

     <button data-dojo-type = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitIconSave'"
            type           = "submit" 
            name           = "submitButton" 
            value          = "Add">
        Save
       <script type            = "dojo/connect" 
               data-dojo-event = "onClick" 
               data-dojo-args  = "evt"
       >
         ADD_MORE_PATIENTS = false;
         ADD_MORE_ITEMS    = false;
       </script>
     </button>


    <button data-dojo-type = "dijit/form/Button" 
            type           = "submit" 
            name           = "submit_and_add_more_patients" 
            value          = "Add &amp; More"
            data-dojo-props="iconClass: 'dijitIconSave'"
            >
       Save & Add More
       <script type            = "dojo/connect" 
               data-dojo-event = "onClick" 
               data-dojo-args  = "evt"
       >
         ADD_MORE_PATIENTS = true;
         ADD_MORE_ITEMS    = true;
       </script>
     </button>


    <button data-dojo-type  = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitIconClear'"
            type            = "reset">
       Reset
    </button>
  {% endif %}

</div>
{% else %}
<p class="suggestion_text"> Insufficient Permissions</p>
{% endif %} 

