{% if perms.visit.change_visitdetail %}

  <div data-dojo-type="dijit/layout/TabContainer" 
      data-dojo-props="'tabStrip':true,'tabPosition':'top','nested':true"
  >      

    <div data-dojo-type = "dojox/layout/ContentPane"
        data-dojo-props = "'title':'Basic Data'"
    >

      <div data-dojo-type = "dijit/form/Form" 
          id             = "newVisitEditForm_{{visit_detail_obj.id}}"
          data-dojo-id   = "newVisitEditForm_{{visit_detail_obj.id}}"
          encType        = "multipart/form-data" 
          action        =  "" 
          method         =  ""
          style          = "overflow: auto;"
        >

        {% include 'visit_detail/snippets/js/visit_detail_edit_form_validate.html' %}
        {% include 'visit_detail/snippets/forms/edit.html' %}
        {% include 'visit_detail/snippets/button_row/visit_detail_edit.html' %}

      </div>
      <!-- End of BasicDataForm -->

    </div> 
    <!-- End of ContentPane -->

    <div data-dojo-type="dojox/layout/ContentPane"
         data-dojo-props="'title': 'Complaints', 'href': '{{visit_detail_obj.urls.add.visit_complaint}}' "
         class="subTabContainer"
         >

    </div>

    <div data-dojo-type="dojox/layout/ContentPane"
         data-dojo-props="'title': 'History', 'href': '{{visit_detail_obj.urls.add.visit_hpi}}' , disabled: false"
         class="subTabContainer"
         >

    </div>

    <div data-dojo-type="dojox/layout/ContentPane"
         data-dojo-props="'title': 'ROS', 'href': '', disabled: true"
         class="subTabContainer"
         >

    </div>

    <div data-dojo-type="dijit/layout/TabContainer"
         data-dojo-props="'title': 'Examinations','href': '', disabled: true"
         class="subTabContainer"
         >

    </div>

    <div data-dojo-type="dijit/layout/TabContainer"
         data-dojo-props="'title': 'Labs','href': '', disabled: true"
         class="subTabContainer"
         >

    </div>

    <div data-dojo-type="dijit/layout/TabContainer"
         data-dojo-props="'title': 'Imaging','href': '', disabled: true"
         class="subTabContainer"
         >

    </div>

    <div data-dojo-type="dijit/layout/TabContainer"
         data-dojo-props="'title': 'Procedures','href': '', disabled: true"
         class="subTabContainer"
         >

    </div>

    <div data-dojo-type="dijit/layout/TabContainer"
         data-dojo-props="'title': 'Prescription','href': '', disabled: true"
         class="subTabContainer"
         >

    </div>

  </div>
  <!-- End of TabContainer -->

{% else %}

  <p class="suggestion_text"> 
    Please Login 
  </p>

{% endif %}