<div data-dojo-type = "dojox/layout/ContentPane"
    data-dojo-props = "title:'ROS'"
  >
  {% include 'visit/snippets/forms/ros.html' %}
</div>

<div data-dojo-type  = "dijit/layout/TabContainer"
    data-dojo-props = "'tabPosition':'bottom','tabStrip': true, 'title':'Examinations'"
>

    <div data-dojo-type = "dojox/layout/ContentPane"
        data-dojo-props = "title:'Vitals'"
    >
        {% include 'visit/snippets/forms/vitals.html' %}
    </div>

    <div data-dojo-type = "dojox/layout/ContentPane"
        data-dojo-props = "title:'General'"
    >
        {% include 'visit/snippets/forms/gen_exam.html' %}         
    </div>

    <div  data-dojo-type = "dojox/layout/ContentPane"
          data-dojo-props = "title:'Systemic'"
    >
        {% include 'visit/snippets/forms/sys_exam.html' %}
    </div>

    <div data-dojo-type = "dojox/layout/ContentPane"
        data-dojo-props = "title:'Neurological'"
    >
        {% include 'visit/snippets/forms/neuro_exam.html' %}
    </div>
    
    <div data-dojo-type = "dojox/layout/ContentPane"
        data-dojo-props = "title:'Vascular'"
    >
        {% include 'visit/snippets/forms/vasc_exam.html' %}
    </div>
</div>