<div data-dojo-type = "dijit/form/Form" 
     id             = "newSocialHistoryCustomAddOrEditForm" 
     data-dojo-id   = "newSocialHistoryCustomAddOrEditForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type="dojo/method" data-dojo-event="onSubmit" data-dojo-args="evt">
    if( this.validate() ){
      require(["dijit/registry", 
              "dojo/request","dojo/dom","dojo/dom-form","dojo/json","dojo/_base/fx",
               "dojo/domReady!"
      ],
      function(registry, request, dom, domForm, JSON,fx){
          var url = "{{action}}";
          var form_data = domForm.toObject('newSocialHistoryCustomAddOrEditForm');
          request(url,{method:"POST", data: form_data}).
          then( 
            function(json){
              var jsondata = JSON.parse(json);
              if (jsondata.success == true){
                if (jsondata.editUrl){
                  registry.byId("social_history_list").set('href', jsondata.editUrl);
                }
              }
            },
            function(json){
              alert("Server Error ! Please retry..")
            },
            function(evt){
              dom.byId('patientSocialHistoryFormJsonMessage').innerHTML = "SocialHistory Form action completed successfully";
              fx.fadeOut( {node: dom.byId("patientSocialHistoryFormJsonMessage"), duration: 2000}).play();
              return false;
            }
          );
        return false;
   	   }
 		 );
 		 return false;
    }
    else{
     raiseInvalidFormSubmission();
     return false;
    }
  </script>

<table>
<tr>
  <th>
    <label for="id_marital_status">Marital status:</label>
  </th>
  <td>
  <textarea rows="10" 
            name="marital_status" 
            data-dojo-type="dijit.form.ValidationTextBox" 
            id="id_marital_status" 
            max_length="100" 
            cols="40" 
            data-dojo-props="required:true">
   </textarea>
  </td>
</tr>

<tr>
  <th>
    <label for="id_occupation">Occupation:</label>
  </th>
  <td>
    <input max_length="100" 
           name="occupation" 
           data-dojo-type="dijit.form.ValidationTextBox" 
           maxlength="100" 
           type="text" 
           data-dojo-props="required: true,regExp:'', invalidMessage : 'Invalid Character' " 
           id="id_occupation" />
   </td>
</tr>

<tr>
  <th>
    <label for="id_exercise">Exercise:</label>
  </th>
  <td>
    <input max_length="150" 
           name="exercise" 
           data-dojo-type="dijit.form.ValidationTextBox" 
           maxlength="100" 
           type="text" 
           data-dojo-props="required : true" 
           id="id_exercise" />
    </td>
</tr>

<tr>
  <th>
    <label for="id_diet">Diet:</label>
  </th>
  <td>
    <input max_length="150" 
            name="diet" 
            data-dojo-type="dijit.form.ValidationTextBox" 
            maxlength="100" 
            type="text" 
            data-dojo-props="required : true" 
            id="id_diet" />
  </td>
</tr>

<tr>
  <th>
      <label for="id_religion">Religion:</label>
  </th>
  <td>
    <input max_length="150" 
           name="religion" 
           data-dojo-type="dijit.form.ValidationTextBox" 
           maxlength="100" 
           type="text" 
           data-dojo-props="required : true" 
           id="id_religion" />
  </td>
</tr>

<tr>
  <th>
    <label for="id_home_occupants">Home occupants:</label>
  </th>

  <td>
    <textarea rows="10" 
              name="home_occupants" 
              data-dojo-type="dijit.form.Textarea" 
              id="id_home_occupants" 
              max_length="150" 
              cols="40" 
              data-dojo-props="required: true">
    </textarea>
   </td>
</tr>

<tr>
  <th>
    <label for="id_pets">Pets:</label>
   </th>
   <td>
    <textarea rows="10" 
              name="pets" 
              data-dojo-type="dijit.form.Textarea" 
              id="id_pets" 
              max_length="150" 
              cols="40" 
              data-dojo-props="required : true">
     </textarea>
   </td>
</tr>

<tr>
  <th>
    <label for="id_alcohol">Alcohol:</label>
  </th>
  <td>
    <textarea rows="10" 
              name="alcohol" 
              data-dojo-type="dijit.form.Textarea" 
              id="id_alcohol" 
              max_length="150" 
              cols="40" 
              data-dojo-props="required : true">
    </textarea>
  </td>
</tr>

<tr>
  <th>
    <label for="id_tobacco">Tobacco:</label>
  </th>
  <td>
    <textarea rows="10" 
              name="tobacco" 
              data-dojo-type="dijit.form.Textarea" 
              id="id_tobacco" 
              max_length="150" 
              cols="40" 
              data-dojo-props="required : true">
    </textarea>
  </td>
</tr>

<tr>
  <th>
    <label for="id_drug_abuse_history">Drug abuse history:</label>
  </th>
  <td>
    <textarea rows="10" 
              name="drug_abuse_history" 
              data-dojo-type="dijit.form.Textarea" 
              id="id_drug_abuse_history" 
              max_length="150" 
              cols="40" 
              data-dojo-props="required : true">
    </textarea>
   </td>
</tr>

<tr>
  <th>
    <label for="id_sexual_preference">Sexual preference:</label>
  </th>
  <td>
    <input max_length="100" 
            name="sexual_preference" 
            data-dojo-type="dijit.form.Textarea" 
            maxlength="100" 
            type="text" 
            data-dojo-props="required : true" 
            id="id_sexual_preference" />
   </td>
</tr>

<tr>
  <th>
    <label for="id_current_events">Current events:</label>
  </th>
  <td>
  <textarea rows="10" 
            name="current_events" 
            data-dojo-type="dijit.form.Textarea" 
            id="id_current_events" 
            max_length="250" 
            cols="40" 
            data-dojo-props="required : true">None
  </textarea>
  <br />
  <span class="helptext">Any ongoing / coming up issues in family having a bearing on treatment</span>
  </td>
</tr>

<tr>
  <td>
        <button data-dojo-type = "dijit/form/Button" 
                data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
                type           = "submit" 
                name           = "{{action}}Button" 
                value          = "{{action}}"
        >
          {{action}}
        </button>
        {% if canDel %}
          <button data-dojo-type  = "dijit/form/Button" 
						        data-dojo-props = "iconClass: 'dijitEditorIcon dijitEditorIconDelete'"
                    type            = "button"
                    name            = "delPatientSocialHistory"
                    id              = "delPatientSocialHistoryBtn"
           >
            Delete
            <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
              var confirmDialog = confirm("This will delete the SocialHistory Data.. Are you Sure ? ");
              if (confirmDialog == true){
                require(["dojo/request", "dojo/json", "dojo/dom", "dijit/registry"], 
                function(request, JSON, dom, registry){
                  request("{{delUrl}}",{method: "GET"}).
                  then(
                    function(json){
                      var jsondata = JSON.parse(json);
                      if(jsondata.success == true){
                        registry.byId("social_history_list").set('href', jsondata.addUrl);
                      }
                      else{
                        dom.byId("patientSocialHistoryFormJsonMessage").innerHTML = jsondata.error_message;
                      }
                    },
                    function(json){
                      alert("Server Error ! Please retry..")
                    },
                    function(evt){
                      console.log("Delete functions run successfully..");
                    }
                  );
                });
              }
              else{
                return false;
              }
            </script>
          </button>
        {% endif %}
  </td>
</tr>

</table>
</div>
