<div data-dojo-type ="dijit/layout/BorderContainer"
     data-dojo-props="design:'headline'"
     >
{% if user.is_authenticated %}

    <div data-dojo-type="dojox/layout/ContentPane"
        data-dojo-props="region: 'center', splitter: true"
        id = "visit_assessment_and_plan_center_pane_{{visit_detail_obj.id}}"
        >
        {% if visit_assessment_and_plan_action == 'add' %}
            {% include 'visit_assessment_and_plan/add.html' %}
        {% endif %}

        {% if visit_assessment_and_plan_action == 'edit' %}
            {% include 'visit_assessment_and_plan/edit.html' %}
        {% endif %}
    </div>

 {% if perms.visit_assessment_and_plan %}
 
    <div data-dojo-type="dojox/layout/ContentPane"
         data-dojo-props="region: 'trailing', splitter: true"
         style= "width:20em; 
                 background: whitesmoke; 
                 border-radius: 5px; 
                 border: solid #aaa 1px;
                "
         id = "visit_assessment_and_plan_trailing_pane_{{visit_detail_obj.id}}"
        >

        <span>
            {% include 'visit_assessment_and_plan/snippets/button_row/visit_assessment_and_plan_templates.html' %}
            {% include 'visit_assessment_and_plan/snippets/button_row/visit_assessment_and_plan_icd_10_lookup.html' %}
            {% include 'visit_assessment_and_plan/snippets/button_row/visit_assessment_and_plan_old.html' %}
        </span>

        <div style="display:none;" 
             data-dojo-type="dijit/Dialog"
             data-dojo-props="title: 'Previous Assessment and Plans' "
             data-dojo-id="visit_assessment_and_plan_old_dialog_{{visit_detail_obj.id}}"
             id="visit_assessment_and_plan_old_dialog_{{visit_detail_obj.id}}"
             style="min-width: 40em; 
                    max-width: 40em;
                   "
             > 
        </div>

    </div>

  {% endif %}

{% else %}

  <p class="suggestion_text"> 
    Insufficient Priviliges 
  </p>

{% endif %}
</div>