{% if perms.visit_assessment_and_plan.change_visitassessmentandplan %}

  <div data-dojo-type = "dijit/form/Form" 
      id              = "newVisitAssessmentAndPlanEditForm_{{visit_assessment_and_plan_obj.id}}"
      data-dojo-id    = "newVisitAssessmentAndPlanEditForm_{{visit_assessment_and_plan_obj.id}}"
      encType         = "multipart/form-data" 
      action          = "" 
      method          = ""
      style           = "height: 60em; min-width: 50em; overflow:auto;"
    >

    {% include 'visit_assessment_and_plan/snippets/js/visit_assessment_and_plan_edit_form_validate.html' %}
    {% include 'visit_assessment_and_plan/snippets/forms/assessment_and_plan.html' %}
    {% include 'visit_assessment_and_plan/snippets/button_row/visit_assessment_and_plan_edit.html' %}

  </div>

{% else %}

  <p class="suggestion_text" > 
    Insufficient Permissions
  </p>

{% endif %}