{% if perms.guardian.add_guardian %}
<div data-dojo-type  = "dijit/form/Form" 
      id             = "newGuardianAddForm" 
      data-dojo-id   = "newGuardianAddForm"
      encType        = "multipart/form-data" 
      action         = "" 
      method         = "">

        <script type="dojo/on" data-dojo-event="submit">

          if( this.validate() ){

            require([
            "dijit/registry", 
            ],

            function(registry){

            //    {% if perms.guardian.add_guardian %}
            addItem("{{patient_detail_obj.urls.add.guardian}}", "newGuardianAddForm", "GUARDIAN_GRID" );
            //    {% else %}
            registry.byId("permissionDeniedErrorDialog").show();
            //   {% endif %}

          });

          return false;

          }

          else{

            raiseInvalidFormSubmission();
            return false;

          }

        </script>

        <table>
          {{guardian_form}}
        </table>

        <button   type 	          = "submit" 
                  data-dojo-type  = "dijit/form/Button"
                  data-dojo-props = "iconClass:'dijitIconSave'"
                  name 	          = "submitbutton" 
                  id	          = "guardian_form_submit"
                  value           = "Add"
                >
          Add

        </button>

        <button   type 	        = "reset" 
                  data-dojo-type  = "dijit/form/Button"
                  data-dojo-props = "iconClass:'dijitIconClear'"
                  id 		        = "guardian_form_reset"
                  value           = "Reset"
                  >
            Reset

          <script type="dojo/on" data-dojo-event="click">
              return confirm( "This will reset the form. Proceed ? " );
          </script>

        </button>

</div>

{% else %}

  <p class="suggestion_text"> No Permission to add Guardians </p>

{% endif %}