{% if user and user.is_authenticated %}
<div data-dojo-type = "dijit/form/Form" 
     id             = "newGuardianEditForm" 
     data-dojo-id   = "newGuardianEditForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type="dojo/method" 
          data-dojo-event="onSubmit"
  >

    if( this.validate() ){
      require(["dijit/registry",
               "dojo/domReady!"
      ],
       function(registry){
         //	{% if perms.guardian.change_guardian %}
          editItem("{{guardian_obj.urls.edit}}","newGuardianEditForm");
         // {% else %}
          registry.byId("permissionDeniedErrorDialog").show();
         // {%endif %}
         return false;
   	   }
 		  );
     return false;
    }
    else{
     raiseInvalidFormSubmission();
     return false;
    }

  </script>

    <table>
      {{guardian_form}}
    </table>

   {%if perms.guardian.change_guardian %}

      <button data-dojo-type = "dijit/form/Button" 
              data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
              type           = "submit" 
              name           = "editButton" 
              value          = "Edit">
        Edit
      </button>

   {% endif %}

   {% if perms.guardian.delete_guardian %}

      <button data-dojo-type  = "dijit/form/Button" 
              data-dojo-props = "iconClass: 'dijitEditorIcon dijitEditorIconDelete'"    
              type            = "button"
              name            = "delGuardian"
              id              = "delGuardianBtn">

         Delete

        <script type="dojo/method" 
                data-dojo-event="onClick" 
                data-dojo-args="evt"
        >

            //	{% if perms.guardian.delete_guardian %}
                delItem("{{guardian_obj.urls.del}}");
            // {% else %}
                registry.byId("permissionDeniedErrorDialog").show();
            // {%endif %}

        </script>

      </button>

    {% endif %}
</div>
{% endif %}
