<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
	<meta name    = "generator" 
	      content = "HTML Tidy for Linux (vers 6 November 2007), see www.w3.org"
	>
	{% block title %} 
	  <title> AuShadha </title> 
	{% endblock title %} 

<!--The global non template tagged style sheet and Dojo specific Style sheets from here-->
  {% block media %} 
    {% include 'style_links.html' %} 
  {% endblock media %} 

  {% block style_bits %} 
    <style  type="text/css">
      {%include "style.css" %}
    </style>
  {% endblock style_bits %} 

  {% block js %} 
    {% include 'script_links.html' %} 
  {% endblock js %} 

  <script type="text/javascript">
  require([ 
          "dojo/parser", 
          "dojo/_base/connect",
          "dojo/on",
          "dijit/form/Form",
          "dijit/form/Button",
          "dijit/form/TextBox",
          "dijit/form/ValidationTextBox", 
          "dijit/form/Textarea",
          "dojox/form/Manager", 
          "dojox/validate/web",
          "dijit/Dialog",
          "dijit/layout/ContentPane",
          "dijit/layout/TabContainer"
  ]);
  </script>
  
  <script type="text/javascript">
   {% include 'login.js' %}
  </script>



</head>

<body class="claro">
<div id="loginDiv"> </div>
  <div class  = "header_with_logo"
      style  = "position       : relative; 
                left           : 60em;"
  >
   <img src="{{STATIC_URL}}images/AuShadha_logo/AuShadha_logo_128.png" 
        alt="AuShadha" 
        title="AuShadha Public Health Clinic EMR & Management Open Source Project">
  </div>
<div data-dojo-type = "dijit/form/Form" 
     id             = "loginForm" 
     data-dojo-id   = "loginForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

    <script type="dojo/method">
//      require(["dojo/behavior"], function(behaviour){genericFormBehaviour()});
    </script>

    <script type="dojo/method" data-dojo-event="onSubmit">
     if(this.validate()){ handleLogin(); return false;}
     else{
       require(["dijit/registry"],
       function(registry){
         var dialog = registry.byId( "dialogJsonMessage" );
         dialog.set( 'title'  , "ERROR! " );
         dialog.set( 'content', "<p class='error_text'> Form contains invalid data. Please correct</p>" );
         dialog.show();
       });
      return false;
     }
 </script>

<script type="dojo/method">
  
</script>

	<div id    = "login_form_div"
	     style = "position   : relative; 
	              left       : 46em; 
	              top        : 10em;
	              text-align : center; vertical-align:middle; padding:5px; width: 300px; margin-bottom: 20px;
	              border     : solid #ddd 2px;
	              border-radius: 4px;
	              box-shadow: 1px 1px 10px #aaa;
	              background: #fff;
	              width: 25em; 
	              height: auto;
	              padding: 7em;
	              "
	>
	<table style="margin-bottom: 20px;">
		<tr style  = "text-align:center; position:relative;padding: 10px;">
				<td style="padding: 10px;"> <label for="id_username"> User Name </label></td>
				<td  style="padding: 10px;"> 
      				{% csrf_token %} 
				     <input type = "text" 
				            data-dojo-type  = "dijit/form/ValidationTextBox"
				            data-dojo-props = "required:true" 
				            id     = "id_username" 
				            name   = "username" 
				            value  = "">
				</td>
		</tr>
		<tr  style="padding: 10px;">
			 	<td  style="padding: 10px;"> <label for="id_password"> 
				        Password 
				     </label> 
				</td>
				<td  style="padding: 10px;"> <input type            = "password" 
 				            data-dojo-type  = "dijit/form/ValidationTextBox"
				            data-dojo-props = "required:true" 
				            id              = "id_password" 
				            name            = "password" 
				            value           = ""> 
				</td>
		</tr>
		<input type  = "hidden" 
			     name  = "next" 
			     value = "{{ next }}" >
		</table>
     <button data-dojo-type = "dijit/form/Button" 
	        type           = "submit" 
	        value          = "Login" 
	        name           = "submitLoginForm"
	        >
      <img src   = "{{STATIC_URL}}/images/access_key_small.png" 
           alt   = "Login" 
           title = "Login" 
           class = "small_img"
           style = "padding-right:2px;">
      Login
    </button>  

 		<button data-dojo-type = "dijit/form/Button" 
 		        data-dojo-id   = "applyForRegistration"
	          type           = "button" 
	          value          = "Register" 
	          name           = "applyForRegistration"
	          >
      <img src   = "{{STATIC_URL}}/images/patient_data.png" 
           alt   = "Register" 
           title = "Register" 
           class = "small_img"
           style = "padding-right:2px;">
      Register
      <script type="dojo/on" data-dojo-event="click">
				require(["dijit/Dialog"], 
				function(Dialog){
						var dialog = new Dialog({
														title : "Sorry..",
														content: "Dear User, This feature will be implemented soon\
														         \nThanks for your patience",
														style  : "width: 30em; height: auto;"
														});
						dialog.show();
					});
      </script>
    </button>  		

	</div>
  <div id="loginErrorDialog" data-dojo-type="dijit/Dialog"> </div>

	<div id    = "login_footer" 
	     style = "position:relative; 
	              top:10em; 
	              left: 0em; 
	              font-size: 14px; 
	              color: RoyalBlue; 
	              text-align:center; 
	              margin-top: 10em;
	              margin-bottom:10px;">
	  	 <i>
				<p> AuShadha and its Logo &copy; 
					<a href="http://www.dreaswar.com" target="_blank" title="Dr. Easwar's Website & Blog'"> 
					   Dr. Easwar T.R 2012 
					</a>
					&nbsp; | &nbsp; 
					<a   id='aushadha_license_clickable' 
					     href="#"
					     title="License &amp; Credits"
					     data-dojo-id="aushadha_license_clickable"
					     onClick="aushadha_license_text_dialog.show();"
					     style="cursor:pointer; font-weight:bold;"
					 > 
					 <img src="http://www.gnu.org/graphics/gplv3-127x51.png" style="width:64px; height:32px;">
					 License &amp; Credits
					</a>

					<!--START OF DIALOG DIV 	 -->
					<div  data-dojo-type  = "dijit/Dialog" 
					      style           = "display:none;" 
					      data-dojo-id    = 'aushadha_license_text_dialog'
					      data-dojo-props = "title:'PLEASE READ'"
					> 
								{% include 'about_credits_and_license.html' %}
					</div>
					<!--  END OF DIALOG DIV -->

				</p>
				&nbsp; | &nbsp; 
				<a href="mailto:dreaswar@gmail.com">dreaswar.gmail.com </a> 
				&nbsp; | &nbsp; 
				<a href='http://www.facebook.com/AuShadha/' target="_blank" title="Facebook Page"> Facebook </a>
				&nbsp; | &nbsp; 
				<a href="http://dreaswar.github.com/AuShadha/" target="_blank"> 
					<img src="http://octodex.github.com/images/original.jpg" 
						style="width:32px; height: 32px;" 
						title="Github Repo"
						alt=""> GitHub 
				</a>
				&nbsp; | &nbsp; 
       </i>
	</div>

</div>
</body>
</html>

