<div data-dojo-type = "dijit/form/Form" 
     id             = "newSocialHistoryAddOrEditForm" 
     data-dojo-id   = "newSocialHistoryAddOrEditForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

      <script type="text/javascript" >

          require( 
            ["dijit/registry", 
              "dojo/store/Memory",
              "dojo/ready", 

              "dijit/form/ComboBox",
              "dijit/form/FilteringSelect",
              "dijit/form/MultiSelect",

              "dojo/dom","dojo/_base/window",
              "dojo/dom-construct","dojo/dom-style",
              "dojo/parser",

              "dojo/domReady!"
            ],

          function(registry,
                   Memory,
                   ready,
                   ComboBox, 
                   FilteringSelect, 
                   MultiSelect,
                   dom,
                   win, 
                   domConstruct, 
                   domStyle, 
                   parser)
          {

            ready( function(){ 

              /* Set Variables */
              var tobacco_abuse_frequency = [];
              var alcohol_abuse_frequency = [];
              var interval_list = ['per day', 'per week', 'per month','per year'];

              /* Call Functions */
              parser.parse("newSocialHistoryAddOrEditForm");

              registerOccupation();
              registerHomeOccupants();
              registerPets();

              constructAbuseFrequencyList(alcohol_abuse_frequency, "ml");
              var alcoholAbuseStore = new Memory({data:alcohol_abuse_frequency});
              createAbuseWidget('id_alcohol_no',alcoholAbuseStore,"alcohol_no");

              constructAbuseFrequencyList(tobacco_abuse_frequency, "Cigarettes");
              var tobaccoAbuseStore = new Memory({data:tobacco_abuse_frequency});
              createAbuseWidget('id_tobacco_no',tobaccoAbuseStore,"tobacco_no");

              AlcoholAndTobaccoWidgetEvents('id_alcohol','id_alcohol_no');
              AlcoholAndTobaccoWidgetEvents('id_tobacco','id_tobacco_no');

              function AlcoholAndTobaccoWidgetEvents(/*widget id| String*/wi, /*node id to change | String */ no){
              /* Assign onBlur events to ComboBoxes*/
                console.log("trying to assign onBlur and onChange event to widget with ID:" + wi)
                var Cb    = registry.byId(wi.toString());
                console.log("widget with ID:" + wi)
                console.log(Cb)
                var noCb  = registry.byId(no.toString());
                console.log("widget with ID:" + no)
                console.log(noCb)
                function onChangeOrBlurDo(/*Widget*/w, /* Widge to update*/ n){
                    var cbVal = w.get('value');
                    if(cbVal == "none"){
                      n.set('value',"");
                      n.set('disabled',true);
                    }
                    else{
                      n.set('disabled',false);
                    }
                }
                Cb.onChange = function(){
                  onChangeOrBlurDo(Cb,noCb);
                }
                Cb.onBlur = function(){
                  onChangeOrBlurDo(Cb,noCb);
                }

              }

              /* Set Functions */

              function constructAbuseFrequencyList(l /*List to Update*/,u /* Units */ ){
                for(var i=1; i<500; i++){
                  for(var q=0; q<interval_list.length; q++){
                    var array_to_append ={}
                    array_to_append['id'] = i.toString()+"_" + interval_list[q].replace(" ","_");
                    array_to_append['name'] = i.toString()+ " " + u.toString() +" " + interval_list[q];
                    l.push(array_to_append);
                  }
                }
              }

              function createAbuseWidget(dId/*domId of the widget */,sV /*Store*/, wN /*widgets name attribute*/){
                var wid   = dId.toString()
                var wname = wN.toString()
                var span_id = wid +"_span"
                var spanNode = dom.byId(span_id);
                console.log(spanNode)
                console.log("Trying to create a widge with ID:" + wid);
                console.log("Trying to create a widge with Name:" + wname);
                var widget = registry.byId(wid); 
                if (widget){
                  widget.destroyRecursive();
                  console.log("Destroyed the Tobacco/Alcohol Widget..");
                  console.log("Checking for presence of destroyed node:" + dom.byId(wid))
                }
                var newNode = domConstruct.create("select",{id:wid,name:wname},spanNode)
                console.log("Checking New node:" + newNode);
                var w = new ComboBox({
                                    name          : wname,
                                    store         : sV,
                                    searchAttr    : "name",
                                    onBlur        : function(){
                                                      /* Define the onBlur Event to check for invalid values */
                                                      if(wid=='id_alcohol_no'){
                                                        var nodeIdVal = registry.byId('id_alcohol').get('value');
                                                        if(nodeIdVal == "none"){
                                                          this.set('value',"");
                                                        }
                                                      }
                                                      if(wid=='id_tobacco_no'){
                                                        var nodeIdVal = registry.byId('id_tobacco').get('value');
                                                        if(nodeIdVal == "none"){
                                                          this.set('value',"");
                                                        }
                                                      }
                                                    }
                                    }, 
                                    wid);
                w.startup();
                console.log(w)
                console.log("Created the Tobacco/Alcohol Widget..")
              }


              function alertConflict(){
                  var conflicting_choices = "Please remove conflicing choices";
                  invalidFormSubmissionErrorDialog.set("content",conflicting_choices); 
                  invalidFormSubmissionErrorDialog.show();
              }

              function registerOccupation(){

                registry.byId('id_occupation').destroy(true);
                var occupationStore  = new Memory({data:[{name:"Doctor", id:"doc"}, 
                                                        {name:'Engineer', id:"engineer"},
                                                        {name:"Acccountant",id:'accountant'},
                                                        {name:"Software Engineer",id:'software_engineer'},
                                                        {name:"Manual Labourer",id:'manual_labourer'},
                                                        {name:"House Wife",id:'house_wife'},
                                                        {name:"Student",id:'student'},
                                                        {name:"Unemployed",id:'unemployed'},
                                                        {name:"Others",id:'others'},
                                                        ]
                                                });
                var occupation = new ComboBox({
                                          name          : "occupation",
                                          store         : occupationStore,
                                          searchAttr    : "name",
                                    }, 
                                    "id_occupation");
                occupation.startup();
              }

              function registerHomeOccupants(){
                registry.byId('id_home_occupants').destroy(true);
                console.log("Destroyed the Home Occupants widget.. trying to recreate and populate");
                var home_occupants_domNode = dom.byId("id_home_occupants");
                var relatives = ['Mother',"Father",
                                "Brother","Sister",
                                'Wife', "Son", "Daughter",
                                "Grand Mother","Grand Father","Grand Children",
                                "Living alone at home",
                                "Under Institutional Care",
                                "Others"
                ];
                for(var i=0; i<relatives.length; i++ ){
                  var c = win.doc.createElement("option");
                  c.innerHTML = relatives[i];
                  c.value     = relatives[i].toLowerCase();
                  home_occupants_domNode.appendChild(c);
                }
                console.log("Options in the node populated");
                var home_occupants = new MultiSelect({
                                          name          : "home_occupants",
                                          onBlur: function(){ 
                                                    var value_list = this.get('value').toString().split(',');
                                                    if(value_list.length>1){
                                                      for(var i=0; i<value_list.length;  i++){
                                                        if(value_list[i] == "living alone at home"){
                                                          this.set('value',[]);
                                                          alertConflict();
                                                          break;
                                                        }
                                                        else if(value_list[i] == "under institutional care"){
                                                          this.set('value',[]);
                                                          alertConflict();
                                                          break;
                                                        }
                                                        else if(value_list[i] == "others"){
                                                          this.set('value',[]);
                                                          alertConflict();
                                                          break;
                                                        }
                                                      }
                                                    }
                                                  }
                                    }, 
                                    "id_home_occupants");
                home_occupants.startup();
                console.log("Widget recreated..");
              }

              function registerPets(){
                registry.byId('id_pets').destroy(true);
                console.log("Destroyed the Pets widget.. trying to recreate and populate");
                var pets_domNode = dom.byId("id_pets");
                var pets_list = ["None",'Dog',"Cat",
                                "Horse","Hamster",
                                'Rabbit', "Reptiles", 
                                "Birds","Others"
                ];
                for(var i=0; i<pets_list.length; i++ ){
                  var c = win.doc.createElement("option");
                  c.innerHTML = pets_list[i];
                  c.value     = pets_list[i].toLowerCase();
                  pets_domNode.appendChild(c);
                }
                console.log("Options in the node populated");
                var pets_widget = new MultiSelect({
                                          name  : "pets",
                                          value : ["None"],
                                          onBlur: function(){ 
                                                    var value_list = this.get('value').toString().split(',');
                                                    if(value_list.length > 1){
                                                      for(var i=0; i<value_list.length;  i++){
                                                        if(value_list[i] == "none"){
                                                          console.info("Cannot Select other options when 'None' is selected. ");
                                                          this.set('value',[]);
                                                          alertConflict();
                                                          break;
                                                        }
                                                        else if(value_list[i] == "others"){
                                                          console.info("Cannot Select other options when 'Others' is selected.");
                                                          this.set('value',[]);
                                                          alertConflict();
                                                          break;
                                                        }
                                                      }
                                                    }
                                                  }
                                    }, 
                                    "id_pets");
                pets_widget.startup();
                console.log("Widget recreated..");
              }

            //{% if canDel %}

              console.log('{{addData}}');

              registry.byId('id_marital_status').set('value','{{addData.marital_status}}');
              registry.byId('id_marital_status_notes').set('value','{{addData.marital_status_notes}}');

              registry.byId('id_occupation').set('value','{{addData.occupation}}');
              registry.byId('id_occupation_notes').set('value','{{addData.occupation_notes}}');

              registry.byId('id_exercise').set('value','{{addData.exercise}}');
              registry.byId('id_exercise_notes').set('value','{{addData.exercise_notes}}');

              registry.byId('id_diet').set('value','{{addData.diet}}');
              registry.byId('id_diet_notes').set('value','{{addData.diet_notes}}');

              var home_occupants = "{{addData.home_occupants}}".split(',');
              var pets           = "{{addData.pets}}".split(',');

              registry.byId('id_home_occupants').set('value',home_occupants);
              registry.byId('id_home_occupants_notes').set('value','{{addData.home_occupants_notes}}');

              registry.byId('id_pets').set('value',pets);
              registry.byId('id_pets_notes').set('value','{{addData.pets_notes}}');

              registry.byId('id_alcohol').set('value','{{addData.alcohol}}');
              registry.byId('id_alcohol_no').set('value','{{addData.alcohol_no}}');
              registry.byId('id_alcohol_notes').set('value','{{addData.alcohol_notes}}');

              registry.byId('id_tobacco').set('value','{{addData.tobacco}}');
              registry.byId('id_tobacco_no').set('value','{{addData.tobacco_no}}');
              registry.byId('id_tobacco_notes').set('value','{{addData.tobacco_notes}}');

              registry.byId('id_drug_abuse').set('value','{{addData.drug_abuse}}');
              registry.byId('id_drug_abuse_notes').set('value','{{addData.drug_abuse_notes}}');

              registry.byId('id_sexual_preference').set('value',
                                                        '{{addData.sexual_preference}}'
              );
              registry.byId('id_sexual_preference_notes').set('value',
                                                        '{{addData.sexual_preference_notes}}'
              );

              registry.byId('id_current_events').set('value',
                                                    '{{addData.current_events}}'
              );

            //{% endif %}

            });
          });

      </script>


      <script type="dojo/on" data-dojo-event="submit">

        if( this.validate() ){

          require(["dijit/registry", 
                  "dojo/request",
                  "dojo/dom",
                  "dojo/dom-form",
                  "dojo/json",
                  "dojo/_base/fx",
                  "dojo/ready",
                  "dijit/form/Button",
                  "dojo/domReady!"
          ],

          function(registry, request, dom, domForm, JSON,fx,ready){

              var url = "{{action}}";
              var form_data = domForm.toObject('newSocialHistoryAddOrEditForm');

              request(url,{method:"POST", data: form_data}).
              then( 

                function(json){

                  var jsondata = JSON.parse(json);

                  if (jsondata.success == true){
                    console.log(jsondata);
                    publishInfo(jsondata.error_message);
                    var socialHistoryFormCP = registry.byId("SOCIAL_HISTORY_CENTER_CP");
                    socialHistoryFormCP.set( 'href', "{{patient_detail_obj.urls.add.social_history}}" );
                  }

                  else{
                    publishError("Error Saving. Please retry");
                  }

                },

                function(json){
                  var jsondata = JSON.parse(json);              
                  publishError("Server Error ! Please retry..")
                  publishError(json.error_message)
                },

                function(evt){
                  publishError("Server Error ! Please retry ");
                  console.debug(evt);
                }

              );

            return false

          });

          return false

        }

        else{
          raiseInvalidFormSubmission();
          return false
        }

      </script>


    <table id="social_history_form_table">
      <tr>
          
          <th> <label for="id_marital_status"> Marital Status</label></th>
          <td>{{ social_history_form.marital_status }} 
              {{social_history_form.marital_status_notes}}
          </td>
      </tr>
      <tr>
              <th><label for="id_occupation"> Occupation</label></th>
              <td>{{ social_history_form.occupation }}    
                  {{social_history_form.occupation_notes}}
              </td>
      </tr>
      <tr>
              <th><label for="id_exercise"> Exercise</label></td>
              <td>{{ social_history_form.exercise }}  
                  {{social_history_form.exercise_notes}}
              </td>
      </tr>
      <tr>
          <th><label for="id_diet"> Diet</label></th>
          <td>{{ social_history_form.diet }} 
              {{social_history_form.diet_notes}}</td>
      </tr>
      <tr>
          <th> <label for="id_home_occupants">Home Occupants</label>
          <td> {{ social_history_form.home_occupants }}
                {{social_history_form.home_occupants_notes}} </td>
      </tr>
      <tr>
          <th><label for="id_pets"> Pets</label></th>
          <td>{{social_history_form.pets }}
              {{social_history_form.pets_notes}}</td>
      </tr>
      <tr>
          <th><label for="id_alcohol"> Alcohol</label>
          <td>   {{ social_history_form.alcohol }}
                  <span id="id_alcohol_no_span" 
                        style="color:navy; font-style:italics;">
                  &nbsp;&nbsp;# 
                  {{social_history_form.alcohol_no}}
                  &nbsp;
                  </span>
                {{social_history_form.alcohol_notes}}
          </td>
      </tr>
      <tr>
          <th>  <label for="id_smoking"> Smoking</label> </th>
          <td> {{ social_history_form.tobacco }} 
                <span id="id_tobacco_no_span" 
                      style="color:navy; font-style:italics;">
                &nbsp;&nbsp;# 
                {{social_history_form.tobacco_no}}
                &nbsp;
                </span>
                {{social_history_form.tobacco_notes}}
          </td>
      </tr>
      <tr>
          <th>  <label for="id_drug_abuse"> Drug Abuse</label></th>
          <td> {{ social_history_form.drug_abuse }}  
                {{social_history_form.drug_abuse_notes}}
          </td>
      </tr>
      <tr>
          <th> <label for="id_sexual_preference"> Sexual Preference</label> </th>
          <td> {{ social_history_form.sexual_preference }}  
              {{social_history_form.sexual_preference_notes}}
          </td>
      </tr>
    
    </table>

    <table style="background: #ddd; 
                  width:100%; 
                  margin:15px 0px 15px 0px;
                  border-top:solid #ddd 1px;
                 "
      >
      <tr>
        <th><label for="id_current_events"> Current Events</label></th>
        <td>{{ social_history_form.current_events }}</td>
      </tr>
    </table>

    <button data-dojo-type = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
            type           = "submit" 
            name           = "{{button_label}}Button" 
            value          = "{{button_label}}"
            id             = "socialHistoryFormAddOrEditButton"
    >
      {{button_label}}
    </button>

    {% if canDel %}
    <button data-dojo-type  = "dijit/form/Button" 
            data-dojo-props = "iconClass: 'dijitEditorIcon dijitEditorIconDelete'"
            type            = "button"
            name            = "socialHistoryFormDelButton"
            id              = "socialHistoryFormDelButton"
            >
      Delete

      <script type="dojo/on" data-dojo-event="click">
          
          var confirmDialog = confirm('This will delete the SocialHistory Data.. Are you Sure ? ')

          if (confirmDialog == true){

            require( 

              ["dojo/request", 
               "dojo/json", 
               "dojo/dom", 
               "dijit/registry"
              ], 

            function(request, JSON, dom, registry){

              request("{{delUrl}}",{method: "GET"}).
              then(

                function(json){

                  var jsondata = JSON.parse(json);

                  if(jsondata.success == true){
                    publishInfo(jsondata.error_message);
                    var socialHistoryFormCP = registry.byId("SOCIAL_HISTORY_CENTER_CP");
                    socialHistoryFormCP.set( 'href', "{{patient_detail_obj.urls.add.social_history}}" );
                  }
                  else{
                    publishError(jsondata.error_message);
                  }

                },

                function(json){
                  publishError("Server Error ! Please retry..")
                },

                function(evt){
                  publishError(evt)
                  console.log("Delete functions run successfully..");
                }

              );

            });

          }

          else{
            return false
          }

      </script>

  </button>

{% endif %}