<div data-dojo-type = "dijit/form/Form" 
     id             = "newSocialHistoryEditForm" 
     data-dojo-id   = "newSocialHistoryEditForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type="dojo/method" data-dojo-event="onSubmit" data-dojo-args="evt">
    if( this.validate() ){
      require(["dijit/registry",
               "dojo/domReady!"
      ],
       function(registry){
         //	{% if perms.social_history.change_socialhistory %}
          editItem("{{social_history_obj.urls.edit}}","newSocialHistoryEditForm","social_history_list");
         // {% else %}
          registry.byId("permissionDeniedErrorDialog").show();
         // {%endif %}
         return false;
        });
     return false;
    }
    else{
     raiseInvalidFormSubmission();
     return false;
    }
  </script>

    <table>
        {{social_history_form}}
    </table>

    {% if perms.social_history.change_socialhistory %}
        <button data-dojo-type = "dijit/form/Button" 
                data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
                type           = "submit" 
                name           = "editButton" 
                value          = "Edit"
        >
          Edit
        </button>
    {% endif %}

    {% if perms.social_history.delete_socialhistory %}
    <button data-dojo-type  = "dijit/form/Button" 
            data-dojo-props = "iconClass: 'dijitEditorIcon dijitEditorIconDelete'"
            type            = "button"
            name            = "delSocialHistory"
            id              = "delSocialHistoryBtn">
       Delete
       <script  type            = "dojo/method" 
                data-dojo-event = "onClick" 
                data-dojo-args  = "evt"
        >
         //	{% if perms.social_history.delete_social_history %}
		     delItem("{{social_history_obj.urls.del}}", "social_history_list");
         // {% else %}
         registry.byId("permissionDeniedErrorDialog").show();
         // {%endif %}
        </script>
    </button>
    {% endif %}

</div>
