<fieldset>
  <legend>
    Attach Examinations 
  </legend>
  <div data-dojo-type = "dijit/form/Form" 
      id             = "addExamChoiceVisitForm_{{visit_detail_obj.id}}"
      data-dojo-id   = "addExamChoiceVisitForm_{{visit_detail_obj.id}}"
      encType        = "multipart/form-data" 
      action         =  "" 
      method         =  ""
      style          = "overflow: auto;"
      >

    <select data-dojo-type='dijit/form/MultiSelect' 
            size="10"
            data-dojo-props="'multiple': true, 'required':true"
            id="addExamsChoice_visit_{{visit_detail_obj}}">
      <option value="vital" name="Vital"            > Vital           </option>
      <option value="general" name="General"        > General         </option>
      <option value="systemic" name="Systemic"      > Systemic        </option>
      <option value="musculoskeletal" name="Musculoskeletal"  > Musculoskeletal </option>
      <option value="cns" name="CNS"                > CNS             </option>
      <option value="vascular" name="Vascular"      > Vascular        </option>
    </select>
    <input type="submit" 
          data-dojo-type="dijit/form/Button" 
          data-dojo-props="'label': 'Add Exam' "
          name="addExamForm_visit_submitButton"
          value="Add Exams"
          >
  </div>
</fieldset>