
{% if perms.visit_soap.add_visitsoap %}
    
  <div data-dojo-type = "dijit/form/Form" 
      id              = "newVisitSOAPAddForm_{{visit_detail_obj.id}}"
      data-dojo-id    = "newVisitSOAPAddForm_{{visit_detail_obj.id}}"
      encType         = "multipart/form-data" 
      action          = "" 
      method          = ""
      style           = "height: 60em; min-width: 50em; overflow:auto;"
    >

    {% include 'visit_soap/snippets/js/visit_soap_add_form_validate.html' %}
    {% include 'visit_soap/snippets/forms/soap.html' %}
    {% include 'visit_soap/snippets/button_row/visit_soap_add.html' %}

  </div>

{% else %}

  <p class="suggestion_text" > 
    Insufficient Permissions
  </p>

{% endif %}