<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
	<meta name    = "generator" 
	      content = "HTML Tidy for Linux (vers 6 November 2007), see www.w3.org"
	>
	{% block title %} 
	  <title> AuShadha </title> 
	{% endblock title %} 

<!--The global non template tagged style sheet and Dojo specific Style sheets from here-->
  {% block media %} 
    {% include 'style_links.html' %} 
  {% endblock media %} 

  {% block style_bits %} 
    <style  type="text/css">
      {%include "style.css" %}
    </style>
  {% endblock style_bits %} 

  {% block js %} 
    {% include 'script_links.html' %} 
  {% endblock js %} 

  {% comment %}
    <script type="text/javascript">
      require([ 
              "dojo/parser", 
              "dojo/_base/connect",
              "dojo/on",
              "dijit/TitlePane",
              "dojox/layout/ContentPane", 
              "dijit/layout/TabContainer", 
              "dijit/layout/BorderContainer",
              "dijit/layout/SplitContainer",
              "dijit/form/Form",
              "dijit/form/Button",
              "dijit/form/TextBox",
              "dijit/form/ValidationTextBox", 
              "dijit/form/Textarea",
              "dijit/form/SimpleTextarea",
              "dijit/form/DateTextBox",
              "dijit/form/TimeTextBox",
              "dijit/form/NumberTextBox",
              "dijit/form/Select",
              "dijit/form/MultiSelect",
              "dijit/form/FilteringSelect",
              "dojox/form/Manager", 
              "dojox/validate/web",
              "dijit/Menu",
              "dijit/Tooltip",
              "dijit/MenuBar",
              "dijit/PopupMenuBarItem",
              "dijit/DropDownMenu",
              "dijit/MenuItem",
              "dojo/data/ItemFileWriteStore",
              "dojox/data/QueryReadStore",
              "dijit/Tree",
              "dojo/store/Observable"
      ]);
    </script>
  {% endcomment %}


 <!- Defining Global Events in Javascript -->

  <script type="text/javascript">
    /* 
       Global Variables
    */

    var ADD_MORE_PATIENTS,
        ADD_MORE_PATIENT_CONTACT,
        ADD_MORE_PATIENT_PHONE   ,
        ADD_MORE_PATIENT_GUARDIAN ,
        ADD_MORE_PATIENT_ADMISSION ,
        ADD_MORE_PATIENT_VISIT,
        ADD_MORE_ITEMS;

  </script>

  <script type="text/javascript">
    /* 
       Global Variables for Grid Structures
    */
       {% include 'grid_structures.js' %}
  </script>

  <script type="text/javascript">
    /* 
       Contains the Logic of eventing in Patient Search Form Partly. 
       Some of it is implemented in the HTML declaratively.
       Triggered when the patient search text is entered 
       A separate trigger is present in search/patient.html
       for handling the click event of the Filter button
    */

   {% include 'events.js' %}
  </script>

  <script type="text/javascript">
   {% include 'script.js' %}
  </script>

 	{% block js_bits %} 

	{% endblock js_bits %}
</head>

<body class="claro">

<!--  START OF APPLAYOUT  -->
<div    id              = "appLayout" 
        class           = "demoLayout"
        data-dojo-type  = "dijit/layout/BorderContainer">

{% block topbar %}
  <!--  START OF TOPPANE  -->
  <div    id              = "topPane"
          class           = "edgePanel"
          data-dojo-type  = "dojox/layout/ContentPane"
          data-dojo-props = "region: 'top'"
  >

    <!--  START OF HEADERAREA  -->
     <div id              ="header_area"
          class           = "edge"
          data-dojo-type  = "dijit/layout/BorderContainer"
     > 

	     <h3 class="header_with_logo"> 
                     <img src="{{STATIC_URL}}images/AuShadha_logo/AuShadha_logo_64.png" 
                          alt="AuShadha" 
                          title="AuShadha Public Health Clinic EMR & Management Open Source Project">
        </h3>

       <!--  START OF LOGINAREA  -->
		   <div id              ="login_area"
		        class           = "edge"
            data-dojo-type  = "dojox/layout/ContentPane"
            data-dojo-props = "region     : 'right'"
            style           = "border     : none; 
                               margin     : 0px !important; 
                               padding    : 0px !important; 
                               background : none; 
                               overflow   : visible;
                               position   : absolute;
                               top        : 0px;
                               height     : 40px;
                               "
       > 
		     {% if user.is_authenticated %}
		      <img src   = "{{STATIC_URL}}images/user.png" 
		           alt   = "{{user.username}}"
		           title = "Logged in as: {{user.username}}"
		           class = "login_area_img">
		       &nbsp; <em>{{user.username}}</em>
		      {% if user.is_staff %}
		      <a href="/AuShadha/admin/" title="Admin Area">
		      <img src   = "{{STATIC_URL}}images/system_run.png" 
		           alt   = "Admin"
		           title = "Admin Area"
		           class = "login_area_img">
		      </a>
		      {% endif %}
		      &nbsp; 
		      <a href="/AuShadha/logout/" title="Logout">
		      <img src   = "{{STATIC_URL}}images/system_log_out.png" 
		           alt   = "Logout"
		           title = "Logout: {{user.username}}"
		           class = "login_area_img">
		      </a>&nbsp; 
		     {% else %}
		      <a href="/AuShadha/login/" title="Login">
		      <img src   = "{{STATIC_URL}}images/system_log_in.png" 
		           alt   = "Login"
		           title = "Login"
		           class = "login_area_img">
		      </a>
		     {% endif %}
		 </div>
    <!--  END OF LOGIN AREA  -->

  </div>
  <!--  END OF HEADER AREA  -->

 </div>
<!--  END OF TOP PANE  -->
{% endblock topbar %}



{% block centerbar %}

<!--  START OF CENTERMAINPANE  -->
<div    id              = "centerMainPane"
        class           = "centerMainPane"
        data-dojo-type  = "dojox/layout/ContentPane"
        data-dojo-props = "region:'center'"
>

      <!--  START OF CENTERTOPTABPANE -->
      <div   id              = "centerTopTabPane"
             class           = "centerTopTabPane"
             data-dojo-id    = "centerTopTabPane"
             data-dojo-type  = "dijit/layout/TabContainer"
             data-dojo-props = "tabPosition:'top'"
       >

          <!--  START OF PATIENTHOMECONTENTPANE  -->
          <div  id              = "patientHomeContentPane"
                data-dojo-id    = "patientHomeContentPane"
                class           = "patientHomeContentPane"
                data-dojo-type  = "dojox/layout/ContentPane"
                data-dojo-props = "title          : 'Patients' , 
                                   executeScripts : true,
                                   scriptHasHooks : true
                                  "
          >
              <!--  START OF PATIENTBORDERCONTAINER -->
              <div  id              = "patientBorderContainer"
                    data-dojo-id    = "patientBorderContainer"
                   class           = "patientBorderContainer"
                   data-dojo-type  = "dijit/layout/BorderContainer"
              >

                      <!--  START OF PATIENTLISTCONTENTPANE  -->
                      {% if perms.patient %}
                      <div  id              = "patientListContentPane"
                            data-dojo-id    = "patientListContentPane"
                            class           = "patientListContentPane"
                            data-dojo-type  = "dojox/layout/ContentPane"
                            data-dojo-props = "region    : 'center', 
                                               splitter  :  true
                                              "
                            style           = "height: 500px;"
                      >

                          {%if perms.patient.add_patientdetail %}
                          <button id             = "addPatientButton" 
                                  type           = "button"
                                  data-dojo-props= "iconClass: 'dijitIconNewTask'"
                                  data-dojo-id   = "addPatientButton"
                                  title          = "Register a New Patient to the Clinic"
                          > 
                              Add Patient
                          </button>
                          {% endif %}

                          <div style="
                                  margin-bottom   : 0px;
                                  position        : relative;
                                  left            : 0px;
//                                  left          : 50px;
//                                  top           : -25px;
                                  width           : 600px;
                                  overflow        : auto;
                                  margin-left     : 0px; 
                                  padding-left    : 0px;"
                               id = "searchPatientContainerDiv"
                           >
                             {% include 'search/patients.html' %}
                          </div>
                          <div id      = "patient_grid" 
                          >       
                          </div>

                     </div>
                    <!--  END OF PATIENTLISTCONTENTPANE  -->

                    <!--  START OF PATIENTCONTEXTPANE  -->
                    <div  id              = "patientContextPane"
                          class           = "patientContextPane"
                          data-dojo-type  = "dojox/layout/ContentPane"
                          data-dojo-props = "region    : 'right',
                                             splitter  :  true
                                             "
                          style           = "width       :600px; height:auto;"
                    >

                      <div id="selected_patient_info" style="color      : navy; 
                                                             font-size  : 12px; 
                                                             font-style : italics;
                                                             background : lightblue;
                                                            text-align     : center;
                                                            font-weight    : bold;
                                                             "
                      > 

                      </div>

                        <!--  START OF PATIENTCONTEXTTABS  -->
                        <div id              = "patientContextTabs"
                             class           = "patientContextTabContainer"
                             data-dojo-type  = "dijit/layout/TabContainer"
                             data-dojo-props = "tabPosition:'top'"
                             style           = "height: 600px;"
                        >

                            <!--  START OF PATIENTCONTEXTTABS1  -->
                            <div  id              = "patientContactTab"
                                  class           = "patientContextTabs"
                                  data-dojo-type  = "dojox/layout/ContentPane"
                                  data-dojo-props = "title: 'Contact'"
                            >
                                {% if perms.patient.add_patientcontact %}
                                <button id              = "addContactButton" 
                                        data-dojo-props = "iconClass: 'dijitIconNewTask'"
                                        type            = "button"
                                > 
                                    Add
                                </button>
                                {% endif %}
                                {% if perms.patient.add_patientphone %}
                                <button id              = "addPhoneButton" 
                                        data-dojo-props = "iconClass: 'dijitIconNewTask'"
                                        type            = "button"
                                > 
                                  Add
                                </button>
                                {% endif %}
                                {% if perms.patient.add_patientguardian %}
                                <button id              = "addGuardianButton" 
                                        type            = "button"
                                        data-dojo-props = "iconClass: 'dijitIconNewTask'"> 
                                    Add
                                </button>
                                {% endif %}
                                <div id     = "contact_list" 
                                > 
                                </div>
                                <div id="phone_list"
                                > 
                                </div>
                                <div id="guardian_list"
                                > 
                                </div>
                          </div>
                          <!--  END OF PATIENTCONTEXTTABS3  -->

                          <!--  START OF PATIENTCONTEXTTABS4  -->
                          <div  id              = "patientDemographicsTab"
                                class           = "patientContextTabs"
                                data-dojo-type  = "dojox/layout/ContentPane"
                                data-dojo-props = "title          : 'Demographics'"
                           >
                            {% if perms.patient%}
<!--
                            <button id              = "addDemographicsButton" 
                                    type            = "button"
                                    data-dojo-props = "iconClass: 'dijitIconNewTask'"
                            > 
                              Add
                            </button>

                            <div id="demographics_list"
                            > 
                             This will be filled with Demographics Info.
                            </div>
-->

                            <div id             ="demographics_add_or_edit_form"
                                 data-dojo-type="dojox/layout/ContentPane"
                            > 
                            </div>
                            {% endif %}
                          </div>
                          <!--  END OF PATIENTCONTEXTTABS4  -->

                          <!--  START OF PATIENTCONTEXTTABS5  -->
                          <div  id              = "patientFamilyHistoryTab"
                                class           = "patientContextTabs"
                                data-dojo-type  = "dojox/layout/ContentPane"
                                data-dojo-props = "title  : 'Family History'"
                           >
                              {% if perms.patient %}
                              <button id              = "addPatientFamilyHistoryButton" 
                                      type            = "button"
                                      data-dojo-props = "iconClass: 'dijitIconNewTask'"
                              > 
                                Add
                              </button>
                              {% endif %}

                            <div id="family_history_list"
                            > 
                            This will list the family history 
                            </div>
                          </div>
                          <!--  END OF PATIENTCONTEXTTABS5  -->

                          <!--  START OF PATIENTCONTEXTTABS6  -->
                          <div  id              = "patientMedicationListAndAllergiesTab"
                                class           = "patientContextTabs"
                                data-dojo-type  = "dojox/layout/ContentPane"
                                data-dojo-props = "title  : 'Medications'"
                           >
                              {% if perms.patient %}
                              <button id              = "addPatientMedicationListButton" 
                                      type            = "button"
                                      data-dojo-props = "iconClass: 'dijitIconNewTask'"
                              > 
                                Add
                              </button>
                              {% endif %}
                              {% if perms.patient and perms.patient.add_patientallergies %}
                              <button id              = "addAllergyButton" 
                                      type            = "button"
                                      data-dojo-props = "iconClass: 'dijitIconNewTask'"
                              > 
                                Add
                              </button>
                              {% endif %}

                            <div id="medication_list"
                            > 
                            This will list the Medication List 
                            </div>
                            <div id="allergy_list"
                            > 
                            This will list Allergies the patient has
                            </div>
                          </div>
                          <!--  END OF PATIENTCONTEXTTABS6 -->

                          <!--  START OF PATIENTCONTEXTTABS8  -->
                          <div  id              = "patientImmunisationTab"
                                class           = "patientContextTabs"
                                data-dojo-type  = "dojox/layout/ContentPane"
                                data-dojo-props = "title  : 'Immunisations'"
                           >
                              {% if perms.patient %}
                              <button id              = "addPatientImmunisationButton" 
                                      type            = "button"
                                      data-dojo-props = "iconClass: 'dijitIconNewTask'"
                              > 
                                Add
                              </button>
                              {% endif %}

                            <div id="immunisation_list"
                            > 
                            This will list the immunization history 
                            </div>
                          </div>
                          <!--  END OF PATIENTCONTEXTTABS8  -->

                          <!--  START OF PATIENTCONTEXTTABS8  -->
                          <div  id              = "patientAdmissionTab"
                                class           = "patientContextTabs"
                                data-dojo-type  = "dojox/layout/ContentPane"
                                data-dojo-props = "title: 'Admission'"
                          >
                            {% if perms.admission.add_admissiondetail %}
                            <button id              = "addAdmissionButton" 
                                    type            = "button"
                                    data-dojo-props = "iconClass: 'dijitIconNewTask'"
                            > 
                              Add
                            </button>
                            {% endif %}
                            <div id="admission_list"
                            > 
                            </div>
                          </div>
                          <!--  END OF PATIENTCONTEXTTABS8  -->


                          <!--  START OF PATIENTCONTEXTTABS9  -->
                          <div  id              = "patientVisitTab"
                                class           = "patientContextTabs"
                                data-dojo-type  = "dojox/layout/ContentPane"
                                data-dojo-props = "title          : 'Visits '"
                           >
                            {% if perms.visit.add_visitdetail %}
                            <button id              = "addVisitButton" 
                                    type            = "button"
                                    data-dojo-props = "iconClass: 'dijitIconNewTask'"
                            > 
                              Add
                            </button>
                            {% endif %}
                            <div id="visit_list"
                            > 
                            This Page will list all the Clinic Visits
                            </div>
                          </div>
                          <!--  END OF PATIENTCONTEXTTABS9  -->


                          <!--  START OF PATIENTCONTEXTTABS10  -->
                          <div  id              = "patientMediaTab"
                                class           = "patientContextTabs"
                                data-dojo-type  = "dojox/layout/ContentPane"
                                data-dojo-props = "title          : 'Media'"
                           >
                            {% if perms.patient %}
                            <button id              = "addPatientMediaButton" 
                                    type            = "button"
                                    data-dojo-props = "iconClass: 'dijitIconNewTask'"
                            > 
                              Add
                            </button>
                            {% endif %}
                            <div id="patient_media_list"
                            > 
                            This will list the attachments the patient has.. 
                            documents, images, video, slides etc.. 
                            </div>
                          </div>
                          <!--  END OF PATIENTCONTEXTTABS10  -->

                       </div>
                       <!--  END OF PATIENTCONTEXTTABS  -->

                  </div>
                  {% endif %}
                  <!--  END OF PATIENTCONTEXTPANE  -->

            </div>
            <!--  END OF PATIENTBORDERCONTAINER  --> 

           </div>
          <!--  END OF PATIENTHOMECONTENTPANE  -->

          <!--  START OF ADMISSIONHOMECONTENTPANE  -->
          {% if perms.admission %}
          <div  id              =  "admissionHomeContentPane"
                data-dojo-id    =  "admissionHomeContentPane"
                data-dojo-type  =  "dojox/layout/ContentPane"
                style           =  "height:1500px; "
                data-dojo-props =  "title          :'Admission', 
                                    executeScripts :true, 
                                    scriptHasHooks :true
                                  "
          >
            <span class="dojoxGridNoData">
              Choose an Admission to display details here.
            </span>
          </div>
          {% endif %}
          <!--  END OF ADMISSIONHOMECONTENTPANE  -->

          <!--  START OF VISITHOMECONTENTPANE  -->
          {% if perms.visit %}
          <div  id              =  "visitHomeContentPane"
                data-dojo-id    = "visitHomeContentPane"
                data-dojo-type  =  "dojox/layout/ContentPane"
                style           =  "height:1500px; "
                data-dojo-props =  "title          :'Visits',
                                    executeScripts : true, 
                                    scriptHasHooks : true
                                   "
          >
            <span class="dojoxGridNoData">
              Choose an OPD visit to display details here.
            </span>
          </div>
          {% endif %}
          <!--  END OF VISITHOMECONTENTPANE  -->

    </div>
    <!--  END OF CENTERTOPTABPANE  -->

 </div>
 <!--  END OF CENTERMAINPANE  -->
{% endblock centerbar %}


  <!--  START OF JSON MESSAGE  -->
  {% block json_message_div %}
  <div  id              = "bottomPane"
        class           = "edgePanel"
        data-dojo-type  = "dojox/layout/ContentPane"
        data-dojo-props = "region: 'bottom'">
     <div class="json_message_div"> 		</div>
       {% block footer %}
	        <div class="footer ">
		        <span> 
		          <i> AuShadha and Logo are &copy;of Dr. Easwar T.R 2012,<i> &nbsp; 
		              <i id="click_for_gpl3"> GNU GPL Version 3 License</i> &nbsp; 
		              <a href="mailto:dreaswar@gmail.com">dreaswar@gmail.com</a> &nbsp;
          	</span>
	        </div>
       {% endblock footer %}
  </div>
  <!--  END OF JSON MESSAGE  -->
  {% endblock json_message_div %} 

  <!--  DIALOGS AND MISC  -->

  <!--  <div id="lsidebar_json_message_div"> 	</div>-->

    <div id="loginDialog"> 	       </div>

    <div id              = "editPatientDialog"
         data-dojo-type  = "dijit/Dialog"
         data-dojo-id    = "editPatientDialog"
         data-dojo-props = "title: 'New Patient'"
    >
    </div>

    <div id             = "dialogJsonMessage"
         data-dojo-type = "dijit/Dialog"
         data-dojo-id   = "dialogJsonMessage"
         data-dojo-props = "title: 'ERROR!'"
    >
    </div>

    <div id              = "permissionDeniedErrorDialog"
		     data-dojo-id    = "permissionDeniedErrorDialog"
		     data-dojo-type  = "dijit/Dialog"
		     data-dojo-props = "title  : 'ERROR! Permission Denied'"
    > 
	    <p class="error_text"> Permission Denied </p>
    </div>

    <div id              = "invalidFormSubmissionErrorDialog"
		     data-dojo-id    = "invalidFormSubmissionErrorDialog"
		     data-dojo-type  = "dijit/Dialog"
		     data-dojo-props = "title  : 'ERROR!'"
    >
	    <p class="error_text"> Invalid Form Submission         </p> 
      <p class="suggestion_text">Please Correct & Resubmit </p>
    </div>
  <!--  END DIALOGS AND MISC  -->

</div>
<!--  END OF APP CONTAINER  -->

</body>
</html>

