<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
	<meta name    = "generator" 
	      content = "HTML Tidy for Linux (vers 6 November 2007), see www.w3.org"
	>
	{% block title %} 
	  <title> AuShadha </title> 
	{% endblock title %} 

<!--The global non template tagged style sheet and Dojo specific Style sheets from here-->
  {% block media %} 
    {% include 'style_links.html' %} 
  {% endblock media %} 

  {% block style_bits %} 
    <style  type="text/css">
      {%include "style.css" %}
    </style>
  {% endblock style_bits %} 

  {% block js %} 
    {% include 'script_links.html' %} 
  {% endblock js %} 

 <!- Defining Global Events in Javascript -->

  <script type="text/javascript">
    /* 
       Global Variables
    */

    var ADD_MORE_PATIENTS,
        ADD_MORE_PATIENT_CONTACT,
        ADD_MORE_PATIENT_PHONE   ,
        ADD_MORE_PATIENT_GUARDIAN ,
        ADD_MORE_PATIENT_ADMISSION ,
        ADD_MORE_PATIENT_VISIT,
        ADD_MORE_ITEMS;

  </script>

  <script type="text/javascript">
    /* 
       Global Variables for Grid Structures
    */
       {% include 'grid_structures.js' %}
  </script>

  <script type="text/javascript">
    /* 
       Global Functions for Grid Setup
    */
       {% include 'grid_setup.js' %}
  </script>

  <script type="text/javascript">
    /* 
       Contains the Patient Context Tabs set up
    */

   {% include 'patient_context_tab_setup.js' %}
  </script>


  <script type="text/javascript">
    /* 
       Contains the Logic of eventing in Patient Search Form Partly. 
       Some of it is implemented in the HTML declaratively.
       Triggered when the patient search text is entered 
       A separate trigger is present in search/patient.html
       for handling the click event of the Filter button
    */

   {% include 'events.js' %}
  </script>

  <script type="text/javascript">
   {% include 'script.js' %}
  </script>

 	{% block js_bits %} 

	{% endblock js_bits %}
</head>

<body class="claro">

<!--  START OF APPLAYOUT  -->
<div    id              = "appLayout" 
        class           = "demoLayout"
        data-dojo-type  = "dijit/layout/BorderContainer">

{% block topbar %}
  <!--  START OF TOPPANE  -->
  <div    id              = "topPane"
          class           = "edgePanel"
          data-dojo-type  = "dojox/layout/ContentPane"
          data-dojo-props = "region: 'top'"
  >

    <!--  START OF HEADERAREA  -->
     <div id              ="header_area"
          class           = "edge"
          data-dojo-type  = "dijit/layout/BorderContainer"
     > 

       <div id="logoDiv">
        <h3 class="header_with_logo"> 
           <img src   =  "{{STATIC_URL}}images/AuShadha_logo/AuShadha_logo_64.png" 
                alt   ="AuShadha" 
                id    = "AuShadhaHeaderIcon"
           >
        </h3>
      </div>

       <!--  START OF LOGINAREA  -->
		   <div id              ="login_area"
		        class           = "edge"
            data-dojo-type  = "dojox/layout/ContentPane"
            data-dojo-props = "region     : 'right'"
            style           = "border     : none; 
                               margin     : 0px !important; 
                               padding    : 0px !important; 
                               background : none; 
                               overflow   : visible;
                               position   : absolute;
                               top        : 0px;
                               height     : 40px;
                               "
       > 
		     {% if user.is_authenticated %}
		      <img src   = "{{STATIC_URL}}images/user_16.png" 
		           alt   = "{{user.username}}"
		           class = "login_area_img"
		           id    = "loggedInUserIcon"
		           >
		      {% if user.is_staff %}
		      <a href="/AuShadha/admin/" 
		         id="adminAreaHref" 
		         target="_blank">
		      <img src   = "{{STATIC_URL}}images/system_run_16.png" 
		           alt   = "Admin"
		           class = "login_area_img" >
		      </a>
		      {% endif %}
		      &nbsp; 
		      <a href="/AuShadha/logout/" id="logoutHref">
		      <img src   = "{{STATIC_URL}}images/system_log_out_16.png" 
		           alt   = "Logout"
		           class = "login_area_img"
		           >
		      </a>&nbsp; 
		     {% else %}
		      <a href="/AuShadha/login/" id="loginHref">
		      <img src   = "{{STATIC_URL}}images/login_indicator.png" 
		           alt   = "Login"
		           class = "login_area_img"
		            style="width:16px; height:16px;"
		           >
		      </a>
		     {% endif %}
		 </div>
    <!--  END OF LOGIN AREA  -->

  </div>
  <!--  END OF HEADER AREA  -->

 </div>
<!--  END OF TOP PANE  -->
{% endblock topbar %}



{% block centerbar %}

<!--  START OF CENTERMAINPANE  -->
<div    id              = "centerMainPane"
        class           = "centerMainPane"
        data-dojo-type  = "dojox/layout/ContentPane"
        data-dojo-props = "region:'center'"
>

      <!--  START OF CENTERTOPTABPANE -->
      <div   id              = "centerTopTabPane"
             class           = "centerTopTabPane"
             data-dojo-id    = "centerTopTabPane"
             data-dojo-type  = "dijit/layout/TabContainer"
             data-dojo-props = "tabPosition:'top'"
       >

          <!--  START OF PATIENTHOMECONTENTPANE  -->
          <div  id              = "patientHomeContentPane"
                data-dojo-id    = "patientHomeContentPane"
                class           = "patientHomeContentPane"
                data-dojo-type  = "dojox/layout/ContentPane"
                data-dojo-props = "title          : 'Patients' , 
                                   executeScripts : true,
                                   scriptHasHooks : true
                                  "
          >
              <!--  START OF PATIENTBORDERCONTAINER -->
              <div  id              = "patientBorderContainer"
                    data-dojo-id    = "patientBorderContainer"
                   class           = "patientBorderContainer"
                   data-dojo-type  = "dijit/layout/BorderContainer"
              >

                      <!--  START OF PATIENTLISTCONTENTPANE  -->
                      {% if perms.patient %}
                      <div  id              = "patientListContentPane"
                            data-dojo-id    = "patientListContentPane"
                            class           = "patientListContentPane"
                            data-dojo-type  = "dojox/layout/ContentPane"
                            data-dojo-props = "region    : 'center', 
                                               splitter  :  true
                                              "
                            style           = "height: 900px;"
                      >

                          <div style="
                                  margin-bottom   : 0px;
                                  position        : relative;
                                  left            : 20%;
                                  top             : 40%;
                                  width           : 60%;
                                  margin-left     : 0px; 
                                  padding-left    : 0px;
                                  border          : solid 1px #cecece;
                                  border-radius   : 3px;
                                  box-shadow      : 1px 1px 1px #cecece;
                                  background      : #D0DFEA;
                                  overflow        : visible;
                                  height          : 20%;
                                  "
                               data-dojo-type   = "dojox/layout/ContentPane"
                               data-dojo-props  = "region:'top'"
                               id               = "searchPatientContainerDiv"
                           >
                            <div id="searchTitle" 
                                  style="color:navy; 
                                        font-size: 16px;
                                        text-align:center;
                                        vertical-align:middle; 
                                        font-family: Droid-Sans, Sans-Serif;
                                        position: relative;
                                        top:-100px;
                                        height:76px;
                                       "
                             > 
                              <img    src="{{STATIC_URL}}images/AuShadha_logo/AuShadha_logo_128.png" 
                                      style="position:relative;
                                             top: -13px; 
                                             padding:0px; 
                                             margin:0px;
                                            "
                                      id="frontPageSearchPatientAuShadhaLogo"
                              >
                             {% include 'search/patient_search_filtering_select.html' %}
                            </div>

                          </div>

                          <div id             = "selected_patient_info" 
                               data-dojo-type = "dojox/layout/ContentPane"
                               data-dojo-props= "region:'center'"
                               style=" color      : #252525; 
                                       font-size  : 12px; 
                                       font-style : italics;
                                       font-weight    : bold;
                                       border          : solid 1pt #cecece;
                                       border-radius   : 3px;
                                       background      : #D0DFEA;
                                       box-shadow  : 1px 1px 2px #ddd;
                                       text-align     : center;
                                       display:none;
                                     "
                          > 

                          </div>

                         <!--  START OF patientContextContainer  -->
                          <div id              = "patientContextContainer"
                           >
                         </div>
                         <!--  END OF patientContextContainer  -->

                     </div>
                    <!--  END OF PATIENTLISTCONTENTPANE  -->
                    {% endif %}

            </div>
            <!--  END OF PATIENTBORDERCONTAINER  --> 

           </div>
          <!--  END OF PATIENTHOMECONTENTPANE  -->

          <!--  START OF SEARCHPATIENTSCONTENTPANE  -->
          {% if perms.admission %}
          <div  id              =  "searchPatientsContentPane"
                data-dojo-id    =  "searchPatientsContentPane"
                data-dojo-type  =  "dojox/layout/ContentPane"
                style           =  "height:1500px; "
                data-dojo-props =  "title          :'Search', 
                                    executeScripts :true, 
                                    scriptHasHooks :true
                                  "
          >
             <div id              = "SearchPaneBorderContainer" 
                  data-dojo-type  = "dijit/layout/BorderContainer"
             >
               <div id              = "patientGridContentPane" 
                    data-dojo-type  = "dijit/layout/ContentPane"
                    data-dojo-props = "region: 'center'"
               >
                 <div id              = "patient_grid" 
                 >
                 </div>
               </div>
               <div id              = "patientSearchContentPane"
                    data-dojo-type  = "dijit/layout/ContentPane"
                    data-dojo-props = "region: 'right',splitter:true, gutter:true"
               >
                 {% include 'search/patients.html' %}
              </div>
            </div>
          </div>
          {% endif %}
          <!--  END OF ADMISSIONHOMECONTENTPANE  -->

          <!--  START OF ADMISSIONHOMECONTENTPANE  -->
          {% if perms.admission %}
          <div  id              =  "admissionHomeContentPane"
                data-dojo-id    =  "admissionHomeContentPane"
                data-dojo-type  =  "dojox/layout/ContentPane"
                style           =  "height:1500px; "
                data-dojo-props =  "title          :'Admission', 
                                    executeScripts :true, 
                                    scriptHasHooks :true,
                                    closable :true,
                                    disabled :true,
                                  "
          >
            <span class="dojoxGridNoData">
              Choose an Admission to display details here.
           </span>
          </div>
          {% endif %}
          <!--  END OF ADMISSIONHOMECONTENTPANE  -->

          <!--  START OF VISITHOMECONTENTPANE  -->
          {% if perms.visit %}
          <div  id              =  "visitHomeContentPane"
                data-dojo-id    = "visitHomeContentPane"
                data-dojo-type  =  "dojox/layout/ContentPane"
                style           =  "height:1500px; "
                data-dojo-props =  "title          :'Visits',
                                    executeScripts : true, 
                                    scriptHasHooks : true,
                                    closable :true,
                                    disabled :true,
                                   "
          >
            <span class="dojoxGridNoData">
              Choose an OPD visit to display details here.
            </span>
          </div>
          {% endif %}
          <!--  END OF VISITHOMECONTENTPANE  -->

    </div>
    <!--  END OF CENTERTOPTABPANE  -->

    <!-- TOOLTIPS -->
    <div  data-dojo-type="dijit/Tooltip" 
          data-dojo-props="connectId:'AuShadhaHeaderIcon',position:['below']">
        Welcome to AuShadha Open Source EMR & Clinic Management System
    </div>
    <div  data-dojo-type="dijit/Tooltip" 
          data-dojo-props="connectId:'loggedInUserIcon',position:['below']">
        Logged in as: {{user.username}}
    </div>
    <div data-dojo-type="dijit/Tooltip" 
         data-dojo-props="connectId:'adminAreaHref',position:['below']">
        Admin Area 
    </div>
    <div data-dojo-type="dijit/Tooltip" 
         data-dojo-props="connectId:'loginHref',position:['below']">
        Login
    </div>
    <div data-dojo-type="dijit/Tooltip" 
         data-dojo-props="connectId:'logoutHref',position:['below']">
        Logout 
    </div>
    <div data-dojo-type="dijit/Tooltip" 
         data-dojo-props="connectId:'frontPageSearchPatientAuShadhaLogo',position:['above']"
         >
        <b style="color:navy; text-align:center;"><em> Search Box <em></b>
        <p class="suggestion_text">Start searching by Patient's name or Add a New one</p>
    </div>
   <!-- END TOOLTIPS -->


 </div>
 <!--  END OF CENTERMAINPANE  -->
{% endblock centerbar %}


  <!--  START OF JSON MESSAGE  -->
  {% block json_message_div %}
  <div  id              = "bottomPane"
        class           = "edgePanel"
        data-dojo-type  = "dojox/layout/ContentPane"
        data-dojo-props = "region: 'bottom'">
     <div class="json_message_div"> 		</div>
       {% block footer %}
	        <div class="footer ">
		        <span> 
		          <i> AuShadha and Logo are &copy;of Dr. Easwar T.R 2012,<i> &nbsp; 
		              <i id="click_for_gpl3"> GNU GPL Version 3 License</i> &nbsp; 
		              <a href="mailto:dreaswar@gmail.com">dreaswar@gmail.com</a> &nbsp;
          	</span>
	        </div>
       {% endblock footer %}
  </div>
  <!--  END OF JSON MESSAGE  -->
  {% endblock json_message_div %} 

  <!--  DIALOGS AND MISC  -->

  <!--  <div id="lsidebar_json_message_div"> 	</div>-->

    <div id="loginDialog"> 	       </div>

    <div id              = "editPatientDialog"
         data-dojo-type  = "dijit/Dialog"
         data-dojo-id    = "editPatientDialog"
         data-dojo-props = "title: 'New Patient'"
    >
    </div>

    <div id             = "dialogJsonMessage"
         data-dojo-type = "dijit/Dialog"
         data-dojo-id   = "dialogJsonMessage"
         data-dojo-props = "title: 'ERROR!'"
    >
    </div>

    <div id              = "permissionDeniedErrorDialog"
		     data-dojo-id    = "permissionDeniedErrorDialog"
		     data-dojo-type  = "dijit/Dialog"
		     data-dojo-props = "title  : 'ERROR! Permission Denied'"
    > 
	    <p class="error_text"> Permission Denied </p>
    </div>

    <div id              = "invalidFormSubmissionErrorDialog"
		     data-dojo-id    = "invalidFormSubmissionErrorDialog"
		     data-dojo-type  = "dijit/Dialog"
		     data-dojo-props = "title  : 'ERROR!'"
    >
	    <p class="error_text"> Invalid Form Submission         </p> 
      <p class="suggestion_text">Please Correct & Resubmit </p>
    </div>

  <!--  END DIALOGS AND MISC  -->

</div>
<!--  END OF APP CONTAINER  -->

</body>
</html>

