<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
  <meta name    = "generator"
        content = "HTML Tidy for Linux (vers 6 November 2007), see www.w3.org"
  >
  {% block title %}
    <title> AuShadha </title>
  {% endblock title %}

<!--The global non template tagged style sheet and Dojo specific Style sheets from here-->
  {% block media %}
    {% include 'style_links.html' %}
  {% endblock media %}

  {% block style_bits %}
    <style  type="text/css">
      {% include "style.css" %}
    </style>
  {% endblock style_bits %}

  {% block js %}
    {% include 'script_links.html' %}
  {% endblock js %}

 <!-- Defining Global Events in Jasvascript -->

  <script type="text/javascript">
    /*
       Global Variables
    */
    var CHOSEN_PATIENT;
    
    var PATIENT_PANE;
    
    var ADD_MORE_PATIENTS,
        ADD_MORE_PATIENT_CONTACT,
        ADD_MORE_PATIENT_PHONE   ,
        ADD_MORE_PATIENT_GUARDIAN ,
        ADD_MORE_PATIENT_ADMISSION ,
        ADD_MORE_PATIENT_VISIT,
        ADD_MORE_ITEMS;

  </script>


  <script type="text/javascript">
    {% include 'notifications.js' %}
  </script>
  <script type="text/javascript">
    {% include 'key_bindings.js' %}
  </script>
  <script type="text/javascript">
   require(['aushadha'],
    function(aushadha){
      console.log("Dojo code has loaded");
      return aushadha;
   });
  </script>  



  {% block js_bits %}

  {% endblock js_bits %}
</head>

<body class="claro">

<!--  START OF APPLAYOUT  -->
<div    id              = "appLayout"
        class           = "demoLayout"
        data-dojo-type  = "dijit/layout/BorderContainer">

{% block topbar %}
  <!--  START OF TOPPANE  -->
  <div    id              = "topPane"
          data-dojo-type  = "dojox/layout/ContentPane"
          data-dojo-props = "region: 'top'"
  >

    <!--  START OF HEADERAREA  -->
     <div id              ="header_area"
          data-dojo-type  = "dijit/layout/BorderContainer"
     >

       <div id="logoDiv"
       >
        <h3 class="header_with_logo">
           <a href="/" target="_blank" alt="AuShadha" >
           <img src   =  "{{STATIC_URL}}images/AuShadha_logo/AuShadha_logo_text.svg"
                alt   = "AuShadha"
                id    = "AuShadhaHeaderIcon"
           >
           </a>
        </h3>
       </div>

       <!--  START OF LOGINAREA  -->
       <div id              ="login_area"
            data-dojo-type  = "dojox/layout/ContentPane"
            data-dojo-props = "region     : 'right'"
       >
                {% if perms.patient %}
         <span id="patientSearchBox"
               style="position: absolute; left: -400px;top:1px;"
         >
            {% include 'search/patient_search_filtering_select_small.html' %}
         </span>
         {% endif %}
         <span id="timeBox"> </span>
         {% if user.is_authenticated %}
          <img src   = "{{STATIC_URL}}images/generic/auth/user_16.png"
               alt   = "{{user.username}}"
               class = "login_area_img"
               id    = "loggedInUserIcon"
               >
          {% if user.is_staff %}
          <a href="/AuShadha/admin/"
             id="adminAreaHref"
             target="_blank">
          <img src   = "{{STATIC_URL}}images/generic/dashboard_and_settings/settings_16.png"
               alt   = "Admin"
               class = "login_area_img" >
          </a>
          {% endif %}
          &nbsp;
          <a href="/AuShadha/logout/" id="logoutHref">
          <img src   = "{{STATIC_URL}}images/generic/auth/system-shutdown-panel-restart.svg"
               alt   = "Logout"
               class = "login_area_img"
               >
          </a>&nbsp;
         {% else %}
          <a href="/AuShadha/login/" id="loginHref">
          <img src   = "{{STATIC_URL}}images/generic/auth/login_128.png"
               alt   = "Login"
               class = "login_area_img"
               style="width:16px; height:16px;"
               >
          </a>
         {% endif %}
     </div>
    <!--  END OF LOGIN AREA  -->

  </div>
  <!--  END OF HEADER AREA  -->

 </div>
<!--  END OF TOP PANE  -->
{% endblock topbar %}



{% block centerbar %}

<!--  START OF CENTERMAINPANE  -->
<div    id              = "centerMainPane"
        class           = "centerMainPane"
        data-dojo-type  = "dojox/layout/ContentPane"
        data-dojo-props = "region:'center'"
>

      <!--  START OF CENTERTOPTABPANE -->
      <div   id              = "centerTopTabPane"
             class           = "centerTopTabPane"
             data-dojo-id    = "centerTopTabPane"
             data-dojo-type  = "dijit/layout/TabContainer"
             data-dojo-props = "tabPosition:'top'"
       >

          <!--  START OF PATIENTHOMECONTENTPANE  -->
          <div  id              = "patientHomeContentPane"
                data-dojo-id    = "patientHomeContentPane"
                class           = "patientHomeContentPane"
                data-dojo-type  = "dojox/layout/ContentPane"
                data-dojo-props = "title          : 'Patients' ,
                                   executeScripts : true,
                                   scriptHasHooks : true
                                  "
          >
              <!--  START OF PATIENTBORDERCONTAINER -->
              <div  id              = "patientBorderContainer"
                    data-dojo-id    = "patientBorderContainer"
                   class           = "patientBorderContainer"
                   data-dojo-type  = "dijit/layout/BorderContainer"
              >

                      <!--  START OF PATIENTLISTCONTENTPANE  -->
                      {% if perms.patient %}
                      <div  id              = "patientListContentPane"
                            data-dojo-id    = "patientListContentPane"
                            class           = "patientListContentPane"
                            data-dojo-type  = "dojox/layout/ContentPane"
                            data-dojo-props = "region    : 'center',
                                               splitter  :  true
                                              "
                            style           = "height: 900px;"
                      >

                          <div data-dojo-type   = "dojox/layout/ContentPane"
                               data-dojo-props  = "region:'top'"
                               id               = "searchPatientContainerDiv"
                               style  = "position:relative;
                                         top: 100px;
                                         "
                           >
                            <div id="searchTitle"
                                  style="color:navy;
                                        font-size: 16px;
                                        text-align:center;
                                        vertical-align:middle;
                                        font-family: Droid-Sans, Sans-Serif;
                                        position: relative;
                                        top:0px;
                                       "
                             >

                             {% include 'search/patient_search_filtering_select.html' %}
                            </div>

                          </div>

                          <div id              = "selected_patient_info"
                               data-dojo-type  = "dojox/layout/ContentPane"
                               data-dojo-props = "region:'center'"
                               style = " color         : #252525;
                                         font-size     : 12px;
                                         font-style    : italics;
                                         font-weight   : bold;
                                         border        : solid 1pt #cecece;
                                         border-radius : 3px;
                                         background    : #D0DFEA;
                                         box-shadow    : 1px 1px 2px #ddd;
                                         text-align    : center;
                                         display       : none;
                                      "
                          >

                          </div>

                          <div id            = "patientMainContainer"
                              data-dojo-type = "dojox/layout/ContentPane"
                              data-dojo-id   = "patientMainContainer"
                              data-dojo-props= "region: 'bottom'"
                          >

                            <!--  START OF patientTabsBorderContainerr  -->
                            <div id             = "patientTabsBorderContainer"
                                data-dojo-type = "dijit/layout/BorderContainer"
                                data-dojo-id   = "patientTabsBorderContainer"
                            >

                              <!--  START OF patientTreeContainer  -->
                                <!--<div id              = "patientTreeContainer"
                                    data-dojo-props  = "region: 'left', splitter: true"
                                    style            = "width:200px;overflow:auto;"
                                >
                                </div>-->
                              <!--  END OF patientTreeContainer  -->

                              <!--  START OF patientContextContainer  -->
                                <!--<div id              = "patientContextContainer"
                                >
                                </div>-->
                              <!--  END OF patientContextContainer  -->

                            </div>
                            <!--  END OF patientTabsBorderContainerr  -->

                          </div>
                          <!--  END OF patientMainContainer  -->
                     </div>
                    <!--  END OF PATIENTLISTCONTENTPANE  -->
                    {% endif %}

            </div>
            <!--  END OF PATIENTBORDERCONTAINER  -->

           </div>
          <!--  END OF PATIENTHOMECONTENTPANE  -->

          <!--  START OF SEARCHPATIENTSCONTENTPANE  -->
          {% if perms.patient %}
          <div  id              =  "searchPatientsContentPane"
                data-dojo-id    =  "searchPatientsContentPane"
                data-dojo-type  =  "dojox/layout/ContentPane"
                style           =  "height:1500px; "
                data-dojo-props =  "title          :'Search',
                                    executeScripts :true,
                                    scriptHasHooks :true
                                  "
          >
             <div id              = "SearchPaneBorderContainer"
                  data-dojo-type  = "dijit/layout/BorderContainer"
             >
               <div id              = "patientGridContentPane"
                    data-dojo-type  = "dijit/layout/ContentPane"
                    data-dojo-props = "region: 'center'"
               >
                 <div id              = "patient_grid"
                 >
                 </div>
               </div>
               <div id              = "patientSearchContentPane"
                    data-dojo-type  = "dijit/layout/ContentPane"
                    data-dojo-props = "region: 'right',splitter:true, gutter:true"
               >
                 {% include 'search/patients.html' %}
              </div>
            </div>
          </div>
          {% endif %}
          <!--  END OF ADMISSIONHOMECONTENTPANE  -->


          <!--  START OF ADMISSIONHOMECONTENTPANE  -->
          <!--
          {% if perms.admission %}
          <div  id              =  "admissionHomeContentPane"
                data-dojo-id    =  "admissionHomeContentPane"
                data-dojo-type  =  "dijit/layout/BorderContainer"
                style           =  "height:1500px; "
                data-dojo-props =  "title          :'Admission',
                                    executeScripts :true,
                                    scriptHasHooks :true,
                                    disabled :true,
                                  "
          >
            <div  id            =  "admissionPaneTopbar"
                data-dojo-id    = "admissionPaneTopbar"
                data-dojo-type  =  "dojox/layout/ContentPane"
                style           = " color         : #252525;
                                    font-size     : 12px;
                                    font-style    : italics;
                                    font-weight   : bold;
                                    background    : white;
                                    border        : none;
                                    text-align    : center;
                                    margin-bottom : 1px;
                                    padding       : 0px;
                                    height        : 15px;
                                "
                data-dojo-props =  "
                                    region: 'top',splitter:false
                                   "
            >
            </div>

            <div  id              =  "admissionPaneContentArea"
                  data-dojo-id    = "admissionPaneContentArea"
                  data-dojo-type  =  "dijit/layout/BorderContainer"
                  style           =  "height:auto; "
                  data-dojo-props = "
                                     region: 'center'
                                    "
            >

                <div  id              =  "admissionPaneLSidebar"
                    data-dojo-id    = "admissionPaneLSidebar"
                    data-dojo-type  =  "dojox/layout/ContentPane"
                    style           =  "height        : auto;
                                        width         : 15em;
                                        border        : solid 1pt #cecece;
                                        border-radius : 3px;
                                        background    : -moz-linear-gradient(top, white, whitesmoke);
                                        background    : -webkit-linear-gradient(top, white, whitesmoke);
                                       "
                    data-dojo-props =  "
                                        region: 'leading', splitter: true, gutters: true, liveSplitter: true
                                      "
                >
                  <div id="patientAdmissionTreeContainer">

                  </div>
                </div>

                <div  id              =  "admissionPaneCurrentAdmission"
                      data-dojo-id    =  "admissionPaneCurrentAdmission"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "overflow:auto;"
                      data-dojo-props =  "
                                          region: 'center',
                                          splitter: true,
                                          gutters: true,
                                          liveSplitter: true
                                        "
                >
                    <div  id              =  "admissionPaneCurrentAdmissionTitlePane"
                          style           = " color         : #252525;
                                              font-size     : 12px;
                                              font-style    : italics;
                                              font-weight   : bold;
                                              border        : solid 1pt #cecece;
                                              border-radius : 3px;
                                              background    : #D0DFEA;
                                              box-shadow    : 1px 1px 2px #ddd;
                                              text-align    : center;
                                              margin-bottom : 3px;
                                              height        : 20px;
                                          "
                    >
                      <span> Current Admission Notes </span>
                    </div>
                    <div id             = "admissionPaneCurrentAdmissionNotes"
                         data-dojo-id   = "admissionPaneCurrentAdmissionNotes"
                         data-dojo-type = "dojox/layout/ContentPane"
                    >

                    </div>
                </div>

                <div  id            =  "admissionPanePreviousAdmission"
                    data-dojo-id    = "admissionPanePreviousAdmission"
                    data-dojo-type  =  "dojox/layout/ContentPane"
                    style           =  "height        : auto;
                                        width         : 35em;
                                        border        : solid 1pt #cecece;
                                        border-radius : 3px;
                                        background    : -moz-linear-gradient(top, white, whitesmoke);
                                        background    : -webkit-linear-gradient(top, white, whitesmoke);
                                       "
                    data-dojo-props =  "
                                        region: 'trailing',
                                        splitter: true,
                                        gutters: true,
                                        liveSplitter: true
                                      "
                >
                  <div  id              =  "admissionPanePreviousAdmissionTitlePane"
                        style           = " color         : #252525;
                                            font-size     : 12px;
                                            font-style    : italics;
                                            font-weight   : bold;
                                            border        : solid 1pt #cecece;
                                            border-radius : 3px;
                                            background    : #D0DFEA;
                                            box-shadow    : 1px 1px 2px #ddd;
                                            text-align    : center;
                                            margin-bottom : 3px;
                                            height        : 20px;
                                        "
                  >
                    <div > <span> Previous Admission
                                  <div id              = "previous_admission_date_filtering_select"
                                        data-dojo-id   = "previous_admission_date_filtering_select"
                                        data-dojo-type = "dijit.form.DateTextBox"
                                        data-dojo-props = "required:true,
                                                          invalidMessage: 'Please select Valid date' "
                                  >
                                  </div>
                            </span>
                    </div>
                  </div>

                </div>


            </div>

            <div  id            =  "admissionPaneTabContainerArea"
                data-dojo-id    = "admissionPaneTabContainerArea"
                data-dojo-type  =  "dijit/layout/TabContainer"
                style           =  "height:20em; overflow:auto;"
                data-dojo-props =  "
                                    region: 'bottom',
                                    splitter: true,
                                    gutters:true,
                                    liveSplitter:true,
                                    tabStrip: true,
                                    tabPosition: 'bottom'
                                  "
            >
                <div  id            =  "admissionPaneInvestigationTab"
                    data-dojo-id    =  "admissionPaneInvestigationTab"
                    data-dojo-type  =  "dojox/layout/ContentPane"
                    style           =  "height:15em; "
                    data-dojo-props =  "
                                        title: 'Investigation'
                                      "
                >
                </div>

                <div  id              =  "admissionPaneImagingTab"
                      data-dojo-id    =  "admissionPaneImagingTab"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "height:15em; "
                      data-dojo-props =  "
                                          title: 'Imaging'
                                        "
                >
                </div>

                <div  id            =  "admissionPaneDiagnosisTab"
                    data-dojo-id    =  "admissionPaneDiagnosisTab"
                    data-dojo-type  =  "dojox/layout/ContentPane"
                    style           =  "height:15em; "
                    data-dojo-props =  "
                                        title: 'Diagnosis'
                                      "
                >
                </div>

                <div  id              =  "admissionPaneProceduresTab"
                      data-dojo-id    =  "admissionPaneProceduresTab"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "height:15em; "
                      data-dojo-props =  "
                                          title: 'Procedures'
                                        "
                >
                </div>

                <div  id              =  "admissionPaneMedicationsTab"
                      data-dojo-id    =  "admissionPaneMedicationsTab"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "height:15em; "
                      data-dojo-props =  "
                                          title: 'Medications'
                                        "
                >
                </div>

                <div  id              =  "admissionPaneAllergyTab"
                      data-dojo-id    =  "admissionPaneAllergyTab"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "height:15em; "
                      data-dojo-props =  "
                                          title: 'Allergy'
                                        "
                >
                </div>

                <div  id              =  "admissionPaneDocumentsTab"
                      data-dojo-id    =  "admissionPaneDocumentsTab"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "height:15em;
                                          position: relative;
                                          float:right;"
                      data-dojo-props =  "
                                          title: 'Documents'
                                        "
                >
                </div>
                <div  id              =  "admissionPaneCodingTab"
                      data-dojo-id    =  "admissionPaneCodingTab"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "height:15em;
                                          position: relative;
                                          float:right;"
                      data-dojo-props =  "
                                          title: 'Coding'
                                        "
                >
                </div>

              </div>


          </div>

          {% endif %}
          -->
          <!--  END OF ADMISSIONHOMECONTENTPANE  -->
          
          <!--  START OF VISITHOMECONTENTPANE  -->
          <!--
          {% if perms.visit %}
          <div  id              =  "visitHomeContentPane"
                data-dojo-id    = "visitHomeContentPane"
                data-dojo-type  =  "dijit/layout/BorderContainer"
                style           =  "height:auto; "
                data-dojo-props =  "title          :'Visits',
                                    executeScripts : true,
                                    scriptHasHooks : true,
                                    disabled :true,
                                   "
          >


            <div  id            =  "visitPaneTopbar"
                data-dojo-id    = "visitPaneTopbar"
                data-dojo-type  =  "dojox/layout/ContentPane"
                style           = " color         : #252525;
                                    font-size     : 12px;
                                    font-style    : italics;
                                    font-weight   : bold;
                                    background    : white;
                                    border        : none;
                                    text-align    : center;
                                    margin-bottom : 1px;
                                    padding       : 0px;
                                    height        : 15px;
                                "
                data-dojo-props =  "
                                    region: 'top',splitter:false
                                   "
            >
            </div>

            <div  id              =  "visitPaneContentArea"
                  data-dojo-id    = "visitPaneContentArea"
                  data-dojo-type  =  "dijit/layout/BorderContainer"
                  style           =  "height:auto; "
                  data-dojo-props = "
                                     region: 'center'
                                    "
            >

                <div  id              =  "visitPaneLSidebar"
                    data-dojo-id    = "visitPaneLSidebar"
                    data-dojo-type  =  "dojox/layout/ContentPane"
                    style           =  "height        : auto;
                                        width         : 15em;
                                        border        : solid 1pt #cecece;
                                        border-radius : 3px;
                                        background    : -moz-linear-gradient(top, white, whitesmoke);
                                        background    : -webkit-linear-gradient(top, white, whitesmoke);
                                       "
                    data-dojo-props =  "
                                        region: 'leading', splitter: true, gutters: true, liveSplitter: true
                                      "
                >
                  <div id="patientVisitTreeContainer">

                  </div>
                </div>

                <div  id              =  "visitPaneCurrentVisit"
                      data-dojo-id    =  "visitPaneCurrentVisit"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "overflow:auto;"
                      data-dojo-props =  "
                                          region: 'center',
                                          splitter: true,
                                          gutters: true,
                                          liveSplitter: true
                                        "
                >
                    <div  id              =  "visitPaneCurrentVisitTitlePane"
                          style           = " color         : #252525;
                                              font-size     : 12px;
                                              font-style    : italics;
                                              font-weight   : bold;
                                              border        : solid 1pt #cecece;
                                              border-radius : 3px;
                                              background    : #D0DFEA;
                                              box-shadow    : 1px 1px 2px #ddd;
                                              text-align    : center;
                                              margin-bottom : 3px;
                                              height        : 20px;
                                          "
                    >
                      <span> Current Visit Notes </span>
                    </div>
                    <div id             = "visitPaneCurrentVisitNotes"
                         data-dojo-id   = "visitPaneCurrentVisitNotes"
                         data-dojo-type = "dojox/layout/ContentPane"
                    >

                    </div>
                </div>

                <div  id            =  "visitPanePreviousVisit"
                    data-dojo-id    = "visitPanePreviousVisit"
                    data-dojo-type  =  "dojox/layout/ContentPane"
                    style           =  "height        : auto;
                                        width         : 35em;
                                        border        : solid 1pt #cecece;
                                        border-radius : 3px;
                                        background    : -moz-linear-gradient(top, white, whitesmoke);
                                        background    : -webkit-linear-gradient(top, white, whitesmoke);
                                       "
                    data-dojo-props =  "
                                        region: 'trailing',
                                        splitter: true,
                                        gutters: true,
                                        liveSplitter: true
                                      "
                >
                  <div  id              =  "visitPanePreviousVisitTitlePane"
                        style           = " color         : #252525;
                                            font-size     : 12px;
                                            font-style    : italics;
                                            font-weight   : bold;
                                            border        : solid 1pt #cecece;
                                            border-radius : 3px;
                                            background    : #D0DFEA;
                                            box-shadow    : 1px 1px 2px #ddd;
                                            text-align    : center;
                                            margin-bottom : 3px;
                                            height        : 20px;
                                        "
                  >
                    <div > <span> Previous Visits
                                  <div id              = "previous_visit_date_filtering_select"
                                        data-dojo-id   = "previous_visit_date_filtering_select"
                                        data-dojo-type = "dijit.form.DateTextBox"
                                        data-dojo-props = "required:true,
                                                          invalidMessage: 'Please select Valid date' "
                                  >
                                  </div>
                            </span>
                    </div>
                  </div>

                </div>


            </div>

            <div  id            =  "visitPaneTabContainerArea"
                data-dojo-id    = "visitPaneTabContainerArea"
                data-dojo-type  =  "dijit/layout/TabContainer"
                style           =  "height:20em; overflow:auto;"
                data-dojo-props =  "
                                    region: 'bottom',
                                    splitter: true,
                                    gutters:true,
                                    liveSplitter:true,
                                    tabStrip: true,
                                    tabPosition: 'bottom'
                                  "
            >
                <div  id            =  "visitPaneInvestigationTab"
                    data-dojo-id    =  "visitPaneInvestigationTab"
                    data-dojo-type  =  "dojox/layout/ContentPane"
                    style           =  "height:15em; "
                    data-dojo-props =  "
                                        title: 'Investigation'
                                      "
                >
                </div>

                <div  id              =  "visitPaneImagingTab"
                      data-dojo-id    =  "visitPaneImagingTab"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "height:15em; "
                      data-dojo-props =  "
                                          title: 'Imaging'
                                        "
                >
                </div>

                <div  id            =  "visitPaneDiagnosisTab"
                    data-dojo-id    =  "visitPaneDiagnosisTab"
                    data-dojo-type  =  "dojox/layout/ContentPane"
                    style           =  "height:15em; "
                    data-dojo-props =  "
                                        title: 'Diagnosis'
                                      "
                >
                </div>

                <div  id              =  "visitPaneProceduresTab"
                      data-dojo-id    =  "visitPaneProceduresTab"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "height:15em; "
                      data-dojo-props =  "
                                          title: 'Procedures'
                                        "
                >
                </div>

                <div  id              =  "visitPaneMedicationsTab"
                      data-dojo-id    =  "visitPaneMedicationsTab"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "height:15em; "
                      data-dojo-props =  "
                                          title: 'Medications'
                                        "
                >
                </div>

                <div  id              =  "visitPaneAllergyTab"
                      data-dojo-id    =  "visitPaneAllergyTab"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "height:15em; "
                      data-dojo-props =  "
                                          title: 'Allergy'
                                        "
                >
                </div>

                <div  id              =  "visitPaneDocumentsTab"
                      data-dojo-id    =  "visitPaneDocumentsTab"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "height:15em;
                                          position: relative;
                                          float:right;"
                      data-dojo-props =  "
                                          title: 'Documents'
                                        "
                >
                </div>
                <div  id              =  "visitPaneCodingTab"
                      data-dojo-id    =  "visitPaneCodingTab"
                      data-dojo-type  =  "dojox/layout/ContentPane"
                      style           =  "height:15em;
                                          position: relative;
                                          float:right;"
                      data-dojo-props =  "
                                          title: 'Coding'
                                        "
                >
                </div>

              </div>

          </div>
          {% endif %}
          -->
          <!--  END OF VISITHOMECONTENTPANE  -->

    </div>
    <!--  END OF CENTERTOPTABPANE  -->

    <!-- TOOLTIPS -->
    <div  data-dojo-type="dijit/Tooltip"
          data-dojo-props="connectId:'AuShadhaHeaderIcon',position:['below']">
        Welcome to AuShadha Open Source EMR & Clinic Management System
    </div>
    <div  data-dojo-type="dijit/Tooltip"
          data-dojo-props="connectId:'loggedInUserIcon',position:['below']">
        Logged in as: {{user.username}}
    </div>
    <div data-dojo-type="dijit/Tooltip"
         data-dojo-props="connectId:'adminAreaHref',position:['below']">
        Admin Area
    </div>
    <div data-dojo-type="dijit/Tooltip"
         data-dojo-props="connectId:'loginHref',position:['below']">
        Login
    </div>
    <div data-dojo-type="dijit/Tooltip"
         data-dojo-props="connectId:'logoutHref',position:['below']">
        Logout
    </div>
    <div data-dojo-type="dijit/Tooltip"
         data-dojo-props="connectId:'frontPageSearchPatientAuShadhaLogo',position:['above']"
         >
        <b style="color:navy; text-align:center;"><em> Search Box <em></b>
        <p class="suggestion_text">Start searching by Patient's name or Add a New one</p>
    </div>
   <!-- END TOOLTIPS -->


 </div>
 <!--  END OF CENTERMAINPANE  -->
{% endblock centerbar %}


  <!--  START OF JSON MESSAGE  -->
  {% block json_message_div %}
  <div  id              = "bottomPane"
        class           = "edgePanel"
        data-dojo-type  = "dojox/layout/ContentPane"
        data-dojo-props = "region: 'bottom'">
     <div class="json_message_div">     </div>
       {% block footer %}
          <div class="footer ">
            <span>
              <i> AuShadha and Logo are &copy;of Dr. Easwar T.R 2012,<i> &nbsp;
                  <i id="click_for_gpl3"> GNU GPL Version 3 License</i> &nbsp;
                  <a href="mailto:dreaswar@gmail.com">dreaswar@gmail.com</a> &nbsp;
            </span>
            {% comment %}
            <p style="position:relative; float:right">
                <a href="http://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px"
                        src="http://jigsaw.w3.org/css-validator/images/vcss"
                        alt="Valid CSS!" />
                </a>
            </p>
            {% endcomment %}
          </div>
       {% endblock footer %}
  </div>
  <!--  END OF JSON MESSAGE  -->
  {% endblock json_message_div %}

  <!--  DIALOGS AND MISC  -->

  <!--  <div id="lsidebar_json_message_div">  </div>-->

    <div id="loginDialog">         </div>

    <div id              = "editPatientDialog"
         data-dojo-type  = "dijit/Dialog"
         data-dojo-id    = "editPatientDialog"
         data-dojo-props = "title: 'New Patient'"
    >
    </div>

    <div id             = "dialogJsonMessage"
         data-dojo-type = "dijit/Dialog"
         data-dojo-id   = "dialogJsonMessage"
         data-dojo-props = "title: 'ERROR!'"
    >
    </div>

    <div id              = "permissionDeniedErrorDialog"
         data-dojo-id    = "permissionDeniedErrorDialog"
         data-dojo-type  = "dijit/Dialog"
         data-dojo-props = "title  : 'ERROR! Permission Denied'"
    >
      <p class="error_text"> Permission Denied </p>
    </div>

    <div id              = "invalidFormSubmissionErrorDialog"
         data-dojo-id    = "invalidFormSubmissionErrorDialog"
         data-dojo-type  = "dijit/Dialog"
         data-dojo-props = "title  : 'ERROR!'"
    >
      <p class="error_text"> Invalid Form Submission         </p>
      <p class="suggestion_text">Please Correct & Resubmit </p>
    </div>

    <div id              = "appwideNotificationPopup"
         data-dojo-id    = "appwideNotificationPopup"
         data-dojo-type  = "dojox/widget/Toaster"
         data-dojo-props = "positionDirection : 'tr-down',
                            duration          : 0,
                            messageTopic      : 'appwideNotificationMessage'
                            "
    >

    </div>

    <div id             = "addDialog"
         data-dojo-type = "dijit/Dialog"
         data-dojo-id   = "addDialog"
         data-dojo-props = "title: 'Add'"
    >
      <div data-dojo-type = "dijit/form/Form"
          id              = "addDialogForm"
          data-dojo-id    = "addDialogForm"
          encType         = "multipart/form-data"
          action          = ""
          method          = ""
      >

      </div>
      <div id              = "addDialogContent"
      >

      </div>
      
    </div>


    <div id              = "gridDialog"
         data-dojo-type  = "dijit/Dialog"
         data-dojo-id    = "gridDialog"
         data-dojo-props = "title: 'List'"
    >
      <div id     = "gridDialogContent"
           style  = "height   : 600px;
                     width    : 600px;
                     overflow : auto;
                    "
      >

      </div>

    </div>

  <!--  END DIALOGS AND MISC  -->

</div>
<!--  END OF APP CONTAINER  -->

</body>
</html>


