<link rel="shortcut icon" href="{{STATIC_URL}}images/AuShadha_logo/AuShadha_logo_16.png" type="image/x-icon" /> 


    <link rel="stylesheet" 
	      href="{{STATIC_URL}}/plugins/dojo-1.8.0/dojo/resources/dojo.css" 
	      type="text/css" />

    <link rel="stylesheet" 
	      href="{{STATIC_URL}}/plugins/dojo-1.8.0/dijit/themes/claro/claro.css" 
	      type="text/css" />

    <link rel="stylesheet" 
	      href="{{STATIC_URL}}/plugins/dojo-1.8.0/dojox/grid/resources/Grid.css" 
	      type="text/css" />

    <link rel="stylesheet" 
	      href="{{STATIC_URL}}/plugins/dojo-1.8.0/dojox/grid/resources/claroGrid.css" 
	      type="text/css" />

    <link rel="stylesheet"
        href="{{STATIC_URL}}/plugins/dojo-1.8.0/dojox/widget/Portlet/Portlet.css"
        type="text/css" />

    <link rel="stylesheet"
        href="{{STATIC_URL}}/plugins/dojo-1.8.0/dojox/layout/resources/GridContainer.css"
        type="text/css" />

    <link rel="stylesheet"
        href="{{STATIC_URL}}/plugins/dojo-1.8.0/dojox/layout/resources/DndGridContainer.css"
        type="text/css" />
        
    <link rel="stylesheet"
        href="{{STATIC_URL}}/plugins/dojo-1.8.0/dojox/widget/Calendar/Calendar.css"
        type="text/css" />

    <link rel="stylesheet"
        href="{{STATIC_URL}}/plugins/dojo-1.8.0/dojox/layout/resources/ExpandoPane.css"
        type="text/css" />

    <link rel="stylesheet"
    href="{{STATIC_URL}}/plugins/dojo-1.8.0/dojox/widget/Toaster/Toaster.css"
    type="text/css" />

    <link rel="stylesheet"
           href="{{STATIC_URL}}/plugins/dojo-1.8.0/dojox/layout/resources/FloatingPane.css"
          type="text/css" />
    
    <link rel="stylesheet"
          href="{{STATIC_URL}}/plugins/dojo-1.8.0/dojox/layout/resources/ResizeHandle.css"
          type="text/css" />


<!-- Custom Stylesheets. -->


<!--    <link rel="stylesheet" -->
<!--	      href="{{STATIC_URL}}custom/styles/style.css" -->
<!--	      type="text/css" />-->

<!-- End of custom styles -->

