<div data-dojo-type = "dijit/form/Form" 
     id             = "newDemographicsDataAddOrEditForm" 
     data-dojo-id   = "newDemographicsDataAddOrEditForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type="dojo/method" data-dojo-event="onSubmit" data-dojo-args="evt">
    if( this.validate() ){
      require(["dijit/registry", 
              "dojo/request","dojo/dom","dojo/dom-form","dojo/json","dojo/_base/fx",
               "dojo/domReady!"
      ],
      function(registry, request, dom, domForm, JSON,fx){
          var url = "{{action}}";
          var form_data = domForm.toObject('newDemographicsDataAddOrEditForm');
          request(url,{method:"POST", data: form_data}).
          then( 
            function(json){
              var jsondata = JSON.parse(json);
              if (jsondata.success == true){
                var jsonNode = dom.byId("patientDemographicsFormJsonMessage");
                jsonNode.innerHTML = jsondata.error_message;
                fx.fadeIn({node: jsonNode, duration: 2000}).play();
                fx.fadeOut({node: jsonNode, duration: 2000}).play();
                console.log("Saved Successfully..")
              }
            },
            function(json){
              var jsondata  = JSON.parse(json);
              var jsonNode = dom.byId("patientDemographicsFormJsonMessage");
              jsonNode.innerHTML = jsondata.error_message;
              fx.fadeIn({node: jsonNode, duration: 2000}).play();
              fx.fadeOut({node: jsonNode, duration: 2000}).play();
              console.log("Demographics Form Request ERROR !...")
            },
            function(evt){
              console.log("Demographics Form Request Completed...")
            }
          );
   	   }
 		 );
     return false;
    }
    else{
     raiseInvalidFormSubmission();
     return false;
    }
  </script>


<table>
  {{patient_demographics_data_form}}
</table>

    <button data-dojo-type = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
            type           = "submit" 
            name           = "{{button_label}}Button" 
            value          = "{{button_label}}"
    >
      {{button_label}}
    </button>


    <button data-dojo-type  = "dijit/form/Button" 
						data-dojo-props = "iconClass: 'dijitEditorIcon dijitEditorIconDelete'"
            type            = "button"
            name            = "delPatientDemographicsData"
            id              = "delPatientDemographicsDataBtn">
       Delete
       <script  type            = "dojo/method" 
                data-dojo-event = "onClick" 
                data-dojo-args  = "evt"
        >
          require(["dijit/registry", 
                "dojo/request","dojo/dom","dojo/dom-form","dojo/json",
                 "dojo/domReady!"
          ],
           function(registry, request, dom, domForm, JSON){
              var url = "{{patient_demographics_data_obj.get_del_url}}"
              request(url,{method:"GET", handleAs: "json"}).
              then( 
                function(json){
                  var jsondata = JSON.parse(json);
                  if (jsondata.success == true){
                    request("{{patient_demographics_data_obj.get_del_url}}",{method:"GET"}).
                    then(
                      function(html){
                        dom.byId("demographics_add_or_edit_form").innerHTML = html;
                        parser.parse(dom.byId('demographics_add_or_edit_form'));
                    },
                    function(json){
                      console.log(" SERVER ERROR! ")
                    }
                    );
                  }
                  else{
                    dom.byId("patientDemographicsFormJsonMessage").innerHTML = jsondata.error_message;
                  }
                },
                function(json){
                  console.log(this,arguments);
                  console.log("Demographics Form Request ERROR !...")
                },
                function(evt){
                  console.log("Demographics Form Request Completed...")
                }
              )
     	     }
   		   );
         return false;
       </script>
    </button>


<div id="patientDemographicsFormJsonMessage"></div>
</div>
