<img src   = "{{MEDIA_URL}}images/search.png" 
     alt   = "Search" 
     title = "Search"
     id    = patSearchIcon
     style = "position : relative; 
              top      : 0px; 
              left     : 0px;
             ">

<div id              = "simplePatientSearch" 
     data-dojo-type  = "dijit/TitlePane" 
     data-dojo-props = "title: 'Simple Search', open:true"
>


    <div data-dojo-type  = "dojo/store/Memory"
         data-dojo-id    = "patSearchForStore"
         data-dojo-props = "data: [
                                  {id: 'full_name'  , name: 'Full Name' }, 
                                  {id: 'first_name' , name: 'First Name' }, 
                                  {id: 'middle_name',  name: 'Middle Name'},
                                  {id: 'last_name'  ,  name: 'Last Name'  },
                                  {id: 'age'        , name: 'Age'  },
                                  {id: 'sex'        , name: 'Sex'  },
                                  {id: 'patient_hospital_id'   , name: 'Hospital ID'  }
                                  {% if user.is_superuser %}
                                  ,{id: 'id' , name: 'Primary Key' }
                                  {% endif %}
                                 ]">
    </div>

    <!--<div data-dojo-type  = "dijit.Tooltip" -->
    <!--     data-dojo-props = "connectId:'patientGridFilterBtn',position:['above']">-->
    <!--     Enter Search terms and click to search for a Patient-->
    <!--</div>-->

    <table>
    <tr>
    <td>
      <div data-dojo-type   = "dijit/form/FilteringSelect"
           class            = "search_form_div"
           value            = "full_name"
           data-dojo-props  = "store:patSearchForStore, required:true, searchAttr:'name'"
           name             = "patSearchForFilteringSelect"
           data-dojo-id     = "patSearchForFilteringSelect"
           id               = "patSearchForFilteringSelect"
           onChange         = "patSearchForFilteringSelectOnChange(this.get('value'))"
       >

      </div>

      <div id    = "searchLinker" 
           class            = "search_form_div"
           style = "font-style : italic; 
                    color      : navy  ; 
                    text-align : left;
                   ">  
        contains ..
      </div>

      <div  data-dojo-type  = "dijit/form/ValidationTextBox" 
           class            = "search_form_div"
            data-dojo-id    = "filterPatGridTextBox"
            data-dojo-props = "regExp         : '[a-zA-Z0-9 -]+', 
                               required       : true,
                               invalidMessage : 'Invalid Search Terms'
                              "
            id              = "filterPatGridTextBox"
            onKeyUp         = "patSearchOnKeyUp('evt');"
       >

      </div>

      <button data-dojo-type  = "dijit/form/Button" 
           class            = "search_form_div"
              data-dojo-props = "iconClass: 'dijitIconFilter'"
              type            = "submit"
              data-dojo-id    = "patientGridFilterBtn"
              id              = "patientGridFilterBtn"
              title           = "Filter the Patient List..."
      >
        
        <script type             = "dojo/connect" 
                data-dojo-event  = "onClick" 
                data-dojo-args   = "evt"
        >
            var search_field   = patSearchForFilteringSelect.get('value');
            var txt            = filterPatGridTextBox.get('value');
            var search_obj     = { search_field : search_field , 
                                   search_for    : txt 
                                  };
            if( !filterPatGridTextBox.get('value') || 
                !patSearchForFilteringSelect.get('value') 
            ){
              search_obj.search_for   = "*"
              search_obj.search_field = "id"
            }
            grid.filter(search_obj, true);
        </script>

      </button>

      <button data-dojo-type  = "dijit/form/Button" 
           class            = "search_form_div"
              data-dojo-props = "iconClass: 'dijitIconClear'"
              type            = "submit"
              data-dojo-id    = "patientGridFilterClearBtn"
              id              = "patientGridFilterClearBtn"
              title           = "Clear filter and show all patients.."
      >
        
        <script type             = "dojo/connect" 
                data-dojo-event  = "onClick" 
                data-dojo-args   = "evt"
        >
            patSearchForFilteringSelect.set('displayedValue', "Full Name");
            filterPatGridTextBox.set('displayedValue', "");
            var search_obj     = { search_field : "id" , search_for : "*" };
            grid.filter(search_obj, true);
        </script>

      </button>
    </td>
    </tr>
  </table>

</div>


<div data-dojo-type  = "dijit/TitlePane" 
     data-dojo-props = "title: 'Advanced Search', open:false"
     id              = "advancedPatSearchDiv"
>
<div data-dojo-type= "dijit/form/Form"
      data-dojo-id  = "patient_advanced_search_form"
      id            = "patient_advanced_search_form"
      encType       = "multipart/form-data" 
      action        = ""
      method        = ""
 >

  <script type="dojo/method" data-dojo-event="onReset">
      return true;
  </script>

  <script type="dojo/method" data-dojo-event="onSubmit">
   if(this.validate()){
    require(["dojo/_base/xhr", 
             "dojo/dom", 
             "dojo/json", 
             "dijit/registry", 
             "dijit/Dialog",
             "dojo/domReady!"
    ],
    function(xhr, dom, JSON, registry, Dialog){
						var hasBeenSent = false;
						xhr.post({
								url  : "{%url 'patient_search' %}",
								form : dom.byId("patient_search_form"),
								load : function(json) {
										var jsondata = JSON.parse(json)
										if(jsondata.success = true){
											dom.byId("patient_search_form").reset();
                      editDialog.hide()
											var data = {}
										}
										else{
											var content = jsondata.error_message + "\n" + jsondata.form_errors;
                      errorDialog.set('content', content);
                      errorDialog.set('title', "ERROR! ");
								      errorDialog.show();
										}
								},
								error: function(response) {
                      errorDialog.set('content', jsondata.error_message);
                      errorDialog.set('title', "ERROR! ");
								      errorDialog.show();
								},
								handle: function() {
										hasBeenSent = true;
								}
						});
						
   });
		return false;
		}
		else{
		 return false;
		}
  </script>

   <table>

      <tr>
          <th>
            <label for="patientHospitalIdSelection"
            > 
              Patient Id 
            </label>
          </th>
          <td>
            <input id="patientHospitalIdSelection" 
                   type="text"
            /> 
          </td>
      </tr>

      <tr >
          <th>
            <label for="patientNameSelection"
            > 
              Patient Full Name 
            </label>
          </th>
          <td>
            <input id="patientNameSelection" 
                   type="text"
            /> 
          </td>
      </tr>

      <tr >
          <th>
            <label for="patientGuardianNameSearchBox"
            > 
              Guardian Name 
            </label>
          </th>
          <td>
            <input id="patientGuardianNameSearchBox" 
                   type="text"
                   data-dojo-type="dijit/form/ValidationTextBox"
                   data-dojo-props = "required: false, invalidMessage:'Invalid Character...',regExp:'[a-zA-Z-. ]+' "
            /> 
          </td>
      </tr>

      <tr>
          <th>
            <label for="patientAgeTextBox"
            > 
              Age
            </label>
          </th>

          <td>
              <select id              = "patientAgeChoiceLinkerBox"
                     data-dojo-type  = "dijit/form/Select"
              >
               <option value="any" selected="selected" title="Any"> Any  </option>
               <option value="equals" title="Equals">                ==  </option>
               <option value="less_than_or_equals" title="Less than or Equals"> <=  </option>
               <option value="more_than_or_equals" title="Greater than or Equals"> >= </option>
               <script type="dojo/method" data-dojo-event="onChange" data-dojo-args= "evt">
                 require(["dijit/registry"], 
                  function(registry){
                     if(registry.byId('patientAgeChoiceLinkerBox').get('value')!= 'any'){
                        registry.byId('patientAgeNumberTextBox').set('disabled',false);
                        registry.byId('patientAgeNumberTextBox').set('value','');
                        registry.byId('patientAgeChoiceBox').set('disabled',false);
                        registry.byId('patientAgeChoiceBox').set('value','years');
                      }
                      else{
                        registry.byId('patientAgeNumberTextBox').set('disabled',true);
                        registry.byId('patientAgeNumberTextBox').set('value','');
                        registry.byId('patientAgeChoiceBox').set('disabled',true);
                        registry.byId('patientAgeChoiceBox').set('value','years');
                      }
                    }
                 );
               </script>
              </select>

              <input type            = "text"  
                     id              = "patientAgeNumberTextBox"
                     data-dojo-type  ="dijit/form/NumberSpinner"
                     data-dojo-props ="smallDelta:1, constraints:{min:0,max:120,places:0},
                                      required: true,
                                      invalidMessage: 'Invalid Age, Use only Numbers', disabled:true"
                     style= "width: 70px; "
               > 

              <select id              = "patientAgeChoiceBox"
                     data-dojo-type  = "dijit/form/Select"
                     data-dojo-props = "disabled:true"
              >
               <option value="days" > Days </option>
               <option value="weeks" > Weeks </option>
               <option value="months"> Months </option>
               <option value="years" selected="selected"> Years </option>
               <option value="any" > Any </option>
              </select>
           </td>
      </tr>

      <tr>
           <th>
              <label for="patientSexTextBox"
              > 
                Sex 
              </label>
          </th>

          <td>
            <select id              = "patientSexTextBox"
                   data-dojo-type  = "dijit/form/Select"
            >
             <option value="*" selected="selected"> Any </option>
             <option value="male" > Male </option>
             <option value="female"> Female </option>
             <option value="others"> Others </option>
            </select>
          </td>
      </tr>

   </table>

   <table>
      <tr>
          <th> 
            <label for="patientSurgeonFilteringSelect"
            > 
              Surgeon
            </label>
          </th>
          <td>
          <input type           = "text" 
                 id             = "patientSurgeonFilteringSelect"
                 data-dojo-type = "dijit/form/FilteringSelect"
          >
          </td>
      </tr>

      <tr>
   </table>

   <table>
      <tr>
          <th>
            <label for="patientCityTextBox"
            > 
              City 
            </label>
          </th>

          <td>
            <input id              = "patientCityTextBox"
                   data-dojo-type  = "dijit/form/ValidationTextBox"
            >
          </td>
      </tr>

      <tr>
          <th>
            <label for="patientDistrictTextBox"
            > 
              District 
            </label>
          </th>
          <td>
            <input id              = "patientDistrictTextBox"
                   data-dojo-type  = "dijit/form/ValidationTextBox"
            >
          </td>
      </tr>

      <tr>
          <th>
            <label for="patientStateTextBox"
            > 
              State 
            </label>
          </th>

          <td>
            <input id              = "patientStateTextBox"
                   data-dojo-type  = "dijit/form/ValidationTextBox"
            >
          </td>
      </tr>

      <tr>
          <th>
            <label for="patientCountryTextBox"
            > 
              Country 
            </label>
          </th>

          <td>
            <input id              = "patientCountryTextBox"
                   data-dojo-type  = "dijit/form/ValidationTextBox"
            >
          </td>

      </tr>

      <tr>
          <th>
            <label for="patientPincodeTextBox"
            > 
              PinCode 
            </label>
          </th>

          <td>
            <input id              = "patientPincodeTextBox"
                   data-dojo-type  = "dijit/form/NumberTextBox"
            >
          </td>
      </tr>

        <tr>
          <th>
            <label for="patientPhoneTextBox"
            > 
              Phone
            </label>
          </th>

          <td>
            <select id              = "patientPhoneChoiceTextBox"
                   data-dojo-type  = "dijit/form/Select"
            >
             <option value="*" selected="selected"> Any </option>
             <option value="mobile" > Mobile </option>
             <option value="landline"> Landline </option>
             <option value="others"> Others </option>
            </select>
            <input id              = "patientPhoneTextBox"
                   data-dojo-type  = "dijit/form/NumberTextBox"
            >
          </td>
        </tr>
   </table>

   <table>
      <tr>
		      <td >
		      <button 
            type            = "submit"
			      data-dojo-props ="iconClass: 'dijitIconSearch'"
		        data-dojo-type  = "dijit/form/Button"
		        id              = "patientAdvancedSearchFormSubmitBtn" 
 						data-dojo-id    = "patientAdvancedSearchFormSubmitBtn"
		      > 
		         Search
		      </button>

					<button data-dojo-type  = "dijit/form/Button" 
						      data-dojo-props ="iconClass: 'dijitIconClear'"
						      type            = "reset"
					        data-dojo-id    = "patientAdvancedSearchFormResetBtn"
					>
						 Reset
					</button>
					</td>
      </tr>
   </table>

</div>

</div>

