<div data-dojo-type = "dijit/form/Form" 
     id             = "newFamilyHistoryAddForm"
     data-dojo-id   = "newFamilyHistoryAddForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type="dojo/on" data-dojo-event="submit">
  
    if( this.validate() ){
      require([
       "dijit/registry", 
      ],
      function( registry ){
        //    {% if perms.family_history.add_familyhistory %}
        addItem( "{{addUrl}}", "newFamilyHistoryAddForm", "FAMILY_HISTORY_GRID" );
        //    {% else %}
        registry.byId( "permissionDeniedErrorDialog" ).show();
        //   {% endif %}
     });
     return false;
    }

    else{
      raiseInvalidFormSubmission();
      return false;
    }
  
  </script>

    {% if perms.family_history.add_family_history %}

        <table>
        {{family_history_form}}
        </table>

        <button 	type 	          = "submit" 
                    data-dojo-type    = "dijit/form/Button"
                    data-dojo-props   = "iconClass:'dijitIconSave'"
                    name 	          = "submitbutton" 
                    id 		          = "family_history_form_submit"
                    value             = "Add">
          Add

          <script type            = "dojo/on" 
                  data-dojo-event = "click" 
          >
            ADD_MORE_ITEMS           = false;
          </script>

        </button>
<!--
        <button 	type 	        = "submit" 
                    data-dojo-type  = "dijit/form/Button"
                    data-dojo-props = "iconClass:'dijitIconSave'"
                    name 	        = "submitAndAddMoreButton" 
                    id 		        = "family_history_form_add_more"
                    value           = "Add More">

          Add More
          
          <script type            = "dojo/on" 
                  data-dojo-event = "click"
          >
            ADD_MORE_ITEMS           = true;
          </script>

        </button>-->

        <button   type            = "reset" 
                  data-dojo-type  = "dijit/form/Button"
                  data-dojo-props = "iconClass:'dijitIconClear'"
                  id              = "family_history_form_reset"
                  value           = "Reset">
          Reset

          <script type="dojo/on" data-dojo-event="click">

              return confirm('Press OK to reset widget values');

          </script>

        </button>

    {% else %}
      <p class="suggestion_text"> Insufficient Permissions to add family_history </p>
    {%endif%}

</div>

