<div data-dojo-type = "dijit/form/Form" 
     id             = "newMedicalHistoryEditForm"
     data-dojo-id   = "newMedicalHistoryEditForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type="dojo/method" data-dojo-event="onSubmit" data-dojo-args="evt">
    if( this.validate() ){
      require(["dojo/dom",
               "dijit/registry",
               "dojo/domReady!"
      ],
       function(dom,registry){
         //	{% if perms.medical_history.change_medicalhistory %}
          editItem("{{editUrl}}","newMedicalHistoryEditForm", window.CHOSEN_GRID);
         // {% else %}
          registry.byId("permissionDeniedErrorDialog").show();
         // {%endif %}
         return false;
   	   }
 		  );
     return false;
    }
    else{
     raiseInvalidFormSubmission();
     return false;
    }

  </script>

    <table>

      {{medical_history_form}}

    </table>

    {% if perms.medical_history.change_medicalhistory %}

        <button data-dojo-type = "dijit/form/Button" 
                data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
                type           = "submit" 
                name           = "editButton" 
                value          = "Edit"
        >
          Edit
        </button>

    {% endif %}

    {% if perms.medical_history.delete_medicalhistory %}

      <button data-dojo-type  = "dijit/form/Button" 
              data-dojo-props = "iconClass: 'dijitEditorIcon dijitEditorIconDelete'"
              type            = "button"
              name            = "delMedicalHistory"
              id              = "delMedicalHistoryBtn">
        Delete

        <script  type            = "dojo/method" 
                  data-dojo-event = "onClick" 
                  data-dojo-args  = "evt"
          >

              require(["dojo/dom",
                  "dijit/registry",
                  "dojo/domReady!"
              ],
              function(dom,registry){
                  //	{% if perms.medical_history.delete_medicalhistory %}
                      delItem("{{delUrl}}", window.CHOSEN_GRID);
                  // {% else %}
                      registry.byId("permissionDeniedErrorDialog").show();
                  // {%endif %}
              });

        </script>

      </button>

    {% endif %}

</div>
