{% if user and user.is_authenticated %}
<div data-dojo-type = "dijit.form.Form" 
     id             = "newPatientEditForm" 
     data-dojo-id   = "newPatientEditForm"
     encType        = "multipart/form-data" 
		  action 	 =  "" 
     method    =  "">


    <script type="dojo/method" data-dojo-event="onSubmit">
     if(this.validate()){
      require(["dojo/_base/xhr", 
               "dojo/dom", 
               "dojo/json", 
              "dojo/_base/fx",
		          "dijit/Dialog",
		          "dijit/form/Form",
		          "dijit/form/Button",
              "dijit/form/ValidationTextBox", 
              "dijit/form/Select",
              "dijit/registry"
       ],
       function(xhr, dom, JSON,fx, Dialog, Form, Button, TextBox, Select, registry){
 							var hasBeenSent = false;
//						 {% if perms.patient.change_patientdetail %}
							xhr.post({
									url  : "{{patient_detail_obj.get_patient_detail_edit_url}}",
									form : dom.byId("newPatientEditForm"),
									load : function(json) {
											var jsondata = JSON.parse(json)
											if(jsondata.success == true){
                        var dialog = dijit.byId("editPatientDialog").hide();
/*
												console.log(jsondata)
												var data = {
												 'id'                 : jsondata.id, 
												 'first_name'         : jsondata.first_name,
												 'middle_name'        : jsondata.middle_name,
												 'last_name'          : jsondata.last_name,
												 'age'                : jsondata.age,
												 'sex'                : jsondata.sex,
												 'patient_hospital_id': jsondata.patient_hospital_id,
												 'home'               : jsondata.home,
												 'edit'               : jsondata.edit,
												 'del'                : jsondata.del,
												 'contactadd'         : jsondata.contactadd,
												 'contactlist'        : jsondata.contactlist,
												 'phoneadd'           : jsondata.phoneadd,
												 'phonelist'          : jsondata.phonelist,
												 'guardianadd'        : jsondata.guardianadd,
												 'guardianlist'       : jsondata.guardianlist,
												 'emailadd'           : jsondata.emailadd,
												 'emaillist'          : jsondata.emaillist,
												 'admissionadd'       : jsondata.admissionadd,
												 'admissionlist'      : jsondata.admissionlist,
												 'visitadd'           : jsondata.visitadd,
												 'visitlist'          : jsondata.visitlist,
												}
												  var selectedRow = grid.selection.getSelected()
                          var selIndex = grid.selection.selectedIndex,
                              selItem  = grid.getItem(selIndex)
                          console.log(selItem)
                          console.log(data)
                          myStore.query();
*/
                          grid.render();
//                          var item = myStore.fetchItemByIdentity({"id": jsondata.id});
//                          myStore.put()
//                          var chosenRow = myStore.getIdentity(selItem);
//                          console.log(chosenRow)
//                          myStore.setValue(jsondata);
//                          myStore.save();
//                        console.log(selectedRow.getItem(this.rowIndex));
//												grid.store.newItem(data);
//												dom.byId("newPatientEditForm").reset();
											}
											else{
							        dijit.byId('dialogJsonMessage').set('title', "ERROR!");
							        dijit.byId('dialogJsonMessage').set('content', jsondata.error_message);
							        dijit.byId('dialogJsonMessage').show();
											}
									},
									error: function(response) {
							        dijit.byId('dialogJsonMessage').set('title', "ERROR!");
							        dijit.byId('dialogJsonMessage').set('content', jsondata.error_message);
							        dijit.byId('dialogJsonMessage').show();
									},
									handle: function() {
											hasBeenSent = true;
									}
							});
//{% else %}							
    dijit.byId("permissionDeniedErrorDialog").show();
//{%endif %}
     });
    return false;
    }
    else{
     dijit.byId("invalidFormSubmissionErrorDialog").show();
     return false;
    }
  </script>

		<table id		=	"patient_detail_edit_form_table"> 
					{{patient_detail_edit_form}} 
		</table>

    {% if perms.patient.change_patientdetail %}
    <button data-dojo-type = "dijit.form.Button" 
            data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
            type           = "submit" 
            name           = "editButton" 
            value          = "Edit">
      Edit
     </button>
    {%endif%}

    {% if perms.patient.delete_patientdetail %}
    <button data-dojo-type  = "dijit.form.Button" 
						data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconDelete'"    
            type            = "button"
            name            = "delPatient"
            id              = "delPatientBtn">
       Delete
   <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
			  require(
			    ["dojo/dom", 
			     "dojo/_base/xhr",
			     "dojo/json",
			     "dijit/registry",
			     "dijit/Dialog"
			    ],
			  function(dom, xhr, JSON, registry, Dialog){
					xhr.get({
					  url: "{{patient_detail_obj.get_patient_detail_del_url}}",
					  load: function(json){
					          var jsondata = JSON.parse(json)
					          if (jsondata.success == true){
                       dijit.byId("editPatientDialog").hide();
                       grid.render();
                       grid.selection.clear();
                       doPostDelCleanup();
							      }
							      else{
                      dijit.byId("dialogJsonMessage").set('title', "ERROR!");
                      dijit.byId("dialogJsonMessage").set('content', jsondata.error_message);
							        dijit.byId('dialogJsonMessage').show();
							      }
					        }
					});
			  });
    </script>
    </button>
    {% endif %}


</div>
{% else %}
<p class="suggestion_text"> Please Login </p>
{% endif %}


