{% if user and user.is_authenticated %}
  <div data-dojo-type = "dijit/form/Form" 
       id             = "newPhoneAddForm" 
       data-dojo-id   = "newPhoneAddForm"
       encType        = "multipart/form-data" 
       action         = "" 
       method         = "">

      <script type="dojo/method" data-dojo-event="onReset">
          return true;
      </script>

    <script type="dojo/method" data-dojo-event="onSubmit">
     if(this.validate()){
        require([
         "dijit/registry", 
        ],
        function(registry){
  //    {% if perms.phone.add_phone %}
        addItem("{{patient_detail_obj.urls.add.phone}}", "newPhoneAddForm");
  //    {% else %}
        registry.byId("permissionDeniedErrorDialog").show();
  //   {% endif %}
       });
       return false;
      }
      else{
        raiseInvalidFormSubmission();
        return false;
      }
    </script>

  {% if perms.phone.add_phone %}

          <table>
            {{phone_form}}
          </table>

          <button 	type 	          = "submit" 
                    data-dojo-type  = "dijit/form/Button"
                    data-dojo-props = "iconClass:'dijitIconSave'"
                    name 	          = "submitbutton" 
                    id 		          = "phone_form_submit"
                    value           = "Add"
          >
            Add

            <script type="dojo/method" 
                    data-dojo-event="onClick" 
                    data-dojo-args="evt"
            >
              ADD_MORE_ITEMS = false;
            </script>
          </button>

          <button 	type 	        = "submit" 
                    data-dojo-type  = "dijit/form/Button"
                    data-dojo-props = "iconClass:'dijitIconSave'"
                    name 	        = "submitAndAddMoreButton" 
                    id 		        = "phone_form_add_more"
                    value           = "Add More"
          >
            Add More
          <script type="dojo/method" 
                  data-dojo-event="onClick" 
                  data-dojo-args="evt"
          >
            ADD_MORE_ITEMS = true;
          </script>

          </button>

          <button 	type 	        = "reset" 
                    data-dojo-type  = "dijit/form/Button"
                    data-dojo-props = "iconClass:'dijitIconClear'"
                    id 		        = "phone_form_reset"
                    value           = "Reset">
            Reset
          </button>

  </div>

  {% else %}
  
    <p class="suggestion_text"> No Permission to add Phones </p>
  
  {% endif %}

{% endif %}