{% if user and user.is_authenticated %}
<div data-dojo-type = "dijit/form/Form" 
     id             = "newGuardianEditForm" 
     data-dojo-id   = "newGuardianEditForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type="dojo/method" data-dojo-event="onSubmit">
    if( this.validate() ){
      require(["dijit/registry",
               "dojo/domReady!"
      ],
       function(registry){
         //	{% if perms.patient.change_patientguardian %}
          editItem("{{patient_guardian_obj.get_edit_url}}","newGuardianEditForm","guardian_list");
         // {% else %}
          registry.byId("permissionDeniedErrorDialog").show();
         // {%endif %}
         return false;
   	   }
 		  );
     return false;
    }
    else{
     raiseInvalidFormSubmission();
     return false;
    }
  </script>



		<table>
			{{patient_guardian_edit_form}}
		</table>
	
	 {%if perms.patient.change_patientguardian %}
   <button data-dojo-type = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
            type           = "submit" 
            name           = "editButton" 
            value          = "Edit">
      Edit
     </button>
    {% endif %}

    {% if perms.patient.delete_patientguardian %}
      <button data-dojo-type  = "dijit/form/Button" 
						  data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconDelete'"    
              type            = "button"
              name            = "delGuardian"
              id              = "delGuardianBtn">
         Delete
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
         //	{% if perms.patient.delete_patientguardian %}
		     delItem("{{patient_guardian_obj.get_del_url}}", "guardian_list");
         // {% else %}
         registry.byId("permissionDeniedErrorDialog").show();
         // {%endif %}
        </script>
      </button>
    {% endif %}
</div>
{% endif %}
