{% if user and user.is_authenticated %}
  <div data-dojo-type = "dijit.form.Form" 
       id             = "newGuardianAddForm" 
       data-dojo-id   = "newGuardianAddForm"
       encType        = "multipart/form-data" 
       action         = "" 
       method         = "">

      <script type="dojo/method" data-dojo-event="onReset">
          return true;
      </script>

      <script type="dojo/method" data-dojo-event="onSubmit">
       if(this.validate()){
        require(["dojo/_base/xhr", 
                 "dojo/dom", 
                 "dojo/json", 
                 "dijit/registry", 
                 "dijit/Dialog",
                 "dojo/domReady!"
        ],
        function(xhr, dom, JSON, registry, Dialog){
   							var hasBeenSent = false;
  // {% if perms.patient.add_patientguardian %}
							  xhr.post({
									  url  : "{{patient_detail_obj.get_patient_guardian_add_url}}" ,
									  form : dom.byId("newGuardianAddForm"),
									  load : function(json) {
											  var jsondata = JSON.parse(json)
											  if(jsondata.success = true){
												  dom.byId("newGuardianAddForm").reset();
												  var data = {'id'         : jsondata.id, 
																	   'guardian_name'  : jsondata.guardian_name,
																	   'relation_to_guardian'    : jsondata.relation_to_guardian,
																	   'guardian_phone'    : jsondata.guardian_phone,
																	   'edit'        : jsondata.edit,
																	   'del'         : jsondata.del,
												  }
												  guardianGrid.store.newItem(data);
										      if(ADD_MORE_PATIENT_GUARDIAN == false){
     										    dijit.byId("editPatientDialog").hide();
										      }
										      else{
										        dijit.byId("id_guardian_name").focus();
										      }
											  }
											  else{
											  var content = jsondata.error_message + "\n" + jsondata.form_errors;
                        dijit.byId("dialogJsonMessage").set('title', "ERROR!")
                        dijit.byId("dialogJsonMessage").set('content', jsondata.error_message)
							          dijit.byId("dialogJsonMessage").show();
											  }
									  },
									  error: function(json) {
									      var jsondata = JSON.parse(json)
                        dijit.byId("dialogJsonMessage").set('title', "ERROR!")
                        dijit.byId("dialogJsonMessage").set('content', jsondata.error_message)
							          dijit.byId("dialogJsonMessage").show();
									  },
									  handle: function() {
											  hasBeenSent = true;
									  }
							  });
  //{% else %}							
     dijit.byId("permissionDeniedErrorDialog").show();
  //{% endif %}
       });
      return false;
      }
      else{
       dijit.byId("invalidFormSubmissionErrorDialog").show();
       return false;
      }
    </script>

  {% if perms.patient.add_patientguardian %}
		  <table>
			  {{patient_guardian_add_form}}
		  </table>

		  <button 	type 	          = "submit" 
						    data-dojo-type  = "dijit.form.Button"
						    data-dojo-props = "iconClass:'dijitIconSave'"
					     	name 	          = "submitbutton" 
						    id 		          = "patient_guardian_add_form_submit"
						    value           = "Add">
		   Add
       <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
         ADD_MORE_PATIENT_GUARDIAN = false;
       </script>
		  </button>
		  <button 	type 	          = "submit" 
						    data-dojo-type  = "dijit.form.Button"
						    data-dojo-props = "iconClass:'dijitIconSave'"
					     	name 	          = "submitAndAddMoreButton" 
						    id 		          = "patient_guardian_add_form_add_more"
						    value           = "Add More">
		   Add More
       <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
         ADD_MORE_PATIENT_GUARDIAN = true;
       </script>
		  </button>
		  <button 	type 	          = "reset" 
						    data-dojo-type  = "dijit.form.Button"
						    data-dojo-props = "iconClass:'dijitIconClear'"
						    id 		          = "patient_guardian_add_form_reset"
						    value           = "Reset">
		   Reset
		  </button>
  </div>
  {% else %}
   <p class="suggestion_text"> No Permission to add Guardians </p>
  {% endif %}

{% endif %}
