{% if perms.visit.add_visitfollowup %}
<div data-dojo-type = "dijit/form/Form" 
     id             = "visitFollowUpAddForm"
     data-dojo-id   = "visitFollowUpAddForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = ""
     style          = "height: 60em; min-width: 50em; overflow:auto;"
     >

    <script type="dojo/method" data-dojo-event="onReset">
        return true;
    </script>
    
    <script type="dojo/method" data-dojo-event="onSubmit">
      if( this.validate() ){
        require(["dojo/dom",
                "dojo/request/xhr",
                "dijit/registry"  ,
                "dojo/json"       ,
                "dojo/dom-form"   ,
                "dijit/Dialog"    ,

                'aushadha/panes/visit_edit_pane'
        ],
        function(dom, 
                 xhr, 
                 registry, 
                 JSON, 
                 domForm, 
                 Dialog, 
                 VISIT_EDIT_PANE ){
          var editDialog  = registry.byId("editPatientDialog");
          var errorDialog = registry.byId("dialogJsonMessage");

          xhr("{{visit_detail_obj.get_visit_detail_visit_follow_up_add_url}}",{
              handleAs: "text",
              method  : "POST",
              data    : domForm.toObject("visitFollowUpAddForm")
          }).then(
            function(json){
                var jsondata = JSON.parse(json);
                console.log(jsondata);
                if(jsondata.success == true){
                  publishInfo("Saved Successfully" );
                  if(editDialog){
                    editDialog.hide();
                  }
                  new buildVisitTree();
                  registry.byId('visitPaneRSidebar').set('href',CHOSEN_PATIENT.visitsummary);
                  new buildPatientTree();
                  new buildAdmissionTree();
                }
                else{
                  publishError("ERROR ! :" + jsondata.error_message );
                }
            },
            function(json){
                  var jsondata = JSON.parse(json); 
                  publishError("ERROR!: "+ jsondata.error_message );
            },
            function(evt){console.log("Adding Data Finished Successfully...")}
          );
        });
        return false;
      }
      else{
        return false;
      }
    </script>

  {% if perms.visit.add_visitfollowup %}

      <table id	="visitFollowUpAddFormTable">
          <tr> 
            <td> Date        </td> <td>	 {{visit_follow_up_form.visit_date}}      </td> 
          </tr> 
          <tr>
            <td> Physician   </td> <td>   {{visit_follow_up_form.op_surgeon}}       </td>
          </tr>
          <tr>
            <td> Nature   </td> <td>   {{visit_follow_up_form.consult_nature}} </td> 
          </tr>
          <tr>
            <td> Status   </td> <td>   {{visit_follow_up_form.status}}         </td> 
          </tr>
      </table>
      <hr>
      <table id ="visitFollowUpAddSOAPFormTable" style="margin:5px; padding:5px;">
          <tr>
            <td> Subjective   </td> <td>   {{visit_follow_up_form.subjective}}         </td> 
          </tr>
          <tr>
            <td> Objective   </td> <td>   {{visit_follow_up_form.objective}}         </td> 
          </tr>
          <tr>
            <td> Assessment   </td> <td>   {{visit_follow_up_form.assessment}}         </td> 
          </tr>
          <tr>
            <td> Plan   </td> <td>   {{visit_follow_up_form.plan}}         </td> 
          </tr>
      </table>

      <hr class="shadow_line">

      <button data-dojo-type = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitIconSave'"
            type           = "submit" 
            name           = "submitButton" 
            value          = "Add">
        Save
     </button>


      <button data-dojo-type  = "dijit/form/Button" 
              data-dojo-props="iconClass: 'dijitIconClear'"
              type            = "reset">
        Reset
      </button>
  
  {% endif %}

</div>
{% else %}
<p class="suggestion_text"> Insufficient Permissions</p>
{% endif %}