<table id  = "visitComplaintAddFormTable" 
       class="content_pane_table visitComplaintAddFormTable">
  {{ visit_complaint_formset.management_form }}
  <thead> 
    <tr> 
          <th> Complaint </th> 
          <th> Duration  </th> 
          <th>     &nbsp;&nbsp;      </th>
    </tr>
  </thead>

  <tbody>
  {% for form in visit_complaint_formset %}
      <tr id    = "visitComplaintFormsetRow_{{forloop.counter}}"
          class = "visitComplaintsAddFormRow complaintFormRow"
      >
          <td>{{ form.complaint }}</td>
          <td>{{ form.duration }}</td>
          <td class="actionCell"> 
                <span style  = "background-image: url({{STATIC_URL}}images/add.png);
                                background-repeat: no-repeat;
                                background-size  : 16px 16px;
                                background-color : white;
                                width: 16px; 
                                height: 16px; 
                                cursor: pointer; 
                                display: {% if forloop.last %}table-cell{%else%}none{%endif%};
                                "
                      class  = "showNextComplaint"
                      title  = "Add more complaints"
                    >

                </span>

                <span style  = "background-image: url({{STATIC_URL}}images/absent.png );
                                background-repeat: no-repeat;
                                background-size  : 16px 16px;
                                background-color : white;
                                width: 16px; 
                                height: 16px; 
                                cursor: pointer; 
                                display:{% if forloop.counter == 1 %} none {% else %} table-cell {%endif %};
                                "
                      data-url="{{form.instance.get_del_url}}"
                      class  = "removeThisComplaint"
                      title  = "Remove this Complaint"
                      onclick = "removeThisComplaint(this);"
                  >
                </span>

          </td>
      </tr>
  {% endfor %}
  </tbody>
</table>

