<table id  = "visitComplaintEditFormTable_{{visit_detail_obj.id}}" 
       class="content_pane_table visitComplaintEditFormTable">
  {{ visit_complaint_formset.management_form }}
  <thead> 
    <tr> 
        <th> Complaint </th> 
        <th> Duration  </th> 
        <th>     &nbsp;&nbsp;      </th>
    </tr>
  </thead>

  <tbody>
  {% for form in visit_complaint_formset %}
      <tr id    = "visitComplaintEditFormsetRow_{{forloop.counter}}"
          class = "visitComplaintsEditFormRow complaintFormRow"
      >
          <td>{{ form.complaint }}</td>
          <td>{{ form.duration }}</td>
          <td class="actionCell"> 
              {% if forloop.counter != '1' %}
                {% include 'visit/snippets/icons/complaints_save.html' %}
                {% include 'visit/snippets/icons/complaints_remove.html' %}
              {% endif %}
              {% if forloop.last %}
                {% include 'visit/snippets/icons/complaints_add.html' %}
              {% endif %}
          </td>
      </tr>
  {% endfor %}
  </tbody>
</table>