    <script type="dojo/method" data-dojo-event="onReset">
        return true;
    </script>
    
    <script type="dojo/method" data-dojo-event="onSubmit">

      if( this.validate() ){
        require(["dojo/dom",
                "dojo/request/xhr",
                "dijit/registry"  ,
                "dojo/json"       ,
                "dojo/dom-form"   ,
                "dijit/Dialog"    
        ],
        function(dom, 
                 xhr, 
                 registry, 
                 JSON, 
                 domForm, 
                 Dialog){

          xhr( "{{ patient_detail_obj.urls.add.visit }}",
              {handleAs: "text",
               method  : "POST",
               data    : domForm.toObject("newVisitAddForm")
              }
          ).then(

            function(json){

                var jsondata = JSON.parse(json);
                 var parentTab = registry.byId('OPD_VISITS_CENTER_CP_TC_SUMMARY_CP').getParent();
                 var newVisitTab = registry.byId('NEW_VISIT')
                 var visitTree = registry.byId('OPD_VISITS_LEADING_BC_TOP_CP_TREE');

                if(jsondata.success == true){
                  publishInfo(jsondata.error_message );
                  parentTab.set( 'href', "{{ patient_detail_obj.urls.summary.visit }}" );
                  visitTree.refresh();
                  parentTab.removeChild( newVisitTab );
                  newVisitTab.destroyRecursive();
                }

                else{
                  publishError("ERROR ! :" + jsondata.error_message );
                }

            },

            function(json){
                  var jsondata = JSON.parse(json); 
                  publishError("ERROR!: "+ jsondata.error_message );
            },

            function(evt){
              console.log("Adding Data Finished Successfully...")
            }

          );

        });
        return false;
      }
      else{
        return false;
      }
    </script>
