    <script type="dojo/method" data-dojo-event="onReset">
        return true;
    </script>
    
    <script type="dojo/method" data-dojo-event="onSubmit">
      if( this.validate() ){
        require(["dojo/dom",
                "dojo/request/xhr",
                "dijit/registry"  ,
                "dojo/json"       ,
                "dojo/dom-form"   ,
                "dijit/Dialog"    
        ],
        function(dom, 
                 xhr, 
                 registry, 
                 JSON, 
                 domForm, 
                 Dialog){

          xhr(CHOSEN_PATIENT.urls.add.visit,
              {handleAs: "text",
               method  : "POST",
               data    : domForm.toObject("newVisitAddForm")
              }
          ).
          then(

            function(json){

                var jsondata = JSON.parse(json);
                var parentTab = registry.byId('opd_visits_center_summary_tab').getParent();
                var newVisitTab = registry.byId('new_visit')

                if(jsondata.success == true){
                  publishInfo(jsondata.error_message );
                  registry.byId('opd_visits_center_summary_tab').set('href',CHOSEN_PATIENT.urls.summary.visit);
                  registry.byId('opd_visits_leading_tree').refresh();
                  parentTab.removeChild( registry.byId('new_visit') );
                  newVisitTab.destroyRecursive();
                }
                else{
                  publishError("ERROR ! :" + jsondata.error_message );
                }

            },

            function(json){
                  var jsondata = JSON.parse(json); 
                  publishError("ERROR!: "+ jsondata.error_message );
            },

            function(evt){
              console.log("Adding Data Finished Successfully...")
            }

          );

        });
        return false;
      }
      else{
        return false;
      }
    </script>
