<div data-dojo-type = "dijit.form.Form" 
     id             = "newContactAddForm" 
     data-dojo-id   = "newContactAddForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type            = "dojo/method" 
          data-dojo-event = "onReset"
  >
    return true;
  </script>

  <script type            = "dojo/method" 
          data-dojo-event = "onSubmit"
          data-dojo-args  = "evt"
  >
   if(this.validate()){
      require([
       "dojo/_base/xhr", 
       "dojo/dom", 
       "dojo/json", 
       "dijit/registry", 
       "dijit/Dialog",
       "dojo/domReady!"
      ],
      function(xhr, dom, JSON, registry, Dialog){
					var hasBeenSent = false;
          var editDialog  = dijit.byId("editPatientDialog");
          var errorDialog = dijit.byId("dialogJsonMessage");
//        {% if perms.patient.add_patientcontact %}
					xhr.post({
							url  : "{{patient_detail_obj.get_patient_contact_add_url}}" ,
							form : dom.byId("newContactAddForm"),
							load : function(json) {
									var jsondata = JSON.parse(json)
									if(jsondata.success = true){
										dom.byId("newContactAddForm").reset();
										var data = {'id'         : jsondata.id, 
															 'address_type': jsondata.address_type,
															 'address'     : jsondata.address,
															 'city'        : jsondata.city,
															 'state'       : jsondata.state,
															 'country'     : jsondata.country,
															 'pincode'     : jsondata.pincode,
															 'edit'        : jsondata.edit,
															 'del'         : jsondata.del,
										}
										contactGrid.store.newItem(data);
                    if(ADD_MORE_PATIENT_CONTACT == false){
      								editDialog.hide();
    								}
    								else{
      								registry.byId("id_address_type").focus();
    								}
									}
									else{
										var content = jsondata.error_message;
                    errorDialog.set('title', "ERROR! ");
                    errorDialog.set('content', content);
							      errorDialog.show();
									}
							},
							error: function(json) {
							    var jsondata = JSON.parse(json);
					        errorDialog.set("title", "ERROR");
					        errorDialog.set("content", jsondata.error_message);
					        errorDialog.show();
							},
							handle: function() {
									hasBeenSent = true;
							}
					});
//       {% else %}
      dijit.byId("permissionDeniedErrorDialog").show();
//       {% endif %}
     });
     return false;
    }
    else{
       dijit.byId("invalidFormSubmissionErrorDialog").show();
       return false;
    }
  </script>

    {% if perms.patient.add_patientcontact %}
		<table>
			{{patient_contact_add_form}}
		</table>
		<button 	type 	          = "submit" 
						  data-dojo-type  = "dijit.form.Button"
						  data-dojo-props = "iconClass:'dijitIconSave'"
					   	name 	          = "submitbutton" 
						  id 		          = "patient_contact_add_form_submit"
						  value           = "Add">
		 Add
     <script type            = "dojo/connect" 
             data-dojo-event = "onClick" 
             data-dojo-args  = "evt"
     >
       ADD_MORE_PATIENT_CONTACT = false;
     </script>
		</button>

		<button 	type 	          = "submit" 
						  data-dojo-type  = "dijit.form.Button"
						  data-dojo-props = "iconClass:'dijitIconSave'"
					   	name 	          = "submitAndAddMoreButton" 
						  id 		          = "patient_contact_add_form_add_more"
						  value           = "Add More">
		 Add More
     <script type            = "dojo/connect" 
             data-dojo-event = "onClick"
             data-dojo-args  = "evt"
     >
      ADD_MORE_PATIENT_CONTACT = true;
     </script>
		</button>

		<button 	type 	          = "reset" 
						  data-dojo-type  = "dijit.form.Button"
						  data-dojo-props = "iconClass:'dijitIconClear'"
						  id 		          = "patient_contact_add_form_reset"
						  value           = "Reset">
		 Reset
		</button>
    {% else %}
      <p class="suggestion_text"> Insufficient Permissions to add contact </p>
    {%endif%}
</div>

