<div data-dojo-type = "dijit/form/Form" 
     id             = "newContactAddForm" 
     data-dojo-id   = "newContactAddForm"
     encType        = "multipart/form-data" 
     action         = " " 
     method         = " " >

    <script type="dojo/on" data-dojo-event="submit">
    
      if( this.validate() ){
        require([
        "dijit/registry", 
        ],
        function( registry ){
          //    {% if perms.contact.add_contact %}
          addItem( "{{patient_detail_obj.urls.add.contact}}", "newContactAddForm", "CONTACT_GRID" );
          //    {% else %}
          registry.byId( "permissionDeniedErrorDialog" ).show();
          //   {% endif %}
        });
        return false;     
      }

      else{
        raiseInvalidFormSubmission();
        return false;
      }

    </script>

    <script type = "dojo/on" data-dojo-event = "reset" >

        return confirm( "This will reset the form values. Click OK to proceed " );

    </script>

    <table>

      {{ contact_form }}

    </table>

    <button
          type	          = "submit" 
          data-dojo-type  = "dijit/form/Button"
          data-dojo-props = "iconClass:'dijitIconSave'"
          name 	          = "submitbutton" 
          id 		      = "contact_form_submit"
          value           = "Add"
          >
      Add
    </button>

    <button type            = "reset" 
            data-dojo-type  = "dijit/form/Button"
            data-dojo-props = "iconClass:'dijitIconClear'"
            id              = "contact_form_reset"
            value           = "Reset"
            >
      Reset
    </button>

</div>