<div data-dojo-type = "dijit/form/Form" 
     id             = "newContactEditForm" 
     data-dojo-id   = "newContactEditForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type="dojo/method" data-dojo-event="onSubmit" data-dojo-args="evt">
    if( this.validate() ){
      require(["dijit/registry",
               "dojo/domReady!"
      ],
       function(registry){
         //	{% if perms.contact.change_contact %}
         console.log(this);
          editItem("{{contact_obj.urls.edit}}","newContactEditForm");
//           editItem("{{contact_obj.urls.edit}}","newContactEditForm","contact_grid_alt");
         // {% else %}
          registry.byId("permissionDeniedErrorDialog").show();
         // {%endif %}
         return false;
        });
     
     return false;
    }
    else{
     raiseInvalidFormSubmission();
     return false;
    }
  </script>

    <table>
      {{contact_form}}
    </table>

    {% if perms.contact.change_contact %}
    <button data-dojo-type = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
            type           = "submit" 
            name           = "editButton" 
            value          = "Edit"
    >
      Edit
    </button>
    {% endif %}

    {% if perms.contact.delete_contact %}
    <button data-dojo-type  = "dijit/form/Button" 
            data-dojo-props = "iconClass: 'dijitEditorIcon dijitEditorIconDelete'"
            type            = "button"
            name            = "delContact"
            id              = "delContactBtn">
       Delete
       <script  type            = "dojo/method" 
                data-dojo-event = "onClick" 
                data-dojo-args  = "evt"
        >
         //	{% if perms.contact.delete_contact %}
		     delItem("{{contact_obj.urls.del}}");
// 		     delItem("{{contact_obj.urls.del}}", "contact_grid_alt");
         // {% else %}
         registry.byId("permissionDeniedErrorDialog").show();
         // {%endif %}
        </script>
    </button>
    {% endif %}

</div>
