{% if exam_name == 'vitals' %}

    <button type="button"
            data-dojo-type="dijit/form/Button"
            data-dojo-props="label: 'Growth Chart' , disabled: true"
            title="Growth Chart reference"
            >
        Growth chart
    </button>

    <button type="button"
            data-dojo-type="dijit/form/Button"
            data-dojo-props="label: 'BMI Reference' , disabled: true"
            title="BMI reference"
            >
        BMI reference
    </button>

    <button type="button"
            data-dojo-type="dijit/form/Button"
            data-dojo-props="label: 'GCS Helper' , disabled: true"
            title="GCS Helper Template"
            >
        GCS Helper
    </button>


{% endif %}


{% if exam_name == 'musculoskeletal' %}
<button type="button"
        data-dojo-type="dijit/form/Button"
        data-dojo-props="label: 'Templates' , disabled: false"
        title="Use Musculoskeletal Examination Templates to populate"
        >
        Templates
        {% include 'visit_phyexam/snippets/js/musculoskeletal/template.html' %}
</button>
{% endif %}



{% comment %}
<button type="button"
        data-dojo-type="dijit/form/Button"
        data-dojo-props="label: 'Templates' , disabled: true"
        title="Use Physical Examination Templates to populate"
        >
        Templates
</button>
{% endcomment %}