<div data-dojo-id    = "visitComplaintsHiddenDiv" 
       data-dojo-type  = "dijit/Dialog"
       data-dojo-props = "title:'Problem List for: {{patient_detail_obj}}'"
       id              = "visitComplaintsHiddenDiv" 
       class           = "hiddenVisitNotes nonModalDialog" 
       style           = "display  : none; 
                          position : absolute; 
                          top      : 10em; 
                          left     : 3em;
                         ">
       {%if visit_obj_list %}


    <span style = "position    : relative; 
                    float       : left; 
                    display     : inline-block; 
                    white-space : nowrap; 
                    margin      : 4px;
                  " 
          class = "dijitIconFilter"
      >
    </span>
      Filter By : 
    <span id              = "visitSummaryFilterSelector_problemList"
          data-dojo-type  = "dijit/form/Select"
          data-dojo-id    = "visitSummaryFilterSelector_problemList"
          data-dojo-props = "required:true"
          class           = "visitSummaryFilterSelector_problemList"
      >
      <option name="All"                   value="all"      > All Visits           </option>
      <option name="Active Vists"          value="active"   > Active Visits        </option>
      <option name="Via Appointments"      value="appts"    > Via Appointments     </option>
      <option name="Walkins"               value="walkins"  > Walkins              </option>
      <option name="Emergency"             value="emer"     > Emergency            </option>
      <option name="Telephonic"            value="tele"     > Telephonic           </option>
      <option name="Complaints"            value="complaint"> Complaints           </option>
      <option name="Visit Status"          value="visit_status"> Visit Status      </option>
      <option name="Physician"             value="op_surgeon"> Physician  </option>

      <script type="dojo/on" data-dojo-event="change" data-dojo-args="evt">
              require(['dojo/dom',
                        'dojo/on',
                        'dojo/dom-style',
                        'dojo/dom-attr',
                        "dijit/registry",
                        "dojo/dom-class",
                        "dojo/query",
                        "dojo/NodeList-traverse",
                        "dojo/NodeList-data"
                      ],
              function(dom,on,domStyle,domAttr, registry, domClass,query){
                  var filterValue = evt;
                  var tableRows   = query('.visitProblemListTable tbody tr');
                  console.log(tableRows);
                  switch(evt){
                    case 'all':
                      tableRows.forEach(function(node){
                        domStyle.set(node,{display:"table-row"});
                      });
                      domStyle.set('visitOpSurgeonFilterSelector_problemList',{display:'none'});                              
                      domStyle.set('visitStatusFilterSelector_problemList',{display:'none'});                                                          
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                            
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});
                      break;
                    case 'complaint':
                      tableRows.forEach(function(node){
                        domStyle.set(node,{display:"table-row"});
                      });
                      domStyle.set('visitOpSurgeonFilterSelector_problemList',{display:'none'});                              
                      domStyle.set('visitStatusFilterSelector_problemList',{display:'none'});                                                          
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                            
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'inline-block',whiteSpace:'nowrap'});
                      break;
                    case 'active':
                      tableRows.forEach(function(node){
                        if( domClass.contains(node, "visit_isActive") ){
                          domStyle.set(node,{display:"table-row"});
                        }else{
                          domStyle.set(node,{display:'none'});
                        }
                      });
                      domStyle.set('visitOpSurgeonFilterSelector_problemList',{display:'none'});                              
                      domStyle.set('visitStatusFilterSelector_problemList',{display:'none'});                                                          
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                            
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});
                      break;
                    case 'appts':
                      tableRows.forEach(function(node){
                        if( domClass.contains(node, "visit_hasFu") ){
                          domStyle.set(node,{display:"table-row"});
                        }else{
                          domStyle.set(node,{display:'none'});
                        }
                      });
                      domStyle.set('visitOpSurgeonFilterSelector_problemList',{display:'none'});                              
                      domStyle.set('visitStatusFilterSelector_problemList',{display:'none'});                                                          
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                            
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                            
                      break;
                    case 'walkins':
                      tableRows.forEach(function(node){
                        if( domClass.contains(node, "visit_hasNoFu") ){
                          domStyle.set(node,{display:"table-row"});
                        }else{
                          domStyle.set(node,{display:'none'});
                        }
                      });
                      domStyle.set('visitOpSurgeonFilterSelector_problemList',{display:'none'});                              
                      domStyle.set('visitStatusFilterSelector_problemList',{display:'none'});                                                          
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                                                          
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                            
                      break;
                    case 'emer':
                      tableRows.forEach(function(node){
                        if( domClass.contains(node, "visit_hasNoFu visitNature_emer") ){
                          domStyle.set(node,{display:"table-row"});
                        }else{
                          domStyle.set(node,{display:'none'});
                        }
                      });
                      domStyle.set('visitOpSurgeonFilterSelector_problemList',{display:'none'});                              
                      domStyle.set('visitStatusFilterSelector_problemList',{display:'none'});                                                          
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                                                          
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                            
                      break;
                    case 'tele':
                      tableRows.forEach(function(node){
                        if( domClass.contains(node, "visit_hasNoFu visitNature_tele") ){
                          domStyle.set(node,{display:"table-row"});
                        }else{
                          domStyle.set(node,{display:'none'});
                        }
                      });
                      domStyle.set('visitOpSurgeonFilterSelector_problemList',{display:'none'});                              
                      domStyle.set('visitStatusFilterSelector_problemList',{display:'none'});                                                          
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                            
                      break;
                    case 'visit_status':
                      tableRows.forEach(function(node){
                          domStyle.set(node,{display:"table-row"});
                      });
                      domStyle.set('visitStatusFilterSelector_problemList',{display:'inline-block',whiteSpace:'nowrap'});                              
                      domStyle.set('visitOpSurgeonFilterSelector_problemList',{display:'none'});                            
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                            
                      break;
                    case 'op_surgeon':
                      tableRows.forEach(function(node){
                          domStyle.set(node,{display:"table-row"});
                      });
                      domStyle.set('visitOpSurgeonFilterSelector_problemList',{display:'inline-block',whiteSpace:'nowrap'});                              
                      domStyle.set('visitStatusFilterSelector_problemList',{display:'none'});                            
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                            
                      break;
                    default:
                      tableRows.forEach(function(node){
                        domStyle.set(node,{display:"table-row"});
                      });
                      domStyle.set('visitOpSurgeonFilterSelector_problemList',{display:'none'});                              
                      domStyle.set('visitStatusFilterSelector_problemList',{display:'none'});                                                          
                      domStyle.set('visitComplaintFilterSelector_problemList',{display:'none'});                            
                  }
              });
      </script>

    </span>

    <span id              = "visitComplaintFilterSelector_problemList"
          data-dojo-type  = "dijit/form/Select"
          data-dojo-id    = "visitComplaintFilterSelector_problemList"
          data-dojo-props = "required:true"
          class           = "visitComplaintFilterSelector_problemList"
          style           = "display:none;"
    >

        {% for visit_obj in visit_obj_list %}

          {% for visit_detail, visit_rel in visit_obj.iteritems %}

            {% for complaint in visit_detail.get_visit_complaints %}

              <option name = "{{complaint.complaint}}"  
                      value= "{{complaint.complaint}}"  > 
                      {{complaint.complaint}}  
              </option>

            {% endfor %}

          {% endfor%}

        {% endfor %}

      <script type="dojo/on" data-dojo-event="change" data-dojo-args="evt">
              require(['dojo/dom',
                        'dojo/on',
                        'dojo/dom-style',
                        'dojo/dom-attr',
                        "dijit/registry",
                        "dojo/dom-class",
                        "dojo/query",
                        "dojo/NodeList-traverse",
                        "dojo/NodeList-data"
                      ],
              function(dom,on,domStyle,domAttr, registry, domClass,query){
                  var filterValue = evt;
                  var allTp       = query('.visitProblemListTable tbody tr');
                  var className   = "visitComplaint_" + evt;
                  console.log("Complaint is: " + className)
                  if(className){
                    allTp.forEach(function(node){
                      if(domClass.contains(node, className)){
                        domStyle.set(node,{display:'table-row'});
                      }else{
                        domStyle.set(node,{display:'none'});
                      }
                    });
                  }
              });
      </script>

    
    </span>


    <span id              = "visitStatusFilterSelector_problemList"
          data-dojo-type  = "dijit/form/Select"
          data-dojo-id    = "visitStatusFilterSelector_problemList"
          data-dojo-props = "required:true"
          class           = "visitStatusFilterSelector_problemList"
          style           = "display:none;"
    >

        {% for visit_obj in visit_obj_list %}

          {% for visit_detail, visit_rel in visit_obj.iteritems %}

              <option name = "{{visit_detail.status}}"  
                      value= "{{visit_detail.status}}"   > 
                      {{visit_detail.status}} 
              </option>

          {% endfor%}

        {% endfor %}

      <script type="dojo/on" data-dojo-event="change" data-dojo-args="evt">
              require(['dojo/dom',
                        'dojo/on',
                        'dojo/dom-style',
                        'dojo/dom-attr',
                        "dijit/registry",
                        "dojo/dom-class",
                        "dojo/query",
                        "dojo/NodeList-traverse",
                        "dojo/NodeList-data"
                      ],
              function(dom,on,domStyle,domAttr, registry, domClass,query){
                  var filterValue = evt;
                  var allTp       = query('.visitProblemListTable tbody tr');
                  var className   = "visitStatus_" + evt;
                  if(className){
                    allTp.forEach(function(node){
                      if(domClass.contains(node, className)){
                        domStyle.set(node,{display:'table-row'});
                      }else{
                        domStyle.set(node,{display:'none'});
                      }
                    });
                  }
              });
      </script>
    </span>


    <span id              = "visitOpSurgeonFilterSelector_problemList"
          data-dojo-type  = "dijit/form/Select"
          data-dojo-id    = "visitOpSurgeonFilterSelector_problemList"
          data-dojo-props = "required:true"
          class           = "visitOpSurgeonFilterSelector"
          style           = "display:none;"
    >

        {% for visit_obj in visit_obj_list %}

          {% for visit_detail, visit_rel in visit_obj.iteritems %}

              <option name = "{{visit_detail.op_surgeon}}"  
                      value= "{{visit_detail.op_surgeon}}"   > 
                      {{visit_detail.op_surgeon}} 
              </option>

              {% comment %} 
              #FIXME FU visit op surgeon listing not implemented. This has to be done
                {% for visit_fu in visit_detail.has_fu_visits %}
                <option name = "{{visit_fu.op_surgeon}}"  
                        value= "{{visit_fu.op_surgeon}}"   > 
                        {{visit_fu.op_surgeon}} 
                </option>
                {%endfor%}
              {% endcomment %}

          {% endfor%}

        {% endfor %}

      <script type="dojo/on" data-dojo-event="change" data-dojo-args="evt">
              require(['dojo/dom',
                        'dojo/on',
                        'dojo/dom-style',
                        'dojo/dom-attr',
                        "dijit/registry",
                        "dojo/dom-class",
                        "dojo/query",
                        "dojo/NodeList-traverse",
                        "dojo/NodeList-data"
                      ],
              function(dom,on,domStyle,domAttr, registry, domClass,query){
                  var filterValue = evt;
                  var allTp       = query(".visitProblemListTable tbody tr");
                  var className   = "visitOPSurgeon_" + evt;
                  if(className){
                    allTp.forEach(function(node){
                      if(domClass.contains(node, className)){
                        domStyle.set(node,{display:"table-row"});
                      }else{
                        domStyle.set(node,{display:'none'});
                      }
                    });
                  }
              });
      </script>
    </span>

    <div data-dojo-type  = "dijit/form/Button"
         data-dojo-props = "label: 'Compare Notes', iconClass: 'dijitIconCopy'"
         id              = "compareVisitNotesButton_{{patient_detail_obj.id}}"
         onClick         = "onCompareVisitNotesButtonClick(this);"
         style           = "position:relative; float:right;"
      >
        <script type="dojo/on" data-dojo-type="click" data-dojo-args="evt">
          
          function onCompareVisitNotesButtonClick(evt){
            
            require(['dijit/registry',
                     'dojo/dom',
                     'dojo/dom-style',
                     'dojo/dom-attr',
                     'dojo/dom-class',
                     'dijit/Dialog',
                     'dojo/on',
                     'dojo/query',
                     'dojo/NodeList-traverse',
                     'dojo/NodeList-data'],
            
            function(registry,
                     dom,
                     domStyle,
                     domAttr,
                     domClass,
                     Dialog,
                     on,
                     query){
                  
                  
            });
          }
        </script>
    </div>
    
    <table class = "content_pane_table visitProblemListTable"
            id    = "visitProblemListTable"
      >
      <thead >
        <tr > 
          <th> No. / Choose     </th> 
          <th> Date             </th>
          <th> Nature           </th> 
          <th> Status           </th> 
          <th> Complaint        </th> 
          <th> Duration         </th>
          <th> Follow-ups       </th> 
          <th> Active ?         </th> 
        </tr>
      </thead>
      <tbody>
      {% for complaint in patient_detail_obj.get_patient_complaints %}
          <tr class="{%cycle 'even_row' 'odd_row' %}{%if complaint.visit_detail.is_active%} visit_isActive{%else%} visit_isNotActive{%endif%} visitStatus_{{complaint.visit_detail.status}} visitNature_{{complaint.visit_detail.consult_nature}}{%if complaint.visit_detail.get_visit_complaints%}{%for visitComplaint in complaint.visit_detail.get_visit_complaints %} visitComplaint_{{visitComplaint.complaint}}{%endfor%}{%endif%}{%if complaint.visit_detail.has_fu_visits %} visit_hasFu{%else%} visit_hasNoFu{%endif%} visitOPSurgeon_{{complaint.visit_detail.op_surgeon}}"
            >
            <td> 
              {{forloop.counter}} 
              <input type            = "checkbox" 
                     data-dojo-type  = "dijit/form/CheckBox" 
                     data-dojo-props = "required:false"
                     title           = "Choose to compare notes"
                     class           = "compareVisitNotesCheckBox"
                     >
            </td>
            <td> 
              <div id           = "openVisitNotes_{{complaint.visit_detail.id}}"
                    title       = "Open Visit Notes on Sidebar"
                    style       = "color:blue; cursor:pointer;"
                    class       = "openVisitNotesLink"
                    onClick     = "openVisitNotesTitlePane(this);"
                    titlePaneId = "visitSummaryTitlePane_{{complaint.visit_detail.id}}"
                > 
                {{complaint.visit_date}} 
              </div>
            </td>
            <td> {{complaint.visit_detail.consult_nature}} </td>
            <td> {{complaint.visit_detail.status}} </td>
            <td> {{complaint.complaint}} </td>
            <td> {{complaint.duration}} </td>
            <td> 
              {% if complaint.visit_fu %} 
                {% for fu in complaint.visit_fu %}
                  <div id    = "visitComplaintsHiddenDiv_FU_details_{{fu.id}}" 
                        style = "margin:3px;padding:2px;"> 

                    <span title       = "Open Visit Notes on Sidebar"
                          style       = "color:blue; cursor:pointer;"
                          class       = "openVisitNotesLink"
                          onClick     = "openVisitNotesTitlePane(this);"
                          titlePaneId = "visitSummaryTitlePane_{{complaint.visit_detail.id}}"
                    >
                      {{fu.visit_date.date.isoformat }}
                    </span>

                  </div>

                  <div data-dojo-type  = "dijit/Tooltip"
                        data-dojo-props= "connectId : 'visitComplaintsHiddenDiv_FU_details_{{fu.id}}',
                                          position  : ['below']">
                      {{fu.formatted_obj|safe}}
                  </div>
                {% endfor %}
              {%else %}
                No Follow ups.
              {% endif %}
            </td>
            <td> {%if complaint.is_active %}  
                        Active
                {% else %}  
                        Inactive
                {% endif %} 
            </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p> No OPD Visits Recorded</p>
  {% endif %}
</div>