{% comment %}
  <button data-dojo-type  = 'dijit/form/Button'
          data-dojo-id    = "collapseVisitPaneRSidebar"
          data-dojo-props = "label:'Collapse Pane',iconClass:'collapsePane'"
          onClick         = "onVisitRSidebarExpandButtonClick(this);"
        > 

        Collapse Pane

        <script type            = "dojo/on" 
                data-dojo-event = "click" 
                data-dojo-args  = "evt"
          >
          function onVisitRSidebarExpandButtonClick(){
            require([ 'dojo/dom'      ,
                      'dojo/on'       ,
                      'dijit/registry',
                      'dojo/dom-class',
                      'dojo/dom-style'
                    ],
            function(dom      ,
                      on      ,
                      registry,
                      domClass,
                      domStyle){
                domClass.remove('collapseVisitPaneRSidebar','collapsePane');
                domClass.add('collapseVisitPaneRSidebar', 'expandPane');
                registry.byId('collapseVisitPaneRSidebar').set('label','Expand Pane');
                domStyle.set('visitPaneRSidebar',{width:'1em'});
  //               registry.byId('visitPaneRSidebar').resize();
            });
          }
        </script>

  </button>
{% endcomment %}

{% if user.is_authenticated %}

  {% if perms.visit %}

    {%if visit_obj_list %}
      <div style = "background    : white; 
                    height        : 2.5em; 
                    border        : solid 1px #aaa;
                    border-radius : 5px;
                    width         : 100%;
                    margin-bottom : 10px;
                   "
           id   = "visitSummaryNotesContainer"
           >


        <div style = "position      : relative; 
                      left          : .5em; 
                      display       : inline-block;
                      white-space   : nowrap;
                      width         : 90%;
                     "
             id    = "visitSummaryNotesSettingsContainer"
             >
          <span style = "position    : relative; 
                         float       : left; 
                         display     : inline-block; 
                         white-space : nowrap; 
                         margin      : 4px;
                        " 
                class = "dijitIconFilter">
          </span>
          Filter By : 
          <span id              = "visitSummaryFilterSelector"
                data-dojo-type  = "dijit/form/Select"
                data-dojo-id    = "visitSummaryFilterSelector"
                data-dojo-props = "required:true"
                class           = "visitSummaryFilterSelector"
            >
            <option name="All"                   value="all"      > All Visits           </option>
            <option name="Active Vists"          value="active"   > Active Visits        </option>
            <option name="Via Appointments"      value="appts"    > Via Appointments     </option>
            <option name="Walkins"               value="walkins"  > Walkins              </option>
            <option name="Emergency"             value="emer"     > Emergency            </option>
            <option name="Telephonic"            value="tele"     > Telephonic           </option>
            <option name="Complaints"            value="complaint"> Complaints           </option>
            <option name="Visit Status"          value="visit_status"> Visit Status      </option>
            <option name="Physician"             value="op_surgeon"> Physician  </option>

            <script type="dojo/on" data-dojo-event="change" data-dojo-args="evt">
                    require(['dojo/dom',
                             'dojo/on',
                             'dojo/dom-style',
                             'dojo/dom-attr',
                             "dijit/registry",
                             "dojo/dom-class",
                             "dojo/query",
                             "dojo/NodeList-traverse",
                             "dojo/NodeList-data"
                           ],
                    function(dom,on,domStyle,domAttr, registry, domClass,query){
                        var filterValue = evt;
                        var allTp   = query('.visitSummaryTitlePane');
                        switch(evt){
                          case 'all':
                            allTp.forEach(function(node){
                              domStyle.set(node,{display:'block'});
                            });
                            domStyle.set('visitOpSurgeonFilterSelector',{display:'none'});                              
                            domStyle.set('visitStatusFilterSelector',{display:'none'});                                                          
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                            
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});
                            break;
                          case 'complaint':
                            allTp.forEach(function(node){
                              domStyle.set(node,{display:'block'});
                            });
                            domStyle.set('visitOpSurgeonFilterSelector',{display:'none'});                              
                            domStyle.set('visitStatusFilterSelector',{display:'none'});                                                          
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                            
                            domStyle.set('visitComplaintFilterSelector',{display:'inline-block',whiteSpace:'nowrap'});
                            break;
                          case 'active':
                            allTp.forEach(function(node){
                              if( domClass.contains(node, 'visit_isActive') ){
                                domStyle.set(node,{display:'block'});
                              }else{
                                domStyle.set(node,{display:'none'});
                              }
                            });
                            domStyle.set('visitOpSurgeonFilterSelector',{display:'none'});                              
                            domStyle.set('visitStatusFilterSelector',{display:'none'});                                                          
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                            
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});
                            break;
                          case 'appts':
                            allTp.forEach(function(node){
                              if( domClass.contains(node, 'visit_hasFu') ){
                                domStyle.set(node,{display:'block'});
                              }else{
                                domStyle.set(node,{display:'none'});
                              }
                            });
                            domStyle.set('visitOpSurgeonFilterSelector',{display:'none'});                              
                            domStyle.set('visitStatusFilterSelector',{display:'none'});                                                          
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                            
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                            
                            break;
                          case 'walkins':
                            allTp.forEach(function(node){
                              if( domClass.contains(node, 'visit_hasNoFu') ){
                                domStyle.set(node,{display:'block'});
                              }else{
                                domStyle.set(node,{display:'none'});
                              }
                            });
                            domStyle.set('visitOpSurgeonFilterSelector',{display:'none'});                              
                            domStyle.set('visitStatusFilterSelector',{display:'none'});                                                          
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                                                          
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                            
                            break;
                          case 'emer':
                            allTp.forEach(function(node){
                              if( domClass.contains(node, 'visit_hasNoFu visitNature_emer') ){
                                domStyle.set(node,{display:'block'});
                              }else{
                                domStyle.set(node,{display:'none'});
                              }
                            });
                            domStyle.set('visitOpSurgeonFilterSelector',{display:'none'});                              
                            domStyle.set('visitStatusFilterSelector',{display:'none'});                                                          
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                                                          
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                            
                            break;
                          case 'tele':
                            allTp.forEach(function(node){
                              if( domClass.contains(node, 'visit_hasNoFu visitNature_tele') ){
                                domStyle.set(node,{display:'block'});
                              }else{
                                domStyle.set(node,{display:'none'});
                              }
                            });
                            domStyle.set('visitOpSurgeonFilterSelector',{display:'none'});                              
                            domStyle.set('visitStatusFilterSelector',{display:'none'});                                                          
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                            
                            break;
                          case 'visit_status':
                            allTp.forEach(function(node){
                                domStyle.set(node,{display:'block'});
                            });
                            domStyle.set('visitStatusFilterSelector',{display:'inline-block',whiteSpace:'nowrap'});                              
                            domStyle.set('visitOpSurgeonFilterSelector',{display:'none'});                            
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                            
                            break;
                          case 'op_surgeon':
                            allTp.forEach(function(node){
                                domStyle.set(node,{display:'block'});
                            });
                            domStyle.set('visitOpSurgeonFilterSelector',{display:'inline-block',whiteSpace:'nowrap'});                              
                            domStyle.set('visitStatusFilterSelector',{display:'none'});                            
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                            
                            break;
                          default:
                            allTp.forEach(function(node){
                              domStyle.set(node,{display:'block'});
                            });
                            domStyle.set('visitOpSurgeonFilterSelector',{display:'none'});                              
                            domStyle.set('visitStatusFilterSelector',{display:'none'});                                                          
                            domStyle.set('visitComplaintFilterSelector',{display:'none'});                            
                        }
                    });
            </script>

          </span>

          <span id              = "visitComplaintFilterSelector"
                data-dojo-type  = "dijit/form/Select"
                data-dojo-id    = "visitComplaintFilterSelector"
                data-dojo-props = "required:true"
                class           = "visitComplaintFilterSelector"
                style           = "display:none;"
          >

              {% for visit_obj in visit_obj_list %}

                {% for visit_detail, visit_rel in visit_obj.iteritems %}

                  {% for complaint in visit_detail.get_visit_complaints %}

                    <option name = "{{complaint.complaint}}"  
                            value= "{{complaint.complaint}}"  > 
                            {{complaint.complaint}}  
                    </option>

                  {% endfor %}

                {% endfor%}

              {% endfor %}

            <script type="dojo/on" data-dojo-event="change" data-dojo-args="evt">
                    require(['dojo/dom',
                             'dojo/on',
                             'dojo/dom-style',
                             'dojo/dom-attr',
                             "dijit/registry",
                             "dojo/dom-class",
                             "dojo/query",
                             "dojo/NodeList-traverse",
                             "dojo/NodeList-data"
                           ],
                    function(dom,on,domStyle,domAttr, registry, domClass,query){
                        var filterValue = evt;
                        var allTp       = query('.visitSummaryTitlePane');
                        var className   = "visitComplaint_" + evt;
                        if(className){
                          allTp.forEach(function(node){
                            if(domClass.contains(node, className)){
                              domStyle.set(node,{display:'block'});
                            }else{
                              domStyle.set(node,{display:'none'});
                            }
                          });
                        }
                    });
            </script>

          
          </span>


          <span id              = "visitStatusFilterSelector"
                data-dojo-type  = "dijit/form/Select"
                data-dojo-id    = "visitStatusFilterSelector"
                data-dojo-props = "required:true"
                class           = "visitStatusFilterSelector"
                style           = "display:none;"
          >

              {% for visit_obj in visit_obj_list %}

                {% for visit_detail, visit_rel in visit_obj.iteritems %}

                    <option name = "{{visit_detail.status}}"  
                            value= "{{visit_detail.status}}"   > 
                            {{visit_detail.status}} 
                    </option>

                {% endfor%}

              {% endfor %}

            <script type="dojo/on" data-dojo-event="change" data-dojo-args="evt">
                    require(['dojo/dom',
                             'dojo/on',
                             'dojo/dom-style',
                             'dojo/dom-attr',
                             "dijit/registry",
                             "dojo/dom-class",
                             "dojo/query",
                             "dojo/NodeList-traverse",
                             "dojo/NodeList-data"
                           ],
                    function(dom,on,domStyle,domAttr, registry, domClass,query){
                        var filterValue = evt;
                        var allTp       = query('.visitSummaryTitlePane');
                        var className   = "visitStatus_" + evt;
                        if(className){
                          allTp.forEach(function(node){
                            if(domClass.contains(node, className)){
                              domStyle.set(node,{display:'block'});
                            }else{
                              domStyle.set(node,{display:'none'});
                            }
                          });
                        }
                    });
            </script>
          </span>


          <span id              = "visitOpSurgeonFilterSelector"
                data-dojo-type  = "dijit/form/Select"
                data-dojo-id    = "visitOpSurgeonFilterSelector"
                data-dojo-props = "required:true"
                class           = "visitOpSurgeonFilterSelector"
                style           = "display:none;"
          >

              {% for visit_obj in visit_obj_list %}

                {% for visit_detail, visit_rel in visit_obj.iteritems %}

                    <option name = "{{visit_detail.op_surgeon}}"  
                            value= "{{visit_detail.op_surgeon}}"   > 
                            {{visit_detail.op_surgeon}} 
                    </option>

                {% endfor%}

              {% endfor %}

            <script type="dojo/on" data-dojo-event="change" data-dojo-args="evt">
                    require(['dojo/dom',
                             'dojo/on',
                             'dojo/dom-style',
                             'dojo/dom-attr',
                             "dijit/registry",
                             "dojo/dom-class",
                             "dojo/query",
                             "dojo/NodeList-traverse",
                             "dojo/NodeList-data"
                           ],
                    function(dom,on,domStyle,domAttr, registry, domClass,query){
                        var filterValue = evt;
                        var allTp       = query('.visitSummaryTitlePane');
                        var className   = "visitOPSurgeon_" + evt;
                        if(className){
                          allTp.forEach(function(node){
                            if(domClass.contains(node, className)){
                              domStyle.set(node,{display:'block'});
                            }else{
                              domStyle.set(node,{display:'none'});
                            }
                          });
                        }
                    });
            </script>
          </span>


          <span style = "background-color : white;
                         background-size  : 16px 16px;
                         background-repeat: no-repeat;
                         background-image : url('{{STATIC_URL}}images/generic/dashboard_and_settings/settings_16.png');
                         position         : relative;
                         top              : -16px;
                         float            : right;
                         cursor           : pointer;
                         width            : 16px;
                         height           : 16px;
                         margin           : 0px 3px 0px 3px;
                        " 
                title = "Show Settings"
                onClick="showVisitNotesSettingsDiv(this);"
                >

                <script type           = "dojo/method" >
                  function showVisitNotesSettingsDiv(e){
                    require(['dojo/dom',
                             'dojo/on',
                             'dojo/dom-style',
                             'dojo/dom-attr'
                           ],
                    function(dom,on,domStyle,domAttr){
                             if(domStyle.get('visitSummaryNotesSettings','display')== 'none'){
                              domStyle.set('visitSummaryNotesSettings',
                                            {display      : 'block',
                                             marginBottom : '10px'
                                            }
                              );
                             }else{
                              domStyle.set('visitSummaryNotesSettings',
                                            {display:'none'}
                              );
                             }
                    });
                  }

                  function openVisitNotesTitlePane(evt){
                    require(["dijit/registry",
                            'dijit/TitlePane',
                            'dojo/on',
                            'dojo/dom',
                            "dojo/dom-attr",
                            "dojo/dom-style",
                            "dojo/query",
                            "dojo/window",
                            "dojo/NodeList-traverse",
                            "dojo/NodeList-data"
                            ], 
                    function(registry,
                              TitlePane,
                              on,
                              dom,
                              domAttr,
                              domStyle,
                              query,
                              win){
                      var thisId = domAttr.get(evt,'titlePaneId');
                      var tP     = registry.byId(thisId);
                      if(!tP.open){ 
                         tP.toggle();
                      }
                      win.scrollIntoView(dom.byId(thisId));
                      query('.visitSummaryTitlePane').
                      forEach(
                        function(node){
                          var nodeId = domAttr.get(node,'id');
                          if(nodeId != thisId){
                            var notTP = registry.byId(nodeId);
                            if(notTP.open){
                              notTP.toggle();
                            }
                          }
                        });
                    });
                  }

              </script>
          </span>

          <span style = "background-color : white;
                         background-size  : 16px 16px;
                         background-repeat: no-repeat;
                         background-image : url('{{STATIC_URL}}images/silk/icons/application_get.png');
                         position         : relative;
                         top              : -16px;
                         float            : right;
                         cursor           : pointer;
                         width            : 16px;
                         height           : 16px;
                         margin           : 0px 3px 0px 3px;
                        " 
                title   = "Show All Visit Notes in a Popup"
                id      = "showVisitSummaryNotes"
                onClick = 'showVisitNotesDialog();'
                >
                <script type           = "dojo/method" >
                  function showVisitNotesDialog(){
                    require(['dijit/registry',
                           'dojo/dom',
                           'dojo/on',
                           'dojo/dom-style',
                           'dijit/Dialog'
                           ],
                    function(registry,dom,on,domStyle,Dialog){
                              registry.byId('visitSummaryHiddenDiv_{{patient_detail_obj}}').show();
                              /*
                              try{
                                domStyle.set('visitSummaryHiddenDiv_underlay',
                                           {opacity:'0',zIndex:'-1',display:"none"}
                                );
                              }catch(err){
                                  console.log(err.message);
                              }
                              console.log("Popup Styling complete");
                              */
                    });
                  }
                </script>
          </span>
          
          <span style = "background-color : white;
                         background-image : url('{{STATIC_URL}}images/patient_past_history.png');
                         background-size  : 16px 16px;
                         background-repeat: no-repeat;
                         position         : relative;
                         top              : -16px;
                         float            : right;
                         cursor           : pointer;
                         width            : 16px;
                         height           : 16px;
                         margin           : 0px 3px 0px 3px;
                        " 
                title = "Problem List"
                onClick="showVisitComplaints(this);"
                >
                <script type           = "dojo/method" >
                  function showVisitComplaints(){
                    require(['dijit/registry',
                            'dojo/dom',
                            'dojo/on',
                            'dijit/Dialog'
                           ],
                    function(registry,dom,on,Dialog){
                              registry.byId('visitComplaintsHiddenDiv_{{patient_detail_obj}}').show();
                              console.log(registry.byId('visitComplaintsHiddenDiv_{{patient_detail_obj}}'));
                    });
                  }
                </script>
          </span>
          
          <span style = "background-color : white;
                         background-image : url('{{STATIC_URL}}images/archive.png');
                         background-size  : 16px 16px;
                         background-repeat: no-repeat;
                         position         : relative;
                         top              : -16px;
                         float            : right;
                         cursor           : pointer;
                         width            : 16px;
                         height           : 16px;
                         margin           : 0px 3px 0px 3px;
                        " 
                title = "Show History Summary"
                onClick="showHistorySummary(this);"
                >
                <script type           = "dojo/method" >
                  function showHistorySummary(){
                    require(['dijit/registry',
                             'dojo/dom',
                             'dojo/on',
                             'dijit/Dialog'
                           ],
                    function(registry,dom,on,Dialog){
                              var historyHTML = dom.byId('patientSynopsisTopContentPane').innerHTML;
                              new Dialog({content : historyHTML,
                                          title   : "History Summary: '{{patient_detail_obj}}'"}
                              ).show();
                    });
                  }
                </script>
          </span>

          <a style = "background-color : white;
                         background-image : url('{{STATIC_URL}}images/pdf.png');
                         background-size  : 16px 16px;
                         background-repeat: no-repeat;
                         position         : relative;
                         top              : -16px;
                         float            : right;
                         cursor           : pointer;
                         width            : 16px;
                         height           : 16px;
                         margin           : 0px 3px 0px 3px;
                        " 
                href    = ""
                title   = "Generate Report pdf"
                onClick = "generateVisitPdf(this);"
                id      = "generateVisitPdf_{{patient_detail_obj}}"
                >
                <script type           = "dojo/method" >
                  function generateVisitPdf(){
                    require(['dijit/registry',
                             'dojo/dom'      ,
                             'dojo/on'       ,
                             'dijit/Dialog'  ,
                             'dojo/request'  ,
                             'dojo/dom-attr'
                            ],
                    function(registry,
                             dom     ,
                             on      ,
                             Dialog  , 
                             request , 
                             domAttr){
                        /*
                         request(CHOSEN_PATIENT.patientvisitspdf).
                         then(
                           function(pdf){
                            console.log("Generated PDF");
                            console.log(pdf);
                            new Dialog({content:pdf, title:"Visit Report"}).show();
                            publishInfo("Generated PDF");
                            return true;
                         },function(err){
                            console.err("ERROR!" + err);
                            publishError(err);
                            return true;
                         });
                         */
                         domAttr.set(dom.byId("generateVisitPdf_{{patient_detail_obj}}"),
                                     {href: CHOSEN_PATIENT.patientvisitspdf,target: '_blank'});
                         publishInfo("Generated PDF");
                         return true;
                    });
                  }
                </script>
          </a>

        </div>

      </div>
    {% endif %}

  {% endif %}

  <div id="visitSummaryNotesSettings" 
       style="display       : none;
              position      : relative;
              top           : 0;
              background    : white;
              border        : solid 1px #aaa;
              border-radius : 5px;
              padding       : 0px 5px 0px 10px;
              "
    >
    <button id              = "visitShowTimeLineButton"
            data-dojo-type  = "dijit/form/Button"
            data-dojo-id    = "visitShowTimeLineButton"
            class           = "visitShowTimeLineButton"
            type            = "button"
            data-dojo-props ="label:'Show Time Line'"
    >
      Show Time Line
    </button>


    <button id              = "visitNotesCollapseExpandAllButton"
            data-dojo-type  = "dijit/form/Button"
            data-dojo-props = "label: 'Expand All'"
            data-dojo-id    = "visitNotesCollapseExpandAllButton"
            class           = "visitNotesCollapseExpandAllButton"
    >
      Expand
      <script type="dojo/on" data-dojo-args="evt" data-dojo-event="click">
            require(['dijit/registry'       ,
                    'dojo/dom'              ,
                    'dojo/on'               ,
                    'dojo/dom-style'        ,
                    "dojo/dom-attr"         ,
                    "dijit/TitlePane"       ,
                    "dojo/query"            ,
                    "dojo/NodeList-traverse",
                    "dojo/NodeList-data"
                    ],
            function(registry ,
                     dom      ,
                     on       ,
                     domStyle ,
                     domAttr  ,
                     TitlePane,
                     query){

               var btn     = registry.byId("visitNotesCollapseExpandAllButton");
               var btnLabl = registry.byId("visitNotesCollapseExpandAllButton").get('label');

               if ( btnLabl == "Expand All"){
                btn.set('label', "Collapse All");
                query('.visitSummaryTitlePane').
                forEach(function(node){
                          var nodeId = domAttr.get(node, 'id');
                          var tP     = registry.byId(nodeId);
                          if(!tP.open){ tP.toggle(); }
                       });
               }else{
                btn.set('label',"Expand All");
                query('.visitSummaryTitlePane').
                forEach(function(node){
                          var nodeId = domAttr.get(node, 'id');
                          var tP     = registry.byId(nodeId);
                          if(tP.open){ tP.toggle(); }
                       });
               }
            });
      </script>
    </button>

  </div>

  <div id="visitSummaryDiv_{{patient_detail_obj.id}}">
  
    {%if visit_obj_list %}

      {% for visit_obj in visit_obj_list %}

        {% for visit_detail, visit_rel in visit_obj.items %}

          <div data-dojo-type  = "dijit/TitlePane" 
               data-dojo-props = "'title': '{{visit_detail.visit_date.isoformat}}-{{visit_detail.op_surgeon}}', 
                                          {% if forloop.counter == '1' %}
                                             open:true 
                                          {%else%} 
                                            open:false 
                                          {%endif%}
                                  "
               id              = "visitSummaryTitlePane_{{visit_detail.id}}"
               class           = "visitSummaryTitlePane

                                  {%if visit_detail.is_active%}
                                     visit_isActive
                                  {%else%}
                                     visit_isNotActive
                                  {%endif%}

                                  visitStatus_{{visit_detail.status}}
                                  visitNature_{{visit_detail.consult_nature}}

                                  {% if visit_detail.get_visit_complaints%}
                                    {% for visitComplaint in visit_detail.get_visit_complaints%}
                                      visitComplaint_{{visitComplaint.complaint}}
                                    {%endfor%}
                                  {%endif%}

                                  {% if visit_detail.has_fu_visits %}
                                    visit_hasFu
                                  {%else%}
                                    visit_hasNoFu
                                  {%endif%}
                                  
                                  visitOPSurgeon_{{visit_detail.op_surgeon}}
                                  "
               >
            <div>
              <p>

                {% if visit_detail.is_active %}
                  <img src   = "{{STATIC_URL}}images/flag_green.png" 
                      alt   = "ACTIVE VISIT" 
                      title = "Active Visit"
                      style = 'float:right; margin: 3px; width:16px; height:16px;'
                      >
                {%else%}
                  <img src  = "{{STATIC_URL}}images/flag_red.png" 
                      alt  = "INACTIVE VISIT" 
                      title = "Visit Closed"
                      style = 'float:right;margin: 3px; width:16px; height:16px;'
                      >
                {%endif%}

                {% if visit_detail.has_fu_visits %}
                  <img src   = "{{STATIC_URL}}images/generic/document/actions/redo.png" 
                      alt   = "Has Follow Up Visit" 
                      title = "Has Follow Up Visit"
                      style = 'float:right; margin: 3px; width:16px; height:16px;'
                      >
                {% else %}
                  <img src   = "{{STATIC_URL}}images/forbidden.png" 
                      alt   = "No Follow Up Visit" 
                      title = "No Follow Up Visit"
                      style = 'float:right; margin: 3px; width:16px; height:16px;'
                      >
                {% endif %}

              </p>
              <p>
                  <span style="color : navy;
                              font-weight : bold;"> 
                      Date:
                  </span> 
                  {{visit_detail.visit_date.date}}  - {{visit_detail.op_surgeon}}
              </p>
              <p> {{visit_detail.visit_nature}} ( {{visit_detail.visit_status}} ) </p>
              {% if visit_detail.remarks != 'NAD' %}
                <p style="font-weight: bold;">
                  Remarks:
                </p>  
                <p style="padding-left : 15px; 
                          line-height  : 1.6em; 
                          text-align   : justify;
                          ">
                    {{visit_detail.remarks.capitalize}} 
                </p>
              {% endif %}
            </div>

            <div> 
              {% for obj, obj_list in visit_rel.items %}
                <table>
                    <thead>
                      <tr>
                        <th style="font-weight: bold;"> {{obj.upper}}</th> 
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td style="padding-left : 15px; 
                                line-height  : 1.6em; 
                                text-align   : justify;
                                ">
                          {% if obj_list %}

                            {% if obj == 'complaint' %}
                                {% include 'visit/complaints/list.html' %}
                              <hr>
                            {% else%}
                              {{obj_list|safe}}
                              <hr>
                            {% endif %}

                          {% else %}
                            <span class="suggestion_text"> Not Recorded </span>
                          {% endif %}
                          
                      </td>
                    </tr>
                    </tbody>
                </table>
              {% endfor %}
            </div>

            {% if visit_detail.has_fu_visits %}
              <span style="font-weight : bold; 
                          background   : #fff; 
                          width        : 100%; 
                          text-align   : center;
                          "> 
                Follow Ups 
              </span>
              {% for fu in visit_detail.has_fu_visits %}
                <div class="follow_up" style="background    : white; 
                                              border        : solid 1px #aaa; 
                                              border-radius : 5px; 
                                              position      : relative; 
                                              left          : .4em;
                                              padding       : .2em;
                                              margin        : .2em;
                                              line-height   : 2.1em;
                                              word-wrap     : break-word;
                                              white-space   : pre-line;
                                              ">

                      {{fu.formatted_obj|safe}}  

                </div>
              {% endfor %}
            {% endif %}
          </div>

      {% endfor %}

    {% endfor %}

    {% else %}
      <p> No OPD visits recorded for this Patient </p>
      <hr>      
    {% endif %}

  </div>

{% include 'visit/problem_list.html' %}

  
  
  <div data-dojo-id   = "visitSummaryHiddenDiv_{{patient_detail_obj}}" 
       data-dojo-type = "dijit/Dialog"
       data-dojo-props = "title:'Visit Notes for: {{patient_detail_obj}}'"
       id             = "visitSummaryHiddenDiv_{{patient_detail_obj}}" 
       class          = "hiddenVisitNotes" style="display:none;">
  
    {%if visit_obj_list %}

      {% for visit_obj in visit_obj_list %}

        {% for visit_detail, visit_rel in visit_obj.iteritems %}

          <div >
            <div>

              <span style="color        : navy;
                          font-weight   : bold;
                          background    : #eee;
                          padding       : 2px;
                          border        : solid 1px #aaa;
                          border-radius : 5px;
                          width         : 100%;
                          "> 
                  Date:{{visit_detail.visit_date.date}}  - {{visit_detail.op_surgeon}}
                  {% if visit_detail.is_active %}
                    <img src   = "{{STATIC_URL}}images/flag_green.png" 
                        alt   = "ACTIVE VISIT" 
                        title = "Active Visit"
                        style = 'float:right; width:16px; height:16px; margin:0px 3px 0px 3px;'
                        >
                  {%else%}
                    <img src   = "{{STATIC_URL}}images/flag_red.png" 
                        alt   = "INACTIVE VISIT" 
                        title = "Visit Closed"
                        style = 'float:right; width:16px; height:16px; margin:0px 3px 0px 3px;'
                        >
                  {%endif%}
                  {% if visit_detail.has_fu_visits %}
                  <img src   = "{{STATIC_URL}}images/generic/document/actions/redo.png" 
                      alt   = "Has Follow Up Visit" 
                      title = "Has Follow Up Visit"
                        style = 'float:right; width:16px; height:16px; margin:0px 3px 0px 3px;'
                      >
                  {% else %}
                  <img src   = "{{STATIC_URL}}images/forbidden.png" 
                      alt   = "No Follow Up Visit" 
                      title = "No Follow Up Visit"
                        style = 'float:right; width:16px; height:16px; margin:0px 3px 0px 3px;'
                      >
                  {% endif %}
              </span> 

              <p> {{visit_detail.visit_nature}} ( {{visit_detail.visit_status}} ) </p>
              {% if visit_detail.remarks != 'NAD' %}
                <p style="font-weight: bold;">
                  Remarks:
                </p>  
                <p style="padding-left : 15px; 
                          line-height  : 1.6em; 
                          text-align   : justify;
                          ">
                    {{visit_detail.remarks.capitalize}} 
                </p>
              {% endif %}
            </div>

            <div> 
              {% for obj, obj_list in visit_rel.iteritems %}
                <table>
                    <thead>
                      <tr>
                        <th style="font-weight: bold;"> {{obj.upper}}</th> 
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td style="padding-left : 15px; 
                                line-height  : 1.6em; 
                                text-align   : justify;
                                ">
                        {{obj_list}}
                      </td>
                    </tr>
                    </tbody>
                </table>
              {% endfor %}
            </div>

            {% if visit_detail.has_fu_visits %}
              <span style="font-weight : bold; 
                          background   : #fff; 
                          width        : 100%; 
                          text-align   : center;
                          "> 
                Follow Ups 
              </span>
              {% for fu in visit_detail.has_fu_visits %}
                <div class="follow_up" style="background    : white; 
                                              border        : solid 1px #aaa; 
                                              border-radius : 5px; 
                                              position      : relative; 
                                              left          : .4em;
                                              padding       : .2em;
                                              margin        : .2em;
                                              line-height   : 2.1em;
                                              ">

                    {{fu.formatted_obj|safe}}  

                </div>
              {% endfor %}
            {% endif %}
          </div>

      {% endfor %}

    {% endfor %}

    {% else %}
      <p> No OPD visits recorded for this Patient </p>
      <hr>      
    {% endif %}

  </div>

{% else %}
  <hr>
  <p> Please login to view </p>
  <hr>
{% endif %}