{% if user.is_authenticated %}

  {% if perms.visit %}
    {%if visit_obj_list %}
      <div style="background    : white; 
                  height        : 2.5em; 
                  border        : solid 1px #aaa;
                  border-radius : 5px;">

        <div style="position:relative; left: 1.5em; max-width:90%;">
          <span style = "position    : relative; 
                        float       : left; 
                        display     : inline-block; 
                        white-space : nowrap; 
                        margin      : 4px;
                        " 
                class = "dijitIconFilter">
          </span>
          Filter By : 
          <span id              = "visitSummaryFilterSelector"
                data-dojo-type  = "dijit/form/Select"
                data-dojo-id    = "visitSummaryFilterSelector"
                data-dojo-props = "required:true"
                class           = "visitSummaryFilterSelector"
            >
            <option name="All"                   value="all"    > All Visits           </option>
            <option name="Via Appointments"      value="appts"  > Via Appointments     </option>
            <option name="Non Emergency Walkins" value="walkins"> Non Emergency Walkins </option>
            <option name="Emergency"             value="emer"   > Emergency            </option>
            <option name="Telephonic"            value="tele"   > Telephonic           </option>
            <option name="Diagnosis"             value="diag"   > Diagnosis            </option>
          </span>
          
          <span id              = "visitShowTimeLineCheckBox"
                data-dojo-type  = "dijit/form/CheckBox"
                data-dojo-id    = "visitShowTimeLineCheckBox"
                class           = "visitShowTimeLineCheckBox"
          >
          </span>
          Show Time Line
        </div>

      </div>
    {% endif %}
  {% endif %}

  <div id="visitSummaryDiv_{{patient_detail_obj.id}}">

    {%if visit_obj_list %}

      {% for visit_obj in visit_obj_list %}

        {% for visit_detail, visit_rel in visit_obj.iteritems %}

          <div id="visit_detail_summary_{{visit_detail.id}}">
            <p>
            {% if visit_detail.is_active %}
              <img src   = "{{STATIC_URL}}images/flag_blue.png" 
                   alt   = "ACTIVE VISIT" 
                   title = "Active Visit"
                   >
            {%else%}
              <img src  = "{{STATIC_URL}}images/flag_red.png" 
                   alt  = "INACTIVE VISIT" 
                   title = "Visit Closed"
                   >
            {%endif%}
            </p>
            <p>
                <span style="color : navy;
                             font-weight : bold;"> 
                    Date:
                </span> 
                {{visit_detail.visit_date.date}}  - {{visit_detail.op_surgeon}}
            </p>
            <p> {{visit_detail.visit_nature}} ( {{visit_detail.visit_status}} ) </p>
            {% if visit_detail.remarks != 'NAD' %}
              <p style="font-weight: bold;">
                Remarks:
              </p>  
              <p style="padding-left : 15px; 
                        line-height  : 1.6em; 
                        text-align   : justify;
                        ">
                  {{visit_detail.remarks.capitalize}} 
              </p>
            {% endif %}
          </div>

          <div> 
            {% for obj, obj_list in visit_rel.iteritems %}
              <table>
                  <thead>
                    <tr>
                      <th style="font-weight: bold;"> {{obj.upper}}</th> 
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="padding-left : 15px; 
                               line-height  : 1.6em; 
                               text-align   : justify;
                               ">
                      {% for item in obj_list %}
                            {{item}}
                      {% endfor %}
                    </td>
                  </tr>
                  </tbody>
              </table>
            {% endfor %}
          </div>
          <hr class="shadow_line">

        {% endfor %}

      {% endfor %}

    {% else %}
      <p> No OPD visits recorded for this Patient </p>
      <hr>      
    {% endif %}

  </div>

{% else %}
  <hr>
  <p> Please login to view </p>
  <hr>
{% endif %}