<div data-dojo-type="dijit/layout/ContentPane"
 		 data-dojo-id ="aushadha_license_dialog_content_pane"
 		 style        = "width:auto; height: 110em;"
>

	<div data-dojo-type="dijit/layout/TabContainer"
				data-dojo-props="region:'top',tabPosition:'top', tabStrip:true"
				data-dojo-id ="aushadha_license_dialog_tab_container"
				>

				<div data-dojo-type="dijit/layout/ContentPane"
						data-dojo-props="title:'About AuShadha'"
						data-dojo-id ="aushadha_about_text_contentpane"
				>
					<div>
						<h2> Introduction </h2> 
								<img src="{{STATIC_URL}}images/AuShadha_logo/AuShadha_logo_128.png" 
										alt="AuShadha" 
										title="AuShadha Public Health Clinic EMR & Management Open Source Project"
								>
						
						<div>
							<h1>
								<a name="aushadha--औषध" class="anchor" href="#aushadha--%E0%A4%94%E0%A4%B7%E0%A4%A7"><span class="mini-icon mini-icon-link"></span></a>AuShadha  (औषध)</h1>

								<p>AuShadha (औषध): Means medicine in Sanskrit. </p>

								<p>This is a Open Source Electornic Medical Records (EMR) &amp; Public Health Management System for Small Clinics.</p>

								<p>It might be even suited for speciality medical practice after some customisation. </p>

								<p>It is developed with Python, Django and Dojo </p>

								<p>For Development the code uses sqlite3 database, but with Django DB backend we can extend this to any database ( PostgresSQL is preferred ).</p>

								<p>AuShadha code is licensed under GNU-GPL Version 3. Django, Dojo, Icons and other thrid party modules are licensed as per their authors. This should be honoured.</p>

								<h1>
								<a name="aims" class="anchor" href="#aims"><span class="mini-icon mini-icon-link"></span></a>Aims</h1>

								<p>There are many great Open Source EMR and Clinic Management projects, but most of them have very poor front ends. </p>

								<p>As in life, beauty and usability are key in medical practice.</p>

								<p>It is natural that more visually appealing it is more you want to use it. </p>

								<p>AuShadha will strive to achieve a balance between back and front end design. </p>

								<p>To achieve that aim Django and Dojo has been chosen. </p>

								<p>AuShadha is designed by me, a Medical Doctor in association with other Developers, so usability and practicability will always be foremost. </p>

								<p>AuShadha benefits from inputs, feature requests from my medical colleagues as the development progresses. </p>

								<h1>
								<a name="how-to-test" class="anchor" href="#how-to-test"><span class="mini-icon mini-icon-link"></span></a>How to Test</h1>

								<p>1) For AuShadha requirements please refer to REQUIREMENTS.txt in docs/</p>

								<p>2) AuShadha has been tested and developed with Python 2.7, Django 1.4.1 and Dojo 1.7.2 in Linux. It should work as long as dependencies are satisfied.</p>

								<p>3) Ideally create a Python Virtual Environment. If virtualenv is not installed, please run in Debian systems <code> sudo easy_install virtualenv </code></p>

								<p>4) After installing virtualenv, Create a Python Virtual Environment <code> virtualenv python_env </code></p>

								<p>5) Change the working directory to the virtualenv folder <code> cd python_env</code> and activate it <code> source bin/activate </code></p>

								<p>6) With Python pip installed, run <code> pip install -r ../docs/REQUIREMENTS.txt </code> if you are in python_env directory . This will install all the necessary dependencies you need. </p>

								<p>You may need to install Python development libraries if you are on Linux. Required to compile PIL. </p>

								<p><code>$ apt-get install python-dev #in debian systems.</code> </p>

								<p><code>$ yum install python-devel #in Redhat-like systems.</code></p>

								<p>7) cd into src/AuShadha directory <code> cd src/AuShadha </code> </p>

								<p>8) run <code> python manage.py runserver </code></p>

								<p>9) Use your browser to navigate to  http://localhost:8000/AuShadha/  . You will be greeted with a login page. Use username = admin, password = admin for a trial run.</p>

								<p>10) Please read the issues, license before using. Currently AuShadha is under active development and is not fit in anyway for real world use.</p>

								<h1>
								<a name="project-structure" class="anchor" href="#project-structure"><span class="mini-icon mini-icon-link"></span></a>Project Structure</h1>

								<p>1) AuShadha_logo : Contains the logo, with SVG and .png file along with License.</p>

								<p>2) docs : Contains the Requirements.txt, License.txt</p>

								<p>3) src : Project Source Code, Media files(Icons,Images, File uploads), Javscript (custom and Dojo)</p>

								<p>4) README.md</p>

								<p>5) LICENSE.txt</p>

								<h1>
								<a name="plan" class="anchor" href="#plan"><span class="mini-icon mini-icon-link"></span></a>Plan</h1>

								<p>1) I plan to develop the Clinic, Patient, Physician, Nurse modules first.<br>
								2) Visit Module will be next followed by Clinical Exam, Investigations, Procedure, Discharge, Prescription<br>
								3) Stock and Pharmacy will follow.<br>
								4) Allergy and Incident Reports next<br>
								5) Admission Module will follow.<br>
								6) Specific public health modules like Paediatrics, Neonatology, Gynaecology/ Obstetrics will be last as by then
									the interdependencies will be solved  </p>

								<h1>
								<a name="want-to-participate-" class="anchor" href="#want-to-participate-"><span class="mini-icon mini-icon-link"></span></a>Want to participate ?</h1>

								<p>Suggestions and participation are welcome.   </p>

								<p>Please email me at <a href="mailto:dreaswar@gmail.com">dreaswar@gmail.com</a><br>
								Visit me at <a href="http://www.dreaswar.com">http://www.dreaswar.com</a><br>
								Follow me at <a href="http://www.twitter.com/dreaswar/">http://www.twitter.com/dreaswar/</a>
								Follow the Project news at <a href="http://www.facebook.com/AuShadha/">http://www.facebook.com/AuShadha/</a>
						</div>
						<p>We hope AuShadha will be useful for you. Please drop us a line.</p>
					</div>
				</div>
				
				<div data-dojo-type="dijit/layout/ContentPane"
						data-dojo-props="title:'License'"
						data-dojo-id ="aushadha_license_text_contentpane"
				>
						{%include 'license.html' %}
				</div>
				
				<div data-dojo-type="dijit/layout/ContentPane"
						data-dojo-props="title:'Credits'"
						data-dojo-id ="aushadha_credits_text_contentpane"
				>
						<h2>Credits</h2>
						
						<p> 
						AuShadha would not have been possible without the help of several preexisting projects.
						AuShadha wishes to thank all of them for their hard work. 
						</p>
						<div>
						<fieldset>
							<legend style="background:#ABD6FF; font-weight:bold;"> AuShadha Developers </legend>
							<ul>
								<li> Dr. Easwar T.R            - Project Owner, Maintainer &amp; Lead Developer (email: dreaswar@gmail.com) </li>
								<li> Dr. Richard Kim           - UI Lead Advisor, Project Planner </li>
								<li> Mr. Kumaran Radhakrishnan - Developer </li> 
								<li> Mr. Weldan Jamili         - Django Developer </li>
							</ul>
						</fieldset>
						
						<fieldset>
							<legend style="background:#ABD6FF; font-weight:bold;"> AuShadha Artwork </legend>
								<p>
								Native AuShadha icons are done by Dr. Easwar T.R using Inkscape <a href="http://www.inkscape.org">Inkscape</a>
								They are separately licensed. Please see files for details. 
								</p>
								<p> 
								Some icons for the CRUD functionality, dashboard, notifications have been borrowed from Elementary Project. Some of these have been 	modified and some used as such. Please see their license before use. <a href="http://danrabbit.deviantart.com/art/elementary-Icons-65437279"> Elementary Icons at DeviantArt by DanRabbit </a>
								</p>
						</fieldset>
						
						<fieldset>
							<legend style="background:#ABD6FF; font-weight:bold;"> Django Framework &amp; Python </legend>
							<p> 
								AuShadha Developers wish to thanks Django developers for all the hard work. 
							  The reason AuShadha exists today is because of the excellent work already done by
							  these guys at <a href="http://www.djangoproject.com"> Django </a> and <a href="http://www.python.org">Python Language.</a>
							</p>
						</fieldset>
						
						<fieldset>
							<legend style="background:#ABD6FF; font-weight:bold;"> Dojo Toolkit </legend>
							<p> 
								AuShadha front end uses Dojo Toolkit. 
								It is easy to learn, modular and extensible. The result is beautiful.
								Please see <a href="http://www.dojotoolkit.org"> Dojo Toolkit </a> for details
							 </p>
						</fieldset>
						</div>

				</div>
				
				<div data-dojo-type="dijit/layout/ContentPane"
                      data-dojo-props="title:'AuShadha Wiki'"
                      data-dojo-id ="aushadha_credits_text_contentpane"
                      href="https://github.com/dreaswar/AuShadha/wiki"
				>
				</div>

	</div>
	<!--END OF TAB CONTAINER -->

</div>
<!--END OF CONTENT PANE -->