<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
  <meta name    = "generator"
        content = "HTML Tidy for Linux (vers 6 November 2007), see www.w3.org"
  >
  {% block title %}
  
    <title> AuShadha </title>

  {% endblock title %}

<!--The global non template tagged style sheet and Dojo specific Style sheets from here-->

  {% block media %}

    {% include 'ui/style_links.html' %}

  {% endblock media %}

  {% block style_bits %}

    <style  type="text/css">

      {% include "style.css" %}

    </style>

  {% endblock style_bits %}

  <script type="text/javascript">

    var LOADER_STATUS_INDEX = 0;

    var LOADER_TIMER = window.setInterval(setLoaderMessage,1000);

    var loaderStatusMessages=[ "Starting to load the scripts...",
                               "Finished the header pane and search widgets ...",
                               "Finished adding the Patient Registration UI elements ...",
                               "Added Autofiltering to patient search..",
                               //{% if user.is_authenticated %}
                               "Customising UI for {{user.username}}",
                               //{% endif %}
                               "Getting ready to load page.."
                            ];

    function setLoaderMessage(){
      if(LOADER_STATUS_INDEX<loaderStatusMessages.length){
        document.getElementById('aushadhaLoaderStatusMessage').innerHTML = loaderStatusMessages[LOADER_STATUS_INDEX];

        console.log(document.getElementById('aushadhaLoaderStatusMessage').innerHTML);
        LOADER_STATUS_INDEX ++;
      }

      window.onload = function(){
        window.clearInterval(LOADER_TIMER);
      }

    }

  </script>
  
  {% block js %}

    {% include 'ui/script_links.html' %}

  {% endblock js %}

 <!-- Defining Global Events in Jasvascript -->

  <script type="text/javascript">

    {% include 'js/constants.js' %}

    {% include 'js/urls.js' %}

    {% include 'js/resources.js' %}

    {% include 'js/crud.js' %}

    {% include 'js/notification_dialog.js' %}

    {% include 'js/key_bindings.js' %}

  </script>
  


  {% block js_bits %}

  {% endblock js_bits %}

</head>

<body class="claro">

  <div id="APP_LAYOUT" 
       style="height:100%;">

    <div id="aushadhaLoaderIndicator">

      <div class="loadingOverlayLogo">        </div>  
      <div class="loadingOverlay">            </div>  
      <div class="loadingMessage"> 
          <div> Loading...                       </div>
          <div id="aushadhaLoaderStatusMessage"> </div>
      </div>

    </div>

  </div>

  <div id="tooltipsAndDialogs" style="display: none; ">
  <!-- TOOLTIPS --> 
  {% include 'tooltips.html' %} 
  <!-- END TOOLTIPS -->

  <!--  DIALOGS AND MISC  -->
    {%include 'dialogs_and_misc.html' %}
  <!--  END DIALOGS AND MISC  -->
  </div>

</body>
</html>


