<h2>Credits</h2>

<p> 
  AuShadha would not have been possible without the help of several preexisting projects.
  AuShadha wishes to thank all of them for their hard work. 
</p>

<div>
  <fieldset>
          {% include 'developers.html' %}
  </fieldset>

  <fieldset>
          <legend style="background:#ABD6FF; font-weight:bold;"> AuShadha Artwork </legend>
          <p>
            Native AuShadha icons are done by Dr. Easwar T.R using Inkscape <a href="http://www.inkscape.org">Inkscape</a>
            They are separately licensed. Please see files for details. 
          </p>
          <p> 
            Some icons for the CRUD functionality, dashboard, notifications have been borrowed from Elementary Project. Some of these have been         modified and some used as such. Please see their license before use. <a href="http://danrabbit.deviantart.com/art/elementary-Icons-65437279"> Elementary Icons at DeviantArt by DanRabbit </a>
          </p>
  </fieldset>

  <fieldset>
          <legend style="background:#ABD6FF; font-weight:bold;"> Django Framework &amp; Python </legend>
          <p> 
                  AuShadha Developers wish to thanks Django developers for all the hard work. 
            The reason AuShadha exists today is because of the excellent work already done by
            these guys at <a href="http://www.djangoproject.com"> Django </a> and <a href="http://www.python.org">Python Language.</a>
          </p>
  </fieldset>

  <fieldset>
          <legend style="background:#ABD6FF; font-weight:bold;"> Dojo Toolkit </legend>
          <p> 
                  AuShadha front end uses Dojo Toolkit. 
                  It is easy to learn, modular and extensible. The result is beautiful.
                  Please see <a href="http://www.dojotoolkit.org"> Dojo Toolkit </a> for details
          </p>
  </fieldset>
</div>