    <div  data-dojo-type="dijit/Tooltip"
          data-dojo-props="connectId:'AuShadhaHeaderIcon',position:['below']">
        Welcome to AuShadha Open Source EMR & Clinic Management System
    </div>
    <div  data-dojo-type="dijit/Tooltip"
          data-dojo-props="connectId:'loggedInUserIcon',position:['below']">
        Logged in as: {{user.username}}
    </div>
    <div data-dojo-type="dijit/Tooltip"
         data-dojo-props="connectId:'adminAreaHref',position:['below']">
        Admin Area
    </div>
    <div data-dojo-type="dijit/Tooltip"
         data-dojo-props="connectId:'loginHref',position:['below']">
        Login
    </div>
    <div data-dojo-type="dijit/Tooltip"
         data-dojo-props="connectId:'logoutHref',position:['below']">
        Logout
    </div>
    <div data-dojo-type="dijit/Tooltip"
         data-dojo-props="connectId:'frontPageSearchPatientAuShadhaLogo',position:['above']"
         >
        <b style="color:navy; text-align:center;"><em> Search Box <em></b>
        <p class="suggestion_text">Start searching by Patient's name or Add a New one</p>
    </div>
