
{% if user and user.is_authenticated %}

<div data-dojo-type = "dijit/form/Form" 
     id             = "visitFUEditForm_{{visit_follow_up_obj.id}}"
     data-dojo-id   = "visitFUEditForm_{{visit_follow_up_obj.id}}"
     encType        = "multipart/form-data" 
     action 	    =  "" 
     method         =  ""
     style          = "overflow: auto;"
     >


    <script type="dojo/method" data-dojo-event="onSubmit">

      if( this.validate() ){

        require(["dojo/dom",
                "dojo/request/xhr",
                "dijit/registry"  ,
                "dojo/json"       ,
                "dojo/dom-form"   ,
                "dijit/Dialog" 
        ],

        function(dom, xhr, registry, JSON, domForm, Dialog){

          var editDialog  = registry.byId("editPatientDialog");
          var errorDialog = registry.byId("dialogJsonMessage");
          var parentTab = registry.byId('OPD_VISITS_CENTER_CP_TC_SUMMARY_CP').getParent();
          var summaryTab = registry.byId('OPD_VISITS_CENTER_CP_TC_SUMMARY_CP');
          var visitTree = registry.byId('OPD_VISITS_LEADING_BC_TOP_CP_TREE');
//           var editTab = query("").parent('')[0];
//           editTab = registry.byId(domAttr.get(editTab, 'id'))

          summaryTab.set('href',"{{patient_detail_obj.urls.summary.visit}}");
          visitTree.refresh();
//           parentTab.removeChild( editTab );
//           editTab.destroyRecursive();

          xhr(
              "{{visit_follow_up_obj.urls.del}}",
              {
                handleAs: "text",
                method  : "POST",
                data    : domForm.toObject("visitFUEditForm_{{visit_follow_up_obj.id}}")
              }
          ).
          then(

            function(json){
                var jsondata = JSON.parse(json);
                console.log(jsondata);

                if ( jsondata.success == true ) {
                  publishInfo("Saved Successfully" );
                  editDialog.hide();
                }

                else {
                  publishError("ERROR ! :" + jsondata.error_message );
                }

            },

            function (json) {
                  var jsondata = JSON.parse(json); 
                  publishError("ERROR!: "+ jsondata.error_message );
            },

            function (evt) {
              console.log("Edited Visit Successfully...")
            }

          );

        });

        return false;

      }

      else{

        return false;

      }

    </script>



{% if perms.visit.change_visitfollowup %}

      <table id ="visitFUEditFormTable_{{visit_follow_up_obj.id}}">
          <tr> 
            <td> Date        </td> <td>  {{visit_follow_up_form.visit_date}}      </td> 
          </tr> 
          <tr>
            <td> Physician   </td> <td>   {{visit_follow_up_form.op_surgeon}}       </td>
          </tr>
          <tr>
            <td> Nature   </td> <td>   {{visit_follow_up_form.consult_nature}} </td> 
          </tr>
          <tr>
            <td> Status   </td> <td>   {{visit_follow_up_form.status}}         </td> 
          </tr>
          <tr>
            <td> Subjective   </td> <td>   {{visit_follow_up_form.subjective}}         </td> 
          </tr>
          <tr>
            <td> Objective   </td> <td>   {{visit_follow_up_form.objective}}         </td> 
          </tr>
          <tr>
            <td> Assessment   </td> <td>   {{visit_follow_up_form.assessment}}         </td> 
          </tr>
          <tr>
            <td> Plan   </td> <td>   {{visit_follow_up_form.plan}}         </td> 
          </tr>
      </table>

      <hr class="shadow_line">
      {% comment %}
      <table id       =   "visitComplaintEditFormTable_{{visit_detail_obj.id}}">
        <tr>
          <td> Complaint </td> <td>   {{visit_complaint_form.complaint}} </td>
          <td> Duration  </td> <td>   {{visit_complaint_form.duration}}  </td>
          <td>  
              <img src   = "{{STATIC_URL}}images/add.png" 
                   style = "width: 16px; height: 16px; cursor: pointer; "
                   id    = "addMoreVisitComplaint_{{visit_detail_obj.id}}"
                  > 
          </td> 

          <td>
            <img src   = "{{STATIC_URL}}images/minus.png" 
                style = "width: 16px; height: 16px; cursor: pointer; "
                id    = "removeVisitComplaint_{{visit_detail_obj.id}}"
              >  
          </td>

        </tr>
      </table>
      
      <hr >

      <div id            = "visitFUHistoryAndPhysicalExamEditBorderContainer_{{visit_detail_obj.id}}"
          data-dojo-id   = "visitFUHistoryAndPhysicalExamEditBorderContainer_{{visit_detail_obj.id}}"
          data-dojo-type = "dojox/layout/ContentPane"
          style          = "height: 30em; overflow:auto;"
      >
          <div id             = "visitFUHistoryAndPhysicalExamEditTabContainer_{{visit_detail_obj.id}}"
              data-dojo-id    = "visitFUHistoryAndPhysicalExamEditTabContainer_{{visit_detail_obj.id}}"
              data-dojo-type  = "dijit/layout/TabContainer"
              data-dojo-props = "tabPosition:'top',tabStrip: true"
          >
            <div id              = "visitFUHPIEditFormContentPane_{{visit_detail_obj.id}}"
                 data-dojo-id    = "visitFUHPIEditFormContentPane_{{visit_detail_obj.id}}"
                 data-dojo-type  = "dojox/layout/ContentPane"
                 data-dojo-props = "title:'HPI'"
            >
              <table id="visit_fu_hpi_edit_form_table_{{visit_detail_obj.id}}"> 
                {{visit_hpi_form.hpi}}
              </table> 
            </div>

            <div id             = "visitFUROSEditFormContentPane_{{visit_detail_obj.id}}"
                    data-dojo-id   = "visitFUROSEditFormContentPane_{{visit_detail_obj.id}}"
                    data-dojo-type = "dojox/layout/ContentPane"
                    data-dojo-props = "title:'ROS'"
              >
                <table id              = "visitFuRosEditFormDiv_{{visit_detail_obj.id}}" 
                        style           = "margin: 10px;"
                        >
                      {{visit_ros_form.as_table}} 
                  </table>     
            </div>
            
            <div id             = "visitFUVitalsGenAndHEENTExamEditFormContentPane_{{visit_detail_obj.id}}"
                  data-dojo-id   = "visitFUVitalsGenAndHEENTExamEditFormContentPane_{{visit_detail_obj.id}}"
                  data-dojo-type = "dojox/layout/ContentPane"
                  data-dojo-props = "title:'Vitals, GE, HEENT'"
            >
                <table id              = "visitFUVitalsGenAndHEENTExamEditFormDiv_{{visit_detail_obj.id}}" 
                      style           = "margin: 10px;"
                      >

                </table>     
            </div>

            <div id             = "visitFURespCVSExamEditFromContentPane_{{visit_detail_obj.id}}"
                  data-dojo-id   = "visitFURespCVSExamEditFromContentPane_{{visit_detail_obj.id}}"
                  data-dojo-type = "dojox/layout/ContentPane"
                  data-dojo-props = "title:'Resp, CVS &amp; Abd'"
            >
              <table id              = "visitFURespCVSAdbExamEditFromDiv_{{visit_detail_obj.id}}" 
                      style           = "margin: 10px;"
                      >

                </table>     
            </div>

            <div id             = "visitFUMSAndNeuroExamEditFromContentPane_{{visit_detail_obj.id}}"
                  data-dojo-id   = "visitFUMSAndNeuroExamEditFromContentPane_{{visit_detail_obj.id}}"
                  data-dojo-type = "dojox/layout/ContentPane"
                  data-dojo-props = "title:'Extremity &amp; Neuro'"
            >
              <table id              = "visitFUMSAndNeuroExamEditFromDiv_{{visit_detail_obj.id}}" 
                      style           = "margin: 10px;"
                      >

                </table>     
            </div>


    </div>
    {%endcomment%}


  </div>

{% endif %} 
    
    {% if perms.visit.change_visitfollowup %}
    <button data-dojo-type = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
            type           = "submit" 
            name           = "editButton" 
            value          = "Edit">
      Edit
     </button>
    {%endif%}

    {% if perms.visit.delete_visitfollowup %}

    <button data-dojo-type  = "dijit/form/Button" 
			data-dojo-props = "iconClass: 'dijitEditorIcon dijitEditorIconDelete'"    
            type            = "button"
            name            = "delFUVisit"
            id              = "delFUVisitBtn_{{visit_follow_up_obj.id}}">
      Delete

        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">

          require(
            ["dojo/dom", 
              "dojo/_base/xhr",
              "dojo/json",
              "dijit/registry",
              "dijit/Dialog"
            ],

          function(dom, xhr, JSON, registry, Dialog){

              xhr.get(
                {
                  url: "{{visit_follow_up_obj.urls.del}}",
                  load: function(json){
                          var jsondata = JSON.parse(json)
                          var parentTab = registry.byId('OPD_VISITS_CENTER_CP_TC_SUMMARY_CP').getParent();
                          var summaryTab = registry.byId('OPD_VISITS_CENTER_CP_TC_SUMMARY_CP');
                          var visitTree = registry.byId('OPD_VISITS_LEADING_BC_TOP_CP_TREE');
                          var editTab = registry.byId('VISIT_{{visit_follow_up_obj.id}}');

                          if (jsondata.success == true){
                            publishInfo(jsondata.error_message);
                            registry.byId("editPatientDialog").hide();
                            visitTree.refresh();
                            summaryTab.set('href',"{{patient_detail_obj.urls.summary.visit}}");
                            parentTab.removeChild( editTab );
                            editTab.destroyRecursive();

//                             if( registry.byId('VISIT_{{visit_follow_up_obj.id}}') ){
//                               registry.byId('VISIT_{{visit_follow_up_obj.id}}').destroyRecursive(false);
//                             }

                          }

                          else {
                            publishError(jsondata.error_message);
                          }
                        }
                }
              );
          });

      </script>

    </button>
    {% endif %}


</div>

{% else %}
  <p class="suggestion_text"> Please Login </p>
{% endif %}
