<div data-dojo-type = "dijit/form/Form" 
     id             = "newMedicationListAddForm"
     data-dojo-id   = "newMedicationListAddForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type            = "dojo/method" 
          data-dojo-event = "onReset"
  >
    return true;
  </script>

  <script type            = "dojo/method" 
          data-dojo-event = "onSubmit"
          data-dojo-args  = "evt"
  >
   if(this.validate()){
      require([
       "dijit/registry", 
      ],
      function(registry){
//    {% if perms.medication_list.add_medicationlist%}
      addItem("{{addUrl}}", "newMedicationListAddForm", "medication_list");
//    {% else %}
      registry.byId("permissionDeniedErrorDialog").show();
//   {% endif %}
     });
     return false;
    }
    else{
      raiseInvalidFormSubmission();
      return false;
    }
  </script>

    {% if perms.medication_list.add_medication_list%}

        <table>
        {{medication_list_form}}
        </table>

        <button 	type 	          = "submit" 
                    data-dojo-type    = "dijit/form/Button"
                    data-dojo-props   = "iconClass:'dijitIconSave'"
                    name 	          = "submitbutton" 
                    id 		          = "medication_list_form_submit"
                    value             = "Add">
          Add

          <script type            = "dojo/connect" 
                  data-dojo-event = "onClick" 
                  data-dojo-args  = "evt"
          >
            ADD_MORE_ITEMS           = false;
          </script>

        </button>

        <button 	type 	        = "submit" 
                    data-dojo-type  = "dijit/form/Button"
                    data-dojo-props = "iconClass:'dijitIconSave'"
                    name 	        = "submitAndAddMoreButton" 
                    id 		        = "medication_list_form_add_more"
                    value           = "Add More">

          Add More
          
          <script type            = "dojo/connect" 
                  data-dojo-event = "onClick"
                  data-dojo-args  = "evt"
          >
            ADD_MORE_ITEMS           = true;
          </script>

        </button>

        <button   type            = "reset" 
                  data-dojo-type  = "dijit/form/Button"
                  data-dojo-props = "iconClass:'dijitIconClear'"
                  id              = "medication_list_form_reset"
                  value           = "Reset">
          Reset
        </button>

    {% else %}
      <p class="suggestion_text"> Insufficient Permissions to add Medication List</p>
    {%endif%}

</div>

