<div data-dojo-type = "dijit/form/Form" 
     id             = "newMedicationListEditForm"
     data-dojo-id   = "newMedicationListEditForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type="dojo/method" data-dojo-event="onSubmit" data-dojo-args="evt">
    if( this.validate() ){
      require(["dijit/registry",
               "dojo/domReady!"
      ],
       function(registry){
         //	{% if perms.medication_list.change_medicationlist %}
          editItem("{{editUrl}}","newMedicationListEditForm","medication_list");
         // {% else %}
          registry.byId("permissionDeniedErrorDialog").show();
         // {%endif %}
         return false;
   	   }
 		  );
     return false;
    }
    else{
     raiseInvalidFormSubmission();
     return false;
    }

  </script>

    <table>

      {{medication_list_form}}

    </table>

    {% if perms.medication_list.change_medication_list %}

        <button data-dojo-type = "dijit/form/Button" 
                data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
                type           = "submit" 
                name           = "editButton" 
                value          = "Edit"
        >
          Edit
        </button>

    {% endif %}

    {% if perms.medication_list.delete_medication_list %}

      <button data-dojo-type  = "dijit/form/Button" 
                          data-dojo-props = "iconClass: 'dijitEditorIcon dijitEditorIconDelete'"
              type            = "button"
              name            = "delMedicationList"
              id              = "delMedicationListBtn">
        Delete

        <script  type            = "dojo/method" 
                  data-dojo-event = "onClick" 
                  data-dojo-args  = "evt"
          >
          //	{% if perms.medication_list.delete_medicationlist %}
              delItem("{{delUrl}}", "medication_list");
          // {% else %}
              registry.byId("permissionDeniedErrorDialog").show();
          // {%endif %}
          </script>

      </button>

    {% endif %}

</div>
