<div data-dojo-type = "dijit.form.Form" 
     id             = "newPhoneEditForm" 
     data-dojo-id   = "newPhoneEditForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

    <script type="dojo/method" data-dojo-event="onSubmit">
     if(this.validate()){
      require(["dojo/_base/xhr", 
               "dojo/dom", 
               "dojo/json", 
              "dojo/_base/fx",
		          "dijit/Dialog",
		          "dijit/form/Form",
		          "dijit/form/Button",
              "dijit/form/ValidationTextBox",
              "dijit/form/SimpleTextarea",
              "dijit/form/Select",
              "dijit/registry"
       ],
       function(xhr, dom, JSON,fx, Dialog, Form, Button, TextBox, Select, registry){
 							var hasBeenSent = false;
//						 {% if perms.patient.change_patientphone %}
							xhr.post({
									url  : "{{patient_phone_obj.get_patient_phone_edit_url}}",
									form : dom.byId("newPhoneEditForm"),
									load : function(json) {
											var jsondata = JSON.parse(json)
											if(jsondata.success == true){
                        dijit.byId("editPatientDialog").hide();
/*
												console.log(jsondata)
												var data = {
												 'id'                 : jsondata.id, 
												 'first_name'         : jsondata.first_name,
												 'middle_name'        : jsondata.middle_name,
												 'last_name'          : jsondata.last_name,
												 'age'                : jsondata.age,
												 'sex'                : jsondata.sex,
												 'patient_hospital_id': jsondata.patient_hospital_id,
												 'home'               : jsondata.home,
												 'edit'               : jsondata.edit,
												 'del'                : jsondata.del,
												 'contactadd'         : jsondata.contactadd,
												 'contactlist'        : jsondata.contactlist,
												 'phoneadd'           : jsondata.phoneadd,
												 'phonelist'          : jsondata.phonelist,
												 'guardianadd'        : jsondata.guardianadd,
												 'guardianlist'       : jsondata.guardianlist,
												 'emailadd'           : jsondata.emailadd,
												 'emaillist'          : jsondata.emaillist,
												 'admissionadd'       : jsondata.admissionadd,
												 'admissionlist'      : jsondata.admissionlist,
												 'visitadd'           : jsondata.visitadd,
												 'visitlist'          : jsondata.visitlist,
												}
												  var selectedRow = grid.selection.getSelected()
                          var selIndex = grid.selection.selectedIndex,
                              selItem  = grid.getItem(selIndex)
                          console.log(selItem)
                          console.log(data)
                          myStore.query();
*/
                          phoneGrid.render();
//                          var item = myStore.fetchItemByIdentity({"id": jsondata.id});
//                          myStore.put()
//                          var chosenRow = myStore.getIdentity(selItem);
//                          console.log(chosenRow)
//                          myStore.setValue(jsondata);
//                          myStore.save();
//                        console.log(selectedRow.getItem(this.rowIndex));
//												grid.store.newItem(data);
//												dom.byId("newPatientEditForm").reset();
											}
											else{
							        dijit.byId("dialogJsonMessage").set('title',"ERROR!");
							        dijit.byId("dialogJsonMessage").set('content',jsondata.error_message);
							        dijit.byId("dialogJsonMessage").show();
											}
									},
									error: function(json) {
									    var jsondata = JSON.parse(json);
							        dijit.byId("dialogJsonMessage").set('title',"ERROR!");
							        dijit.byId("dialogJsonMessage").set('content',jsondata.error_message);
							        dijit.byId("dialogJsonMessage").show();
									},
									handle: function() {
											hasBeenSent = true;
									}
							});
//{% else %}							
    dijit.byId("permissionDeniedErrorDialog").show();
//{%endif %}
     });
    return false;
    }
    else{
     dijit.byId("invalidFormSubmissionErrorDialog").show();
     return false;
    }
  </script>

   {% if not perms.patient.change_patientphone and not perms.patient.delete_patientphone %}
     <p class="suggestion_text"> 
      <em> Read-Only </em> &nbsp; Insufficient Permissions to edit / delete 
     </p>
   {% endif %}
		<table>
			{{patient_phone_edit_form}}
		</table>

{% if perms.patient.change_patientphone %}
   <button data-dojo-type = "dijit.form.Button" 
            data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
            type           = "submit" 
            name           = "editButton" 
            value          = "Edit">
      Edit
     </button>
{% endif %}

{% if perms.patient.delete_patientphone %}
    <button data-dojo-type  = "dijit.form.Button" 
						data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconDelete'"    
            type            = "button"
            name            = "delPhone"
            id              = "delPhoneBtn">
       Delete
     <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
			  require(
			    ["dojo/dom", 
			     "dojo/_base/xhr",
			     "dojo/json",
			     "dijit/registry",
			     "dijit/Dialog"
			    ],
			  function(dom, xhr, JSON, registry, Dialog){
					xhr.get({
					  url: "{{patient_phone_obj.get_patient_phone_del_url}}",
					  load: function(json){
					          var jsondata = JSON.parse(json)
					          if (jsondata.success == true){
                       dijit.byId("editPatientDialog").hide();
                       phoneGrid.render();
                       phoneGrid.selection.clear();
							      }
							      else{
							        dijit.byId("dialogJsonMessage").set('title',"ERROR!");
							        dijit.byId("dialogJsonMessage").set('content',jsondata.error_message);
							        dijit.byId("dialogJsonMessage").show();
							      }
					        }
					});
			  });
    </script>
    </button>
{% endif %}
</div>
