{% if perms.visit.add_visitdetail %}
<div data-dojo-type = "dijit/form/Form" 
     id             = "newVisitAddForm"
     data-dojo-id   = "newVisitAddForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = ""
     style          = "overflow:auto;"
     >

    <script type="dojo/method" data-dojo-event="onReset">
        return true;
    </script>

    <script type="dojo/method" data-dojo-event="onSubmit">
     if(this.validate()){
      require(["dojo/_base/xhr", 
               "dojo/dom", 
               "dojo/json", 
               "dijit/registry", 
               "dijit/Dialog",
               "dojo/domReady!"
      ],
      function(xhr, dom, JSON, registry, Dialog){
                  var hasBeenSent = false;
                  var editDialog = registry.byId("editPatientDialog");
                  var errorDialog = registry.byId("dialogJsonMessage");
// {% if perms.visit.add_visitdetail %}
                  xhr.post({
                          url  : CHOSEN_PATIENT.visitadd,
                          form : dom.byId("newVisitAddForm"),
                          load : function(json) {
                                  var jsondata = JSON.parse(json)
                                  console.log(jsondata);
                                  if(jsondata.success == true){
                                      dom.byId("newVisitAddForm").reset();
                                      publishInfo("Visit Added Successfully.")
                                      registry.byId("editPatientDialog").hide();
                                      new buildVisitTree();
                                  }
                                  else{
                                      var content = jsondata.error_message ;
                                      registry.byId("dialogJsonMessage").set('title', "ERROR!")
                                      registry.byId("dialogJsonMessage").set('content',content)
                                      registry.byId("dialogJsonMessage").show();
                                      publishError("ERROR! " + jsondata.error_message);
                                  }
                          },
                          error: function(json) {
                                    var jsondata = JSON.parse(json)
                                    registry.byId("dialogJsonMessage").set('title', "ERROR!")
                                    registry.byId("dialogJsonMessage").set('content', jsondata.error_message)
                                    registry.byId("dialogJsonMessage").show();
                                    publishError("ERROR! " + jsondata.error_message);
                          },
                          handle: function() {
                                  hasBeenSent = true;
                          }
                  });
//{% else %}
          registry.byId("permissionDeniedErrorDialog").show();
          return false;
//        {% endif %}
     });
    return false;
    }else{
     registry.byId("invalidFormSubmissionErrorDialog").show();
     return false;
    }
    return false;
  </script>

  {% if perms.visit.add_visitdetail %}

      <table id	="visitDetailAddFormTable">
          <tr> 
            <td> Date        </td> <td>	 {{visit_detail_form.visit_date}}      </td> 
          </tr> 
          <tr>
            <td> Physician   </td> <td>   {{visit_detail_form.op_surgeon}}       </td>
          </tr>
          <tr>
            <td> Referred    </td> <td>   {{visit_detail_form.referring_doctor}} </td> 
          </tr>
          <tr>
            <td> Nature   </td> <td>   {{visit_detail_form.consult_nature}} </td> 
          </tr>
          <tr>
            <td> Status   </td> <td>   {{visit_detail_form.status}}         </td> 
          </tr>
      </table>

      <hr class="shadow_line">

      <table id       =   "visitComplaintAddFormTable">
        <tr>
          <td> Complaint </td> <td>   {{visit_complaint_form.complaint}} </td>
          <td> Duration  </td> <td>   {{visit_complaint_form.duration}}  </td>
          <td>  
              <img src   = "{{STATIC_URL}}images/add.png" 
                   style = "width: 16px; height: 16px; cursor: pointer; "
                   id    = "addMoreVisitComplaint"
                  > 
          </td> 
          {% comment %}
          <td>
            <img src   = "{{STATIC_URL}}images/minus.png" 
                style = "width: 16px; height: 16px; cursor: pointer; "
                id    = "removeVisitComplaint"
              >  
          </td>
          {% endcomment %}
        </tr>
      </table>

      <hr >

      <div id                =   "visitHpiAddFormDiv"
             data-dojo-type  = "dijit/TitlePane"
             data-dojo-id    = "visitHpiAddFormDiv" 
             data-dojo-props = "open:true,  title: 'History of Presenting Illness' "
             style           = "margin: 10px;"
      >
          <table id="visit_hpi_form_table"> {{visit_hpi_form.hpi}}</table> 
      </div>

      <hr >

      <div id              = "visitRosAddFormDiv" 
             data-dojo-type  = "dijit/TitlePane"
             data-dojo-id    = "visitRosAddFormDiv" 
             data-dojo-props = "open:false,  title: 'Review of Systems' "
             style           = "margin: 10px;"
             >
           <table id="visit_ros_form_table"> {{visit_ros_form}} </table>
      </div>

     <div >

      <button data-dojo-type = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitIconSave'"
            type           = "submit" 
            name           = "submitButton" 
            value          = "Add">
        Save
       <script type            = "dojo/connect" 
               data-dojo-event = "onClick" 
               data-dojo-args  = "evt"
       >
         //ADD_MORE_PATIENTS = false;
         ADD_MORE_ITEMS    = false;
       </script>
     </button>


      <button data-dojo-type = "dijit/form/Button" 
              type           = "submit" 
              name           = "submit_and_add_more_visits"
              value          = "Add &amp;Open Chart"
              data-dojo-props="iconClass: 'dijitIconSave'"
              >
        Save &amp; Open Chart
        <script type            = "dojo/connect" 
                data-dojo-event = "onClick" 
                data-dojo-args  = "evt"
        >
          //ADD_MORE_PATIENTS = true;
          ADD_MORE_ITEMS    = true;
          //ADD_AND_OPEN_CHAR = true
        </script>
      </button>

      <button data-dojo-type  = "dijit/form/Button" 
              data-dojo-props="iconClass: 'dijitIconClear'"
              type            = "reset">
        Reset
      </button>

    </div>
  
  {% endif %}

</div>
{% else %}
<p class="suggestion_text"> Insufficient Permissions</p>
{% endif %} 

