{% if perms.visit.add_visitdetail %}
    
    <script type="text/javascript">

      require(["dojo/dom",
                    "dojo/request",
                    "dijit/registry"  ,
                    "dojo/json"       ,
                    "dojo/dom-form"   ,
                    "dijit/Dialog"    ,
                    'dojo/dom-class',
                    'dojo/dom-style',
                    'dojo/dom',
                    'dojo/query',
                    'dojo/dom-attr',
                    'dojo/dom-construct',
                    'dojo/_base/lang',
                    "dojo/on",
                    'dojo/parser',
                    'dojo/NodeList-traverse',
                    'dojo/NodeList-data'
            ],
            function(dom, 
                    request, 
                    registry, 
                    JSON, 
                    domForm, 
                    Dialog, 
                    domClass,
                    domStyle,
                    dom,
                    query,
                    domAttr,
                    domConstruct,
                    lang,
                    on,
                    parser){

        var totalVisitComplaintForms = "{{visit_complaint_formset.total_form_count}}";
        var used_prefix=[ ];
        var available_prefix=[];
        for(var i=0; i < parseInt(totalVisitComplaintForms); i++){
          used_prefix.push(i);
        }

        var rowStart = '<tr>';
        var rowEnd   = '</tr>';

        var addComplaintsSnippet    = "{{complaint_add_icon_html|escapejs}}";      
        var removeComplaintsSnippet = "{{complaint_remove_icon_html|escapejs}}";      
        var actionButtonCells       = "<td class='actionCell'>"+removeComplaintsSnippet + addComplaintsSnippet+"</td>";

        var emptyVisitComplaintForm  = "{{visit_complaint_formset.empty_form|escapejs}}";
        var complaintHTML = "<td>{{visit_complaint_formset.empty_form.complaint|escapejs}}</td>";
        var durationHTML  = "<td>{{visit_complaint_formset.empty_form.duration|escapejs}}</td>";

  //    var emptyVisitComplaintForm  = emptyVisitComplaintForm.replace(/__prefix__/g, totalVisitComplaintForms);

        function getAllRows(node /*String | domNode */){
//           console.log(node);
          var n = query("#"+node)[0];
//           console.log(n);
          if (n.tagName == 'TABLE'){
            var allRows = query(n).children('tbody').children('tr');
          }else if(n.tagName != "TABLE"){
            var allRows = query(n).parents('table').children('tbody').children('tr');
          }else{
            console.log("Query fetched nothing");
            return;
          }
          console.log("Returning All Rows of Table from getAllRows Function");
          console.log(allRows);
          return allRows;
        }

        function getNumRows(table_id/*String | domNode */){
          var allRows = getAllRows(table_id);
          return allRows.length;
        }

        function getLastRow(table_id/*String | domNode */){
//           console.log(table_id);
          var allRows = getAllRows(table_id);
//           console.log(allRows.length)
          if (allRows.length>0){
            console.log("Returning Last row...");
            console.log( query(allRows[allRows.length-1]) );
            return query(allRows[allRows.length-1]);
          }else{
            console.log("No Rows !. Cannot get the last row");                            
            return null;
          }
        }

        function getFirstRow(table_id/*String | domNode */){
          var allRows = getAllRows(table_id);
          if (allRows.length>0){
            return query(allRows[0]);
          }else{
            console.log("No Rows !. Cannot get the first row");
            return null;
          }
        }

        function getRowIndex(row/*query obj */){
          if(getAllRows >0){
            var allRows = getAllRows();
            try{
              return allRows.indexOf(row[0]);
            }catch(err){
              console.log(err.message);
              return
            }
          }else{
            console.log("No Rows to the number for !");
          }
        }

        function getRowFromTable(table_id /* String | domNode */,r /*String*/){
          var _r = parseInt(r);
          console.log("Received request for Table Row No. " + r + " in Table id: " + table_id);
          var _row_to_return = query("#"+table_id).children('tbody').children('tr')[_r-1];
          console.log("Returning Row with number: " + _r);
          console.log(_row_to_return);
          return _row_to_return;
        }

        function _getLastElem(l){
            if (l.length>0){
              l.sort();
              var _l = l.length;
              var i = _l-1;
              var e = l[i];
              return parseInt(e);
            }else{
              return null;
            }
        }


        function returnUnusedPrefix(){
          available_prefix.sort();            
          used_prefix.sort();                

          if(available_prefix.length >= 1 ){

            var _last_elem = _getLastElem(available_prefix);

            if (used_prefix.indexOf(_last_elem) == -1 ){
                console.log("used_prefix does not have the element");
                console.log("LAST ELEMENT OF USED_PREFIX" + used_prefix.indexOf(_last_elem).toString());
                available_prefix.pop();
                available_prefix.sort();
                used_prefix.push(_last_elem);
                used_prefix.sort();
                console.log("USED_PREFIX is" + used_prefix.toString());
                console.log("AVAILABLE_PREFIX is" + available_prefix.toString());
                return _last_elem;
            }else{
              console.log("used_prefix has the element");
              console.log("LAST ELEMENT OF USED_PREFIX" + used_prefix.indexOf(_last_elem).toString());
              console.log("USED_PREFIX is" + used_prefix.toString());
              console.log("AVAILABLE_PREFIX is" + available_prefix.toString());
              // FIXME May be an edge case.. but still...
            }
            

          }else{
            var _last_elem = _getLastElem(used_prefix);
            var _new_elem = parseInt(_last_elem) +1;
            used_prefix.push(_new_elem);
            used_prefix.sort();
            console.log("USED_PREFIX is" + used_prefix.toString());
            console.log("AVAILABLE_PREFIX is" + available_prefix.toString());
            return _new_elem;
          }

        }


        function rehashPrefixes(node){
          var n_id= domAttr.get(node.domNode,'id');
          var _id = parseInt(n_id.match(/\d+/g)[0]);
          var _available_ = available_prefix.indexOf(_id);
          var _used_ = used_prefix.indexOf(_id);          

          if(_available_ == -1){          
            if(_used_ != -1){
              used_prefix.splice(_used_,1);
              available_prefix.push(_id);
              console.log("USED_PREFIX is" + used_prefix.toString());
              console.log("AVAILABLE_PREFIX is" + available_prefix.toString());
            }else{
              console.log("PREFIX_ERROR!! PREFIXES CANNOT BE PRESENT IN BOTH LISTS");
              console.log("USED_PREFIX is" + used_prefix.toString());
              console.log("AVAILABLE_PREFIX is" + available_prefix.toString());
            }
          }else{
            available_prefix.splice(_available_,1);
            used_prefix.push(_id);
            console.log("USED_PREFIX is" + used_prefix.toString());
            console.log("AVAILABLE_PREFIX is" + available_prefix.toString());
          }
          available_prefix.sort();
          used_prefix.sort();

        }


        function lastButOneRowActionCellStyling(){
            var _t_id="visitComplaintAddFormTable";
//             var lastRow = getLastRow(table_id);
            var _rn= parseInt(getNumRows(_t_id));
            console.log("Querying for Row with Number " + (_rn-1) + " in Table with ID: " + _t_id);
            if (_rn>=1){
              var _lbr = getRowFromTable(_t_id, _rn-1);
//               console.log(_lbr);
              var _aIcon = query(_lbr).children('td.actionCell').children('span.showNextComplaint')[0];
              var _rIcon = query(_lbr).children('td.actionCell').children('span.removeThisComplaint')[0];
              domStyle.set(_aIcon, {'display':'none'});
              domStyle.set(_rIcon,{'display':'table-cell'});
            }else{
              return;
            }
        }

        function lastRowActionCellStyling(){
            var table_id="visitComplaintAddFormTable";
            var lastRow = getLastRow(table_id);
            var addIcon = lastRow.children('td.actionCell').children('span.showNextComplaint')[0];
            var removeIcon = lastRow.children('td.actionCell').children('span.removeThisComplaint')[0];
            domStyle.set(addIcon, {'display':'table-cell'});
            domStyle.set(removeIcon,{'display':'table-cell'});
        }

        function setTotalFormInputNumber(){
          var table_id='visitComplaintAddFormTable';
          var numberOfRows = getNumRows(table_id);
          totalVisitComplaintForms = numberOfRows;
          domAttr.set("{{complaint_total_form_auto_id}}",{'value':totalVisitComplaintForms});
        }

        function incrementTotalFormInput(){
            totalVisitComplaintForms ++;
            domAttr.set("{{complaint_total_form_auto_id}}",{'value':totalVisitComplaintForms});
        }

        function decrementTotalFormInput(){
            totalVisitComplaintForms --;
            domAttr.set("{{complaint_total_form_auto_id}}",{'value':totalVisitComplaintForms});
        }


        function placeAndDijitiseRows(){
          var prefix = returnUnusedPrefix();
          var escapedComplaintHTML = complaintHTML.replace( /__prefix__/g,  prefix);
          var escapedDurationHTML = durationHTML.replace( /__prefix__/g, prefix );
          var HTMLToInsert = rowStart + escapedComplaintHTML + escapedDurationHTML + actionButtonCells + rowEnd;
          var rowInserted = domConstruct.place(HTMLToInsert,query("#visitComplaintAddFormTable tbody")[0] );
          parser.parse(rowInserted);
          var addIcon = query(rowInserted).children('td.actionCell').children('span.showNextComplaint')[0];
          var removeIcon = query(rowInserted).children('td.actionCell').children('span.removeThisComplaint')[0];
          on(addIcon,'click',onAddMoreComplaintsClick);
          on(removeIcon,'click',function(){onRemoveComplaintClick(removeIcon);});
          setTotalFormInputNumber();
        }

        function onAddMoreComplaintsClick(){
              placeAndDijitiseRows();
              lastButOneRowActionCellStyling();
              lastRowActionCellStyling();
        }

        function rollBackRows(r){
          var table_id = "visitComplaintAddFormTable";

          if(getNumRows(table_id) >1){
            registry.
                findWidgets(r).
                  forEach(function(n,i){
                            if (i==0){rehashPrefixes(n); }
                            n.destroyRecursive(false);
                          });

            domConstruct.destroy(r);
          }

          if(getNumRows(table_id) >1){
            lastButOneRowActionCellStyling();
          }
          lastRowActionCellStyling();
          setTotalFormInputNumber();
        }

        function onRemoveComplaintClick(evt){

          if (confirm("This will delete the complaint.. Proceed ?")){
            var closestRow    = query(evt).closest('tr');
            var rowToDelete   = closestRow[0];
            var delBtn        = closestRow.
                                  children('td.actionCell').
                                  children('span.removeThisComplaint')[0];
            var parentTable = closestRow.parents('table');
            var urlToCall   = domAttr.get(delBtn,'data-url');

            try{
              var _hasNone = urlToCall.match(/None/g)[0]; // Necessary as the Full URL is generated from Template  #FIXME
              if( !_hasNone){
                var _hasNone = 'None';
              }
            }catch(err){
              var _hasNone = 'None';
            }

//             var _hasDigit = urlToCall.match(/\d+/g)[_hasDigit.length];
//             console.log(_hasDigit);
//             var _hasNone = urlToCall.match(/None/g)[0];
//             console.log(_hasNone);            
//             console.log(urlToCall);

            if( _hasNone !== 'None'){
              console.log("Requesting delete of the complaint");
              request(urlToCall).then(
              function(json){
                var jsondata = JSON.parse(json);
                if(jsondata.success == true){
                  publishInfo("Successfully Deleted Complaint");
                  rollBackRows(rowToDelete);
                }else{
                  publishError("ERROR! "+ jsondata.error_message);
                }
              },
              function(){
                publishError("ERROR! Server Error");
              }
              );
            }else{
              console.log("Deleting the Complaint forms");
              rollBackRows(rowToDelete);
              console.log("Destroyed Empty forms");
            }

          }
          console.log("CONFIRM_DIALOG_CLOSED");
       }

      function bindAddMoreComplaintsClick(){
        query('.showNextComplaint').forEach(
        function(node){
          on(node,'click',onAddMoreComplaintsClick);
        });
      }

      function bindRemoveComplaintsClick(){
        query('.removeThisComplaint').forEach(
        function(node){
            on(node,'click',function(evt){onRemoveComplaintClick(evt.target);});
        });
      }

      bindAddMoreComplaintsClick();
      bindRemoveComplaintsClick();

   });    
   </script>

<div data-dojo-type = "dijit/form/Form" 
     id             = "newVisitAddForm"
     data-dojo-id   = "newVisitAddForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = ""
     style          = "height: 60em; min-width: 50em; overflow:auto;"
     >

    <script type="dojo/method" data-dojo-event="onReset">
        return true;
    </script>
    
    <script type="dojo/method" data-dojo-event="onSubmit">
      if( this.validate() ){
        require(["dojo/dom",
                "dojo/request/xhr",
                "dijit/registry"  ,
                "dojo/json"       ,
                "dojo/dom-form"   ,
                "dijit/Dialog"    ,

                'aushadha/panes/visit_edit_pane'
        ],
        function(dom, 
                 xhr, 
                 registry, 
                 JSON, 
                 domForm, 
                 Dialog, 
                 VISIT_EDIT_PANE ){
          var editDialog  = registry.byId("editPatientDialog");
          var errorDialog = registry.byId("dialogJsonMessage");

          xhr(CHOSEN_PATIENT.visitadd ? CHOSEN_PATIENT.visitadd :"{{patient_detail_obj.get_patient_visit_add_url}}",{
              handleAs: "text",
              method  : "POST",
              data    : domForm.toObject("newVisitAddForm")
          }).then(
            function(json){
                var jsondata = JSON.parse(json);
                console.log(jsondata);
                if(jsondata.success == true){
                  publishInfo("Saved Successfully" );
                  if(editDialog){
                    editDialog.hide();
                  }
                  new buildVisitTree();
//                registry.byId('visitPaneRSidebar').set('href',CHOSEN_PATIENT.visitsummary);
                  registry.byId('visitSummaryTab').set('href',CHOSEN_PATIENT.visitsummary);
                  new buildPatientTree();
                  new buildAdmissionTree();
                }
                else{
                  publishError("ERROR ! :" + jsondata.error_message );
                }
            },
            function(json){
                  var jsondata = JSON.parse(json); 
                  publishError("ERROR!: "+ jsondata.error_message );
            },
            function(evt){console.log("Adding Data Finished Successfully...")}
          );
        });
        return false;
      }
      else{
        return false;
      }
    </script>

  {% if perms.visit.add_visitdetail %}

      <div data-dojo-type="dijit/TitlePane" id="visitDetailAddForm_TitlePane"
           data-dojo-props="'title':'Visit Details &amp; Basic Data','open':false">
        <table id ="visitDetailAddFormTable">
            <tr> 
              <th> <label for="id_visit_date"> Date</label></th>
              <td> {{visit_detail_form.visit_date}} </td>
            </tr>
            <tr>           
              <th> <label for="id_op_surgeon">Physician</label>
              <td> {{visit_detail_form.op_surgeon}} </td>
            </tr>
            <tr>           
              <th> <label for="id_refering_doctor">Referred</label> </th>
              <td> {{visit_detail_form.referring_doctor}}</td>
            </tr>
            <tr>           
              <th> <label for="id_consult_nature"> Nature</label>
              <td> {{visit_detail_form.consult_nature}} </td>
            </tr>
            <tr>           
              <th> <label for="id_status"> Status</label></th>
              <td> {{visit_detail_form.status}} </td>
            </tr>

            <tr>
              <td>
                <button data-dojo-type="dijit/form/Button" 
                        type="button" 
                        data-dojo-id="showNewVisitRemarks"
                        data-dojo-props="iconClass:'attachment_small'"
                        onClick="showOrHideRemarks();"
                        >
                Remarks
                <script type="text/javascript">
                    function showOrHideRemarks(){
                      require(['dojo/on',
                              'dojo/dom',
                              'dijit/registry',
                              'dojo/dom-style',
                              'dojo/dom-class',
                              'dojo/dom-attr'
                            ], 
                      function(on,
                                dom,
                                registry,
                                domStyle,
                                domClass,
                                domAttr
                                ){
                        if (domStyle.get(dom.byId("newVisitRemarksCell"),'display') == 'none'){
                          domStyle.set(dom.byId("newVisitRemarksCell"), {display:'table-cell'});
      //                     domAttr.set(this,{'label':'Hide Remarks'});
                        }else{
                          domStyle.set(dom.byId("newVisitRemarksCell"), {display:'none'});
      //                     domAttr.set(this,{'label':'Show Remarks'});
                        }
                      });
                    }
                </script>
                </button>
              </td>
            </tr>
            </table>
           
            <table>
              <tr>
    <!--             <th> <label for="id_remarks"> Remarks</label> </th> -->
                <td style="display:none;" id="newVisitRemarksCell">
                  {{visit_detail_form.remarks}}
                </td>
              </tr>
            </table>
</div>

<div data-dojo-type="dijit/TitlePane" data-dojo-props="'title':'Complaints','open': true">
  {% include 'visit/complaints/add.html' %}
</div>

<div data-dojo-type="dijit/TitlePane" data-dojo-props="'title':'History &amp; Examinations','open': false">

<div id             = "newVisitHistoryAndPhysicalExamBorderContainer"
     data-dojo-id   = "newVisitHistoryAndPhysicalExamBorderContainer"
     data-dojo-type = "dojox/layout/ContentPane"
     style          = "height: 30em; overflow:auto;"
  >
     <div id             = "newVisitHistoryAndPhysicalExamTabContainer"
          data-dojo-id   = "newVisitHistoryAndPhysicalExamTabContainer"
          data-dojo-type = "dijit/layout/TabContainer"
          data-dojo-props = "tabPosition:'top',tabStrip: true"
     >
     
        <div id             = "newVisitHPIFormContentPane"
              data-dojo-id   = "newVisitHPIFormContentPane"
              data-dojo-type = "dojox/layout/ContentPane"
              data-dojo-props = "title:'HPI'"
        >
          <table id                =   "newVisitHpiAddFormDiv"
                  style           = "margin: 10px;"
            >
              {{visit_hpi_form.hpi}}
          </table>
      </div>
      
      <div id             = "newVisitROSFormContentPane"
              data-dojo-id   = "newVisitROSFormContentPane"
              data-dojo-type = "dojox/layout/ContentPane"
              data-dojo-props = "title:'ROS'"
        >
          <table id              = "newVisitRosAddFormDiv" 
                  style           = "margin: 10px;"
                  >
                {{visit_ros_form.as_table}} 
            </table>     
        </div>

        <div id             = "newVisitVitalsGenAndHEENTExamFormContentPane"
              data-dojo-id   = "newVisitVitalsGenAndHEENTExamFormContentPane"
              data-dojo-type = "dojox/layout/ContentPane"
              data-dojo-props = "title:'Vitals, GE, HEENT'"
        >
            <table id              = "newVisitVitalsGenAndHEENTExamAddFormDiv" 
                  style           = "margin: 10px;"
                  >
                  {{vital_exam_free_model_form.as_table}}
                  {{gen_exam_free_model_form.as_table}}
            </table>     
        </div>

        <div id             = "newVisitRespCVSExamFromContentPane"
              data-dojo-id   = "newVisitRespCVSExamFromContentPane"
              data-dojo-type = "dojox/layout/ContentPane"
              data-dojo-props = "title:'Resp, CVS &amp; Abd'"
        >
            <table id              = "newVisitRespCVSAdbExamAddFromDiv" 
                   style           = "margin: 10px;"
                  >
                  {{sys_exam_free_model_form.as_table}}
            </table>     
        </div>

        <div id             = "newVisitMSAndNeuroExamFromContentPane"
              data-dojo-id   = "newVisitMSAndNeuroExamFromContentPane"
              data-dojo-type = "dojox/layout/ContentPane"
              data-dojo-props = "title:'Extremity &amp; Neuro'"
        >
            <table id              = "newVisitMSAndNeuroExamAddFromDiv" 
                  style           = "margin: 10px;"
                    >
                    {{neuro_exam_free_model_form.as_table}}
                    {{vasc_exam_free_model_form.as_table}}
            </table>     
        </div>

      </div>
</div>
</div>


      <button data-dojo-type = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitIconSave'"
            type           = "submit" 
            name           = "submitButton" 
            value          = "Add">
        Save
     </button>

      <button data-dojo-type = "dijit/form/Button" 
              type           = "submit" 
              name           = "save_and_attach_examinations"
              value          = "Save &amp; Attach Examinations"
              data-dojo-props= "iconClass: 'dijitIconSave'"
              >
        Save &amp; Attach Examinations
        <script type            = "dojo/connect" 
                data-dojo-event = "onClick" 
                data-dojo-args  = "evt"
        >
          //ADD_MORE_PATIENTS = true;
          ADD_MORE_ITEMS    = true;
          //ADD_AND_OPEN_CHAR = true
        </script>
      </button>

      <button data-dojo-type  = "dijit/form/Button" 
              data-dojo-props="iconClass: 'dijitIconClear'"
              type            = "reset">
        Reset
      </button>
  
  {% endif %}

</div>
{% else %}
<p class="suggestion_text"> Insufficient Permissions</p>
{% endif %}