{% if perms.visit.add_visitdetail %}
<div data-dojo-type = "dijit/form/Form" 
     id             = "newVisitAddForm"
     data-dojo-id   = "newVisitAddForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = ""
     style          = "height: 60em; min-width: 50em; overflow:auto;"
     >

    <script type="dojo/method" data-dojo-event="onReset">
        return true;
    </script>
    
    <script type="dojo/method" data-dojo-event="onSubmit">
      if( this.validate() ){
        require(["dojo/dom",
                "dojo/request/xhr",
                "dijit/registry"  ,
                "dojo/json"       ,
                "dojo/dom-form"   ,
                "dijit/Dialog"    ,

                'aushadha/panes/visit_edit_pane'
        ],
        function(dom, 
                 xhr, 
                 registry, 
                 JSON, 
                 domForm, 
                 Dialog, 
                 VISIT_EDIT_PANE ){
          var editDialog  = registry.byId("editPatientDialog");
          var errorDialog = registry.byId("dialogJsonMessage");

          xhr(CHOSEN_PATIENT.visitadd ? CHOSEN_PATIENT.visitadd :"{{patient_detail_obj.get_patient_visit_add_url}}",{
              handleAs: "text",
              method  : "POST",
              data    : domForm.toObject("newVisitAddForm")
          }).then(
            function(json){
                var jsondata = JSON.parse(json);
                console.log(jsondata);
                if(jsondata.success == true){
                  publishInfo("Saved Successfully" );
                  editDialog.hide();
                  new buildVisitTree();
                  new buildPatientTree();
                  new buildAdmissionTree();
                }
                else{
                  publishError("ERROR ! :" + jsondata.error_message );
                }
            },
            function(json){
                  var jsondata = JSON.parse(json); 
                  publishError("ERROR!: "+ jsondata.error_message );
            },
            function(evt){console.log("Adding Data Finished Successfully...")}
          );
        });
        return false;
      }
      else{
        return false;
      }
    </script>

{% comment %}
    <script type="dojo/method" data-dojo-event="onSubmit">
     if(this.validate()){
          require(["dojo/_base/xhr", 
                  "dojo/dom", 
                  "dojo/json", 
                  "dijit/registry", 
                  "dijit/Dialog",
                  "dojo/domReady!"
          ],
          function(xhr, dom, JSON, registry, Dialog){
                      var hasBeenSent = false;
                  // {% if perms.visit.add_visitdetail %}
                      xhr.post({
                              url  : CHOSEN_PATIENT.visitadd,
                              form : dom.byId("newVisitAddForm"),
                              load : function(json) {
                                      var jsondata = JSON.parse(json);
                                      console.log(jsondata);
                                      debugger;
                                      if(jsondata.success == true){
                                          publishInfo("Visit Added Successfully.");
                                          registry.byId("editPatientDialog").hide();
                                          new buildVisitTree();
                                      }
                                      else{
                                          var content = jsondata.error_message ;
                                          publishError("ERROR! " + content);
                                      }
                              },
                              error: function(json) {
                                        var jsondata = JSON.parse(json)
                                        publishError("ERROR! " + jsondata.error_message);
                              },
                              handle: function() {
                                      hasBeenSent = true;
                              }
                      });
                      return false;
              //{% else %}
                      registry.byId("permissionDeniedErrorDialog").show();
                      return false;
              //{% endif %}
        });
    }else{
     require(['dijit/registry'],
      function(registry){
        registry.byId("invalidFormSubmissionErrorDialog").show();
        return false;
      });
    }
  </script>
{% endcomment %}

  {% if perms.visit.add_visitdetail %}

      <table id	="visitDetailAddFormTable">
          <tr> 
            <td> Date        </td> <td>	 {{visit_detail_form.visit_date}}      </td> 
          </tr> 
          <tr>
            <td> Physician   </td> <td>   {{visit_detail_form.op_surgeon}}       </td>
          </tr>
          <tr>
            <td> Referred    </td> <td>   {{visit_detail_form.referring_doctor}} </td> 
          </tr>
          <tr>
            <td> Nature   </td> <td>   {{visit_detail_form.consult_nature}} </td> 
          </tr>
          <tr>
            <td> Status   </td> <td>   {{visit_detail_form.status}}         </td> 
          </tr>
          <tr>
            <td> Remarks   </td> <td>   {{visit_detail_form.remarks}}         </td> 
          </tr>
      </table>

      <hr class="shadow_line">

      <table id       =   "visitComplaintAddFormTable">
        <tr>
          <td> Complaint </td> <td>   {{visit_complaint_form.complaint}} </td>
          <td> Duration  </td> <td>   {{visit_complaint_form.duration}}  </td>
          <td>  
              <img src   = "{{STATIC_URL}}images/add.png" 
                   style = "width: 16px; height: 16px; cursor: pointer; "
                   id    = "addMoreVisitComplaint"
                  > 
          </td> 
          {% comment %}
          <td>
            <img src   = "{{STATIC_URL}}images/minus.png" 
                style = "width: 16px; height: 16px; cursor: pointer; "
                id    = "removeVisitComplaint"
              >  
          </td>
          {% endcomment %}
        </tr>
      </table>

      <hr >

      <table id                =   "visitHpiAddFormDiv"
             style           = "margin: 10px;"
      >
         <legend> History of Present Illness </legend>
          <tr> <td> {{visit_hpi_form.hpi}} </td> </tr>
      </table>


      <table id              = "visitRosAddFormDiv" 
             data-dojo-type  = "dijit/TitlePane"
             data-dojo-id    = "visitRosAddFormDiv" 
             data-dojo-props = "open:false,  title: 'Review of Systems' "
             style           = "margin: 10px;"
             >
          {{visit_ros_form.as_table}} 
      </table>

      <button data-dojo-type = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitIconSave'"
            type           = "submit" 
            name           = "submitButton" 
            value          = "Add">
        Save
     </button>

      {% comment %}
      <button data-dojo-type = "dijit/form/Button" 
              type           = "submit" 
              name           = "submit_and_add_more_visits"
              value          = "Add &amp;Open Chart"
              data-dojo-props="iconClass: 'dijitIconSave'"
              >
        Save &amp; Open Chart
        <script type            = "dojo/connect" 
                data-dojo-event = "onClick" 
                data-dojo-args  = "evt"
        >
          //ADD_MORE_PATIENTS = true;
          ADD_MORE_ITEMS    = true;
          //ADD_AND_OPEN_CHAR = true
        </script>
      </button>
      {% endcomment %}

      <button data-dojo-type  = "dijit/form/Button" 
              data-dojo-props="iconClass: 'dijitIconClear'"
              type            = "reset">
        Reset
      </button>
  
  {% endif %}

</div>
{% else %}
<p class="suggestion_text"> Insufficient Permissions</p>
{% endif %}