{% if user and user.is_authenticated %}

  {% include 'visit/snippets/js/visit_detail_edit_header.html' %}

  <div data-dojo-type = "dijit/form/Form" 
      id             = "newVisitEditForm_{{visit_detail_obj.id}}"
      data-dojo-id   = "newVisitEditForm_{{visit_detail_obj.id}}"
      encType        = "multipart/form-data" 
      action 	    =  "" 
      method         =  ""
      style          = "overflow: auto;"
      >

    {% include 'visit/snippets/js/visit_detail_edit_form_validate.html' %}

    {% if perms.visit.change_visitdetail %}
    <div data-dojo-type = "dijit/layout/BorderContainer"
    >

      <div data-dojo-type = "dojox/layout/ContentPane"
          data-dojo-props = "'region':'bottom','splitter':false"
          style="border:none;"
      >
        {% include 'visit/snippets/button_row/visit_detail_edit.html' %}
      </div>

      <div data-dojo-type="dijit/layout/TabContainer" 
          data-dojo-props="'tabStrip':true,'tabPosition':'top','nested':true,'region':'center','splitter':false"
      >      

          <div data-dojo-type="dojox/layout/ContentPane" 
              data-dojo-props="'title':'Basic Data'"
            >
            {% include 'visit/snippets/forms/visit_detail_edit.html' %}
          </div>

          <div data-dojo-type="dojox/layout/ContentPane" 
              data-dojo-props="'title':'Complaints &amp; HPI','selected':true"
            >
            {% include 'visit/complaints/edit.html' %}
            {% include 'visit/snippets/forms/hpi.html' %}
          </div>

          {% include 'visit/snippets/forms/ros_and_all_exam_forms.html' %}

      </div> 
      <!-- End of TabContainer -->
    
    </div>
    <!-- End of BorderContainer -->
    {% endif %} 

  </div>
  <!-- End of Form -->

{% else %}
  <p class="suggestion_text"> Please Login </p>
{% endif %}