{% if user and user.is_authenticated %}

    <script type="text/javascript">

      require(["dojo/dom",
                    "dojo/request",
                    "dijit/registry"  ,
                    "dojo/json"       ,
                    "dojo/dom-form"   ,
                    "dijit/Dialog"    ,
                    'dojo/dom-class',
                    'dojo/dom-style',
                    'dojo/dom',
                    'dojo/query',
                    'dojo/dom-attr',
                    'dojo/dom-construct',
                    'dojo/_base/lang',
                    "dojo/on",
                    'dojo/parser',
                    'dojo/NodeList-traverse',
                    'dojo/NodeList-data'
            ],
            function(dom, 
                    request, 
                    registry, 
                    JSON, 
                    domForm, 
                    Dialog, 
                    domClass,
                    domStyle,
                    dom,
                    query,
                    domAttr,
                    domConstruct,
                    lang,
                    on,
                    parser){

        var totalVisitComplaintForms = "{{visit_complaint_formset.total_form_count}}";
        var available_prefix;

        var rowStart = '<tr>';
        var rowEnd   = '</tr>';

        var addComplaintsSnippet    = "{{complaint_add_icon_html|escapejs}}";      
        var removeComplaintsSnippet = "{{complaint_remove_icon_html|escapejs}}";      
        var actionButtonCells       = "<td class='actionCell'>"+removeComplaintsSnippet + addComplaintsSnippet+"</td>";

        var emptyVisitComplaintForm  = "{{visit_complaint_formset.empty_form|escapejs}}";
        var complaintHTML = "<td>{{visit_complaint_formset.empty_form.complaint|escapejs}}</td>";
        var durationHTML  = "<td>{{visit_complaint_formset.empty_form.duration|escapejs}}</td>";

  //    var emptyVisitComplaintForm  = emptyVisitComplaintForm.replace(/__prefix__/g, totalVisitComplaintForms);

        function getAllRows(node /*String | domNode */){
          console.log(node);
          var n = query("#"+node)[0];
          console.log(n);
          if (n.tagName == 'TABLE'){
            var allRows = query(n).children('tbody').children('tr');
          }else if(n.tagName != "TABLE"){
            var allRows = query(n).parents('table').children('tbody').children('tr');
          }else{
            console.log("Query fetched nothing");
            return;
          }
          console.log(allRows);
          return allRows;
        }

        function getNumRows(table_id/*String | domNode */){
          var allRows = getAllRows(table_id);
          return allRows.length;
        }

        function getLastRow(table_id/*String | domNode */){
          console.log(table_id);
          var allRows = getAllRows(table_id);
          console.log(allRows.length)
          if (allRows.length>0){
            console.log("Returning Last row...");
            console.log( query(allRows[allRows.length-1]) );
            return query(allRows[allRows.length-1]);
          }else{
            console.log("No Rows !. Cannot get the last row");                            
            return null;
          }
        }

        function getFirstRow(table_id/*String | domNode */){
          var allRows = getAllRows(table_id);
          if (allRows.length>0){
            return query(allRows[0]);
          }else{
            console.log("No Rows !. Cannot get the first row");
            return null;
          }
        }

        function getRowIndex(row/*query obj */){
          if(getAllRows >0){
            var allRows = getAllRows();
            try{
              return allRows.indexOf(row[0]);
            }catch(err){
              console.log(err.message);
              return
            }
          }else{
            console.log("No Rows to the number for !");
          }
        }

        function getRowFromTable(rowNumber /*String*/,table_id /* String | domNode */){
          require(['dojo/dom',
                    'dojo/query',
                    'dojo/NodeList-data',
                    'dojo/NodeList-traverse'],
          function(dom,query){
            try{
              var rowNumber = parseInt(rowNumber);
              var table = dom.byId(table_id);
              var row = query(table).chidlren('tbody').children('tr')[rowNumber];
              if(row){
                return row;
              }else{
                return null;
              }
            }catch(err){
              console.log(err.message);
              return;
            }
          });
        }


        function returnUnusedPrefix(){
          if(available_prefix != undefined){
            console.log("AVAILABLE_PREFIX" + available_prefix);
            return available_prefix;
          }else{
            console.log("TOTAL_FORMS: " + totalVisitComplaintForms);
            return totalVisitComplaintForms;
          }
        }

        function lastButOneRowActionCellStyling(){
            var table_id="visitComplaintEditFormTable_{{visit_detail_obj.id}}";
            var lastRow = getLastRow(table_id);
            var addIcon = lastRow.children('td.actionCell').children('span.showNextComplaint')[0];
            var removeIcon = lastRow.children('td.actionCell').children('span.removeThisComplaint')[0];
            domStyle.set(addIcon, {'display':'none'});
            domStyle.set(removeIcon,{'display':'table-cell'});
        }

        function lastRowActionCellStyling(){
            var table_id="visitComplaintEditFormTable_{{visit_detail_obj.id}}";
            var lastRow = getLastRow(table_id);
            var addIcon = lastRow.children('td.actionCell').children('span.showNextComplaint')[0];
            var removeIcon = lastRow.children('td.actionCell').children('span.removeThisComplaint')[0];
            domStyle.set(addIcon, {'display':'table-cell'});
            domStyle.set(removeIcon,{'display':'table-cell'});
        }

        function setTotalFormInputNumber(){
          var table_id='visitComplaintEditFormTable_{{visit_detail_obj.id}}';
          var numberOfRows = getNumRows(table_id);
          totalVisitComplaintForms = numberOfRows;
          domAttr.set("{{complaint_total_form_auto_id}}",{'value':totalVisitComplaintForms});
        }

        function incrementTotalFormInput(){
            totalVisitComplaintForms ++;
            domAttr.set("{{complaint_total_form_auto_id}}",{'value':totalVisitComplaintForms});
        }

        function decrementTotalFormInput(){
            totalVisitComplaintForms --;
            domAttr.set("{{complaint_total_form_auto_id}}",{'value':totalVisitComplaintForms});
        }


        function placeAndDijitiseRows(){
          var prefix = returnUnusedPrefix();
          var escapedComplaintHTML = complaintHTML.replace( /__prefix__/g,  prefix);
          var escapedDurationHTML = durationHTML.replace( /__prefix__/g, prefix );
          var HTMLToInsert = rowStart + escapedComplaintHTML + escapedDurationHTML + actionButtonCells + rowEnd;
          var rowInserted = domConstruct.place(HTMLToInsert,query("#visitComplaintEditFormTable_{{visit_detail_obj.id}} tbody")[0] );
          parser.parse(rowInserted);
//           bindAddMoreComplaintsClick();
//           bindRemoveComplaintsClick();
          var addIcon = query(rowInserted).children('td.actionCell').children('span.showNextComplaint')[0];
          var removeIcon = query(rowInserted).children('td.actionCell').children('span.removeThisComplaint')[0];
          on(addIcon,'click',onAddMoreComplaintsClick);
          on(removeIcon,'click',function(){onRemoveComplaintClick(removeIcon);});
           available_prefix= undefined;
          setTotalFormInputNumber();
        }

        function onAddMoreComplaintsClick(){

              lastButOneRowActionCellStyling();

              placeAndDijitiseRows();

              lastRowActionCellStyling();

//               incrementTotalFormInput();
        }

        function rollBackRows(r){
          var totalRowsInTable = getNumRows("visitComplaintEditFormTable_{{visit_detail_obj.id}}");

          if(totalRowsInTable >1){
            registry.
                findWidgets(r).
                  forEach(function(n){
                            var n_id= domAttr.get(n.domNode,'id');
                            available_prefix = n_id.match(/\d+/g)[0];
                            console.log("AVAILABLE_PREFIX :" + available_prefix);
                            n.destroyRecursive(false);
                          });

            domConstruct.destroy(r);
            lastButOneRowActionCellStyling();
            lastRowActionCellStyling();
            setTotalFormInputNumber();
          }

        }

        function onRemoveComplaintClick(evt){

                if (confirm("This will delete the complaint.. Proceed ?")){
                  var closestRow    = query(evt).closest('tr');
                  var rowToDelete   = closestRow[0];
                  var delBtn        = closestRow.
                                        children('td.actionCell').
                                        children('span.removeThisComplaint');
                  var parentTable = closestRow.parents('table');
                  var urlToCall   = domAttr.get(delBtn,'data-url');

                  if(urlToCall !== null){
                    console.log("Requesting delete of the complaint");
                    request(urlToCall).then(
                    function(json){
                      var jsondata = JSON.parse(json);
                      if(jsondata.success == true){
                        publishInfo("Successfully Deleted Complaint");
                        rollBackRows(rowToDelete);
                      }else{
                        publishError("ERROR! "+ jsondata.error_message);
                      }
                    },
                    function(){
                      publishError("ERROR! Server Error");
                    }
                    );
                  }else{
                    console.log("Deleting the Complaint forms");
                    rollBackRows(rowToDelete);
                    console.log("Destroyed Empty forms");
                  }

                }
                console.log("CONFIRM_DIALOG_CLOSED");
            }

        function bindAddMoreComplaintsClick(){
          query('.showNextComplaint').forEach(
          function(node){
            on(node,'click',onAddMoreComplaintsClick);
          });
        }

        function bindRemoveComplaintsClick(){
          query('.removeThisComplaint').forEach(
          function(node){
              on(node,'click',function(evt){onRemoveComplaintClick(evt.target);});
          });
        }

        bindAddMoreComplaintsClick();
        bindRemoveComplaintsClick();

     });
    </script>

<div data-dojo-type = "dijit/form/Form" 
     id             = "newVisitEditForm_{{visit_detail_obj.id}}"
     data-dojo-id   = "newVisitEditForm_{{visit_detail_obj.id}}"
     encType        = "multipart/form-data" 
     action 	    =  "" 
     method         =  ""
     style          = "overflow: auto;"
     >


    <script type="dojo/method" data-dojo-event="onSubmit">
      if( this.validate() ){
        require(["dojo/dom",
                "dojo/request/xhr",
                "dijit/registry"  ,
                "dojo/json"       ,
                "dojo/dom-form"   ,
                "dijit/Dialog" 
        ],
        function(dom, xhr, registry, JSON, domForm, Dialog){
          var editDialog  = registry.byId("editPatientDialog");
          var errorDialog = registry.byId("dialogJsonMessage");

          xhr(CHOSEN_PATIENT.visitedit ? CHOSEN_PATIENT.visitedit :"{{visit_detail_obj.get_edit_url}}",{
              handleAs: "text",
              method  : "POST",
              data    : domForm.toObject("newVisitEditForm_{{visit_detail_obj.id}}")
          }).then(
            function(json){
                var jsondata = JSON.parse(json);
                console.log(jsondata);
                if(jsondata.success == true){
                  publishInfo("Saved Successfully" );
                  editDialog.hide();
                  new buildVisitTree();
//                   registry.byId('visitPaneRSidebar').set('href',CHOSEN_PATIENT.visitsummary);
                  registry.byId('visitSummaryTab').set('href',CHOSEN_PATIENT.visitsummary);
                  new buildPatientTree();
                  new buildAdmissionTree();
                }
                else{
                  publishError("ERROR ! :" + jsondata.error_message );
                }
            },
            function(json){
                  var jsondata = JSON.parse(json); 
                  publishError("ERROR!: "+ jsondata.error_message );
            },
            function(evt){console.log("Edited Visit Successfully...")}
          );
        });
        return false;
      }
      else{
        return false;
      }
    </script>



{% if perms.visit.change_visitdetail %}

      <table id ="visitDetailEditFormTable_{{visit_detail_obj.id}}">
          <tr> 
            <td> Date        </td> <td>  {{visit_detail_form.visit_date}}      </td> 
          </tr> 
          <tr>
            <td> Physician   </td> <td>   {{visit_detail_form.op_surgeon}}       </td>
          </tr>
          <tr>
            <td> Referred    </td> <td>   {{visit_detail_form.referring_doctor}} </td> 
          </tr>
          <tr>
            <td> Nature   </td> <td>   {{visit_detail_form.consult_nature}} </td> 
          </tr>
          <tr>
            <td> Status   </td> <td>   {{visit_detail_form.status}}         </td> 
          </tr>
          <tr>
            <td> Remarks   </td> <td>   {{visit_detail_form.remarks}}         </td> 
          </tr>
      </table>

      <hr>

      <div>
        {% include 'visit/complaints/edit.html' %}
      </div>

      <div id            = "visitHistoryAndPhysicalExamEditBorderContainer_{{visit_detail_obj.id}}"
          data-dojo-id   = "visitHistoryAndPhysicalExamEditBorderContainer_{{visit_detail_obj.id}}"
          data-dojo-type = "dojox/layout/ContentPane"
          style          = "height: 30em; overflow:auto;"
      >
          <div id             = "visitHistoryAndPhysicalExamEditTabContainer_{{visit_detail_obj.id}}"
              data-dojo-id    = "visitHistoryAndPhysicalExamEditTabContainer_{{visit_detail_obj.id}}"
              data-dojo-type  = "dijit/layout/TabContainer"
              data-dojo-props = "tabPosition:'top',tabStrip: true"
          >
            <div id              = "visitHPIEditFormContentPane_{{visit_detail_obj.id}}"
                 data-dojo-id    = "visitHPIEditFormContentPane_{{visit_detail_obj.id}}"
                 data-dojo-type  = "dojox/layout/ContentPane"
                 data-dojo-props = "title:'HPI'"
            >
              <table id="visit_hpi_edit_form_table_{{visit_detail_obj.id}}"> 
                {{visit_hpi_form.hpi}}
              </table> 
            </div>

            <div id             = "visitROSEditFormContentPane_{{visit_detail_obj.id}}"
                    data-dojo-id   = "visitROSEditFormContentPane_{{visit_detail_obj.id}}"
                    data-dojo-type = "dojox/layout/ContentPane"
                    data-dojo-props = "title:'ROS'"
              >
                <table id              = "visitRosEditFormDiv_{{visit_detail_obj.id}}" 
                        style           = "margin: 10px;"
                        >
                      {{visit_ros_form.as_table}} 
                  </table>     
            </div>
            
            <div id             = "visitVitalsGenAndHEENTExamEditFormContentPane_{{visit_detail_obj.id}}"
                  data-dojo-id   = "visitVitalsGenAndHEENTExamEditFormContentPane_{{visit_detail_obj.id}}"
                  data-dojo-type = "dojox/layout/ContentPane"
                  data-dojo-props = "title:'Vitals, GE, HEENT'"
            >
                <table id              = "visitVitalsGenAndHEENTExamEditFormDiv_{{visit_detail_obj.id}}" 
                      style           = "margin: 10px;"
                      >

                </table>     
            </div>

            <div id             = "visitRespCVSExamEditFromContentPane_{{visit_detail_obj.id}}"
                  data-dojo-id   = "visitRespCVSExamEditFromContentPane_{{visit_detail_obj.id}}"
                  data-dojo-type = "dojox/layout/ContentPane"
                  data-dojo-props = "title:'Resp, CVS &amp; Abd'"
            >
              <table id              = "visitRespCVSAdbExamEditFromDiv_{{visit_detail_obj.id}}" 
                      style           = "margin: 10px;"
                      >

                </table>     
            </div>

            <div id             = "visitMSAndNeuroExamEditFromContentPane_{{visit_detail_obj.id}}"
                  data-dojo-id   = "visitMSAndNeuroExamEditFromContentPane_{{visit_detail_obj.id}}"
                  data-dojo-type = "dojox/layout/ContentPane"
                  data-dojo-props = "title:'Extremity &amp; Neuro'"
            >
              <table id              = "visitMSAndNeuroExamEditFromDiv_{{visit_detail_obj.id}}" 
                      style           = "margin: 10px;"
                      >

                </table>     
            </div>

    </div>

  </div>

{% endif %} 
    
    {% if perms.visit.change_visitdetail %}
    <button data-dojo-type = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
            type           = "submit" 
            name           = "editButton" 
            value          = "Edit">
      Edit
     </button>
    {%endif%}

    {% if perms.visit.delete_visitdetail %}
    <button data-dojo-type  = "dijit/form/Button" 
			data-dojo-props = "iconClass: 'dijitEditorIcon dijitEditorIconDelete'"    
            type            = "button"
            name            = "delVisit"
            id              = "delVisitBtn_{{visit_detail_obj.id}}">
      Delete
      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        require(
          ["dojo/dom", 
            "dojo/_base/xhr",
            "dojo/json",
            "dijit/registry",
            "dijit/Dialog"
          ],
        function(dom, xhr, JSON, registry, Dialog){
            xhr.get({
              url: "{{visit_detail_obj.get_del_url}}",
              load: function(json){
                      var jsondata = JSON.parse(json)
                      if (jsondata.success == true){
                        publishInfo(jsondata.error_message);
                        registry.byId("editPatientDialog").hide();
                        if( registry.byId('VISIT_{{visit_detail_obj.id}}') ){
                          registry.byId('VISIT_{{visit_detail_obj.id}}').destroyRecursive(false);
                        }
                        new buildVisitTree();
//                      registry.byId('visitPaneRSidebar').set('href',CHOSEN_PATIENT.visitsummary);
                        registry.byId('visitSummaryTab').set('href',CHOSEN_PATIENT.visitsummary);
                        new buildPatientTree();
                        new buildAdmissionTree();
                      }else{
                         publishError(jsondata.error_message);
                      }
                    }
            });
        });
    </script>
    </button>
    {% endif %}


</div>
{% else %}
<p class="suggestion_text"> Please Login </p>
{% endif %}