{% if user and user.is_authenticated %}

    <script type="text/javascript">

      var totalVisitComplaintForms = "{{visit_complaint_formset.total_form_count}}";

      var rowStart = '<tr>';
      var rowEnd   = '</tr>';

      var addComplaintsSnippet    = "{{complaint_add_icon_html|escapejs}}";      
      var removeComplaintsSnippet = "{{complaint_remove_icon_html|escapejs}}";      
      var actionButtonCells       = "<td class='actionCell'>"+removeComplaintsSnippet + addComplaintsSnippet+"</td>";

      var emptyVisitComplaintForm  = "{{visit_complaint_formset.empty_form|escapejs}}";
      var complaintHTML = "<td>{{visit_complaint_formset.empty_form.complaint|escapejs}}</td>";
      var durationHTML  = "<td>{{visit_complaint_formset.empty_form.duration|escapejs}}</td>";

//    var emptyVisitComplaintForm  = emptyVisitComplaintForm.replace(/__prefix__/g, totalVisitComplaintForms);

      require(["dojo/dom",
              'dojo/dom-construct',
              'dojo/dom-style',
              'dojo/query',
              "dojo/on",
              "dojo/parser",
              "dojo/dom-attr",
              'dojo/NodeList-traverse',
              'dojo/NodeList-data'              
      ],
      function(dom, 
              domConstruct,
              domStyle,
              query,
              on,
              parser,
              domAttr){

          bindAddMoreComplaintsClick();

          function bindAddMoreComplaintsClick(){
            query('.showNextComplaint').forEach(
            function(node){
              var table = query(node).parents('table');
              console.log(table);
              console.log(table.children('tbody'))
              on(node,'click',onAddMoreComplaintsClick);
            });
          }

          function onAddMoreComplaintsClick(){
              totalVisitComplaintForms ++;

              var escapedComplaintHTML = complaintHTML.replace(/__prefix__/g,totalVisitComplaintForms);
              var escapedDurationHTML = durationHTML.replace(/__prefix__/g,totalVisitComplaintForms);
              var HTMLToInsert = rowStart + escapedComplaintHTML + escapedDurationHTML + actionButtonCells + rowEnd;
              var rowInserted = domConstruct.place(HTMLToInsert,query("#visitComplaintEditFormTable_{{visit_detail_obj.id}} tbody")[0] );
              parser.parse(rowInserted);
              bindAddMoreComplaintsClick();

              var allRows = query("#visitComplaintEditFormTable_{{visit_detail_obj.id}} tbody tr");
              var numRows = allRows.length;

              allRows.forEach(function(row){
                  var showComplaintIcon = query(row).
                                            children("td.actionCell").
                                            children("span.showNextComplaint");                  
                  if (showComplaintIcon){
                    if(allRows.indexOf(row)+1<numRows){
                      domStyle.set(showComplaintIcon[0], {'display':'none'});
                    }else if(allRows.indexOf(row)+1 ==numRows){
                      domStyle.set(showComplaintIcon[0], {'display':'table-cell'});
                    }
                  }
                });

              domAttr.set("{{complaint_total_form_auto_id}}",{'value':totalVisitComplaintForms});
          }

       });

        function removeThisComplaint(evt){
            require(["dojo/dom",
                    "dojo/request",
                    "dijit/registry"  ,
                    "dojo/json"       ,
                    "dojo/dom-form"   ,
                    "dijit/Dialog"    ,
                    'dojo/dom-class',
                    'dojo/dom-style',
                    'dojo/dom',
                    'dojo/query',
                    'dojo/dom-attr',
                    'dojo/dom-construct',
                    'dojo/_base/lang',
                    'dojo/NodeList-traverse',
                    'dojo/NodeList-data'
            ],
            function(dom, 
                    request, 
                    registry, 
                    JSON, 
                    domForm, 
                    Dialog, 
                    domClass,
                    domStyle,
                    dom,
                    query,
                    domAttr,
                    domConstruct,
                    lang){

                var _delete = confirm("This will delete the complaint.. Proceed ?");
                if (_delete){
                  var rowQuery    = query(evt).closest('tr');
                  var parentTable = rowQuery.parents('table');
                  var delBtn    = query(evt).closest('.removeThisComplaint')[0];
                  var addBtn    = query(evt).closest('.showNextComplaint')[0];
                  var delBtnClone = lang.clone(delBtn);
                  var addBtnClone = lang.clone(addBtn);
                  var urlToCall = domAttr.get(delBtn,'data-url')                  
                  var row       = rowQuery[0];
                  var allInputs = query(rowQuery).
                                    children('td').
                                    children('.dijitReset').
                                    children('.dijitInputContainer').
                                    children('input[type=text]');

                  function rollBackRows(r){
                    var numRows = parentTable.children('tbody').children('tr').length;
                    if(numRows >1){
                      allInputs.forEach(
                        function(input){
                          domAttr.set(input,'value','');
                        }
                      );

                      registry.
                          findWidgets(r).
                            forEach(function(n){
                                      n.destroyRecursive(false);
                                    });
                      domConstruct.destroy(r);
                      totalVisitComplaintForms --;
                      domAttr.set("{{complaint_total_form_auto_id}}",{'value':totalVisitComplaintForms});
                      var rowsLeft = parentTable.children('tbody').children('tr').length;
                      var actionCell = parentTable.
                                          children('tbody').
                                          children('tr:last').
                                          children('td.actionCell')[0];
                      var removeIcon = parentTable.
                                          children('tbody').
                                          children('tr:last').
                                          children('td.actionCell').
                                          children('.removeThisComplaint')[0];
                      if(rowsLeft==1){
                        domStyle.set(removeIcon,{'display':'none'});
                        domConstruct.place(addBtnClone,actionCell,'first');
                      }
                    }else{
                      return false;
                    }
                  }

                  if(row && domStyle.get(row,'display') == 'table-row'){
                     if(urlToCall != null){
                       console.log("Requesting delete of the complaint");
                       request(urlToCall).then(
                        function(json){
                          var jsondata = JSON.parse(json);
                          if(jsondata.success == true){
                            publishInfo("Successfully Deleted Complaint");
                            rollBackRows(row);
                          }else{
                            publishError("ERROR! "+ jsondata.error_message);
                          }
                        },
                        function(){
                          publishError("ERROR! Server Error");
                        }
                       );
                     }else{
                       console.log("Deleting the Complaint forms");
                       rollBackRows(row);
                       return console.log("Destroyed Empty forms");
                     }

//                     domStyle.set(row, 'display','none');
//                     domClass.remove(row,'shownVisitComplaintTableRow');
//                     domClass.add(row, 'hiddenVisitComplaintTableRow');
//                     domConstruct.place(row,'visitComplaintEditFormTable','last');
                  }
                }else{
                  return false;
                }

            });
        }
    </script>

<div data-dojo-type = "dijit/form/Form" 
     id             = "newVisitEditForm_{{visit_detail_obj.id}}"
     data-dojo-id   = "newVisitEditForm_{{visit_detail_obj.id}}"
     encType        = "multipart/form-data" 
     action 	    =  "" 
     method         =  ""
     style          = "overflow: auto;"
     >


    <script type="dojo/method" data-dojo-event="onSubmit">
      if( this.validate() ){
        require(["dojo/dom",
                "dojo/request/xhr",
                "dijit/registry"  ,
                "dojo/json"       ,
                "dojo/dom-form"   ,
                "dijit/Dialog" 
        ],
        function(dom, xhr, registry, JSON, domForm, Dialog){
          var editDialog  = registry.byId("editPatientDialog");
          var errorDialog = registry.byId("dialogJsonMessage");

          xhr(CHOSEN_PATIENT.visitedit ? CHOSEN_PATIENT.visitedit :"{{visit_detail_obj.get_edit_url}}",{
              handleAs: "text",
              method  : "POST",
              data    : domForm.toObject("newVisitEditForm_{{visit_detail_obj.id}}")
          }).then(
            function(json){
                var jsondata = JSON.parse(json);
                console.log(jsondata);
                if(jsondata.success == true){
                  publishInfo("Saved Successfully" );
                  editDialog.hide();
                  new buildVisitTree();
//                   registry.byId('visitPaneRSidebar').set('href',CHOSEN_PATIENT.visitsummary);
                  registry.byId('visitSummaryTab').set('href',CHOSEN_PATIENT.visitsummary);
                  new buildPatientTree();
                  new buildAdmissionTree();
                }
                else{
                  publishError("ERROR ! :" + jsondata.error_message );
                }
            },
            function(json){
                  var jsondata = JSON.parse(json); 
                  publishError("ERROR!: "+ jsondata.error_message );
            },
            function(evt){console.log("Edited Visit Successfully...")}
          );
        });
        return false;
      }
      else{
        return false;
      }
    </script>



{% if perms.visit.change_visitdetail %}

      <table id ="visitDetailEditFormTable_{{visit_detail_obj.id}}">
          <tr> 
            <td> Date        </td> <td>  {{visit_detail_form.visit_date}}      </td> 
          </tr> 
          <tr>
            <td> Physician   </td> <td>   {{visit_detail_form.op_surgeon}}       </td>
          </tr>
          <tr>
            <td> Referred    </td> <td>   {{visit_detail_form.referring_doctor}} </td> 
          </tr>
          <tr>
            <td> Nature   </td> <td>   {{visit_detail_form.consult_nature}} </td> 
          </tr>
          <tr>
            <td> Status   </td> <td>   {{visit_detail_form.status}}         </td> 
          </tr>
          <tr>
            <td> Remarks   </td> <td>   {{visit_detail_form.remarks}}         </td> 
          </tr>
      </table>

      <hr>

      <div>
        {% include 'visit/complaints/edit.html' %}
      </div>

      <div id            = "visitHistoryAndPhysicalExamEditBorderContainer_{{visit_detail_obj.id}}"
          data-dojo-id   = "visitHistoryAndPhysicalExamEditBorderContainer_{{visit_detail_obj.id}}"
          data-dojo-type = "dojox/layout/ContentPane"
          style          = "height: 30em; overflow:auto;"
      >
          <div id             = "visitHistoryAndPhysicalExamEditTabContainer_{{visit_detail_obj.id}}"
              data-dojo-id    = "visitHistoryAndPhysicalExamEditTabContainer_{{visit_detail_obj.id}}"
              data-dojo-type  = "dijit/layout/TabContainer"
              data-dojo-props = "tabPosition:'top',tabStrip: true"
          >
            <div id              = "visitHPIEditFormContentPane_{{visit_detail_obj.id}}"
                 data-dojo-id    = "visitHPIEditFormContentPane_{{visit_detail_obj.id}}"
                 data-dojo-type  = "dojox/layout/ContentPane"
                 data-dojo-props = "title:'HPI'"
            >
              <table id="visit_hpi_edit_form_table_{{visit_detail_obj.id}}"> 
                {{visit_hpi_form.hpi}}
              </table> 
            </div>

            <div id             = "visitROSEditFormContentPane_{{visit_detail_obj.id}}"
                    data-dojo-id   = "visitROSEditFormContentPane_{{visit_detail_obj.id}}"
                    data-dojo-type = "dojox/layout/ContentPane"
                    data-dojo-props = "title:'ROS'"
              >
                <table id              = "visitRosEditFormDiv_{{visit_detail_obj.id}}" 
                        style           = "margin: 10px;"
                        >
                      {{visit_ros_form.as_table}} 
                  </table>     
            </div>
            
            <div id             = "visitVitalsGenAndHEENTExamEditFormContentPane_{{visit_detail_obj.id}}"
                  data-dojo-id   = "visitVitalsGenAndHEENTExamEditFormContentPane_{{visit_detail_obj.id}}"
                  data-dojo-type = "dojox/layout/ContentPane"
                  data-dojo-props = "title:'Vitals, GE, HEENT'"
            >
                <table id              = "visitVitalsGenAndHEENTExamEditFormDiv_{{visit_detail_obj.id}}" 
                      style           = "margin: 10px;"
                      >

                </table>     
            </div>

            <div id             = "visitRespCVSExamEditFromContentPane_{{visit_detail_obj.id}}"
                  data-dojo-id   = "visitRespCVSExamEditFromContentPane_{{visit_detail_obj.id}}"
                  data-dojo-type = "dojox/layout/ContentPane"
                  data-dojo-props = "title:'Resp, CVS &amp; Abd'"
            >
              <table id              = "visitRespCVSAdbExamEditFromDiv_{{visit_detail_obj.id}}" 
                      style           = "margin: 10px;"
                      >

                </table>     
            </div>

            <div id             = "visitMSAndNeuroExamEditFromContentPane_{{visit_detail_obj.id}}"
                  data-dojo-id   = "visitMSAndNeuroExamEditFromContentPane_{{visit_detail_obj.id}}"
                  data-dojo-type = "dojox/layout/ContentPane"
                  data-dojo-props = "title:'Extremity &amp; Neuro'"
            >
              <table id              = "visitMSAndNeuroExamEditFromDiv_{{visit_detail_obj.id}}" 
                      style           = "margin: 10px;"
                      >

                </table>     
            </div>

    </div>

  </div>

{% endif %} 
    
    {% if perms.visit.change_visitdetail %}
    <button data-dojo-type = "dijit/form/Button" 
            data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconSave'"
            type           = "submit" 
            name           = "editButton" 
            value          = "Edit">
      Edit
     </button>
    {%endif%}

    {% if perms.visit.delete_visitdetail %}
    <button data-dojo-type  = "dijit/form/Button" 
			data-dojo-props = "iconClass: 'dijitEditorIcon dijitEditorIconDelete'"    
            type            = "button"
            name            = "delVisit"
            id              = "delVisitBtn_{{visit_detail_obj.id}}">
      Delete
      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        require(
          ["dojo/dom", 
            "dojo/_base/xhr",
            "dojo/json",
            "dijit/registry",
            "dijit/Dialog"
          ],
        function(dom, xhr, JSON, registry, Dialog){
            xhr.get({
              url: "{{visit_detail_obj.get_del_url}}",
              load: function(json){
                      var jsondata = JSON.parse(json)
                      if (jsondata.success == true){
                        publishInfo(jsondata.error_message);
                        registry.byId("editPatientDialog").hide();
                        if( registry.byId('VISIT_{{visit_detail_obj.id}}') ){
                          registry.byId('VISIT_{{visit_detail_obj.id}}').destroyRecursive(false);
                        }
                        new buildVisitTree();
//                      registry.byId('visitPaneRSidebar').set('href',CHOSEN_PATIENT.visitsummary);
                        registry.byId('visitSummaryTab').set('href',CHOSEN_PATIENT.visitsummary);
                        new buildPatientTree();
                        new buildAdmissionTree();
                      }else{
                         publishError(jsondata.error_message);
                      }
                    }
            });
        });
    </script>
    </button>
    {% endif %}


</div>
{% else %}
<p class="suggestion_text"> Please Login </p>
{% endif %}