<div id="search_cp_form_container"
    style="position        : relative;
            left            : 5%;
            width           : 90%;
            height          : 100%;
            overflow        : visible;
            border          : solid 1px #cecece;
            border-radius   : 3px;
            background      : #D0DFEA;
            box-shadow      : 1px 1px 1px #cecece;
          "
> 

    <div>
        <img    src   = "{{STATIC_URL}}images/AuShadha_logo/AuShadha_logo.svg"
                style = " position:relative;
                          min-width: 30%;
                          max-width:30%;
                          min-height: 30%;
                          max-height:30%;
                          left: 35%;
                        "
          >
    </div>

    <div id="search_form"> </div>

</div>


{% comment %}

<span id               = "simplePatientFilteringSearch" 
      data-dojo-id     = "simplePatientFilteringSearch"
      data-dojo-type   = "dojox/layout/ContentPane"
      style="
            position        : relative;
            left            : 20%;
            width           : 60%;
            height          : 20%;
            overflow        : auto;
            margin-left     : 0px; 
            margin-bottom   : 0px;
            padding-left    : 0px;
            border          : solid 1px #cecece;
            border-radius   : 3px;
            background      : #D0DFEA;
            box-shadow      : 1px 1px 1px #cecece;
            "
>
    <!--<img    src="{{STATIC_URL}}images/AuShadha_logo/AuShadha_logo.svg" 
            style="position:relative;
                   top: -13px; 
                   padding:0px; 
                   margin:0px;
                   width: 128px;
                   height:128px;
                  "
            id="frontPageSearchPatientAuShadhaLogo"
    >-->
    <img    src   = "{{STATIC_URL}}images/AuShadha_logo/AuShadha_logo.svg"
            style = " position:relative;
                      top: -0.5em;
                      padding:0px;
                      margin:0px;
                      width: 128px;
                      height:128px;
                    "
            id="frontPageSearchPatientAuShadhaLogo"
    >

    {%if perms.patient.add_patientdetail %}
    <table>
    <tr> 
      <td>
        <button id             = "addPatientButton" 
                type           = "button"
                data-dojo-props= "iconClass: 'addPatientIcon_32'"
                data-dojo-id   = "addPatientButton"
                style          = "display:inline;"
        > 
            New
        </button>


        </td>

        <td>
          <div  
                class            = "search_form_div"
                id              = "filteringSelectPatSearch"
                style           = "width       : 300px;
                                   margin-left : 40px;
                                   left        : 0.3em; 
                                   position:relative;
                                   padding     : inherit 10px inherit 10px;"
           >
          </div>
      </td>
    </tr>
    </table>
    {% else %}
      <p class="suggestion_text"> No Permission to add </p>
    {% endif %}

  <!-- TOOLTIPS -->
    <div  data-dojo-type="dijit/Tooltip" 
          data-dojo-props="connectId:'addPatientButton',position:['below']"
          style="display:none;"
    >
        Register a New Patient to the Clinic..
    </div>
  <!-- TOOLTIPS -->

</span>
{% endcomment %}

