<div data-dojo-type    = "dojox/layout/ContentPane"
     data-dojo-props  = "region:'top'"
     id               = "searchPatientContainerDiv"
     style  = "position:relative;
                top: 100px;
                "
  >
  <div id   = "searchTitle"
        style= "color      : navy;
                font-size  : 16px;
                text-align:center;
                vertical-align:middle;
                font-family: Droid-Sans, Sans-Serif;
                position: relative;
                top:0px;
              "
    >

    {% include 'search/search_filtering_select.html' %}
  </div>

</div>