html, body {
	height   : 100%;
	width    : 100%;
	margin   : 0;
	overflow : hidden;
	padding  : 0;
}

body{
//  background  : -moz-linear-gradient(center top , #EDF2F7, #D0DFEA) repeat scroll 0 0 transparent;
//  background    : -moz-linear-gradient(center top , snow, whitesmoke) repeat scroll 0 0 transparent;
  background    : -moz-linear-gradient(center top , #D0DFEA, whitesmoke) repeat scroll 0 0 transparent;
  font-family   : Droid-Sans, Sans-Serif, Ubuntu, Helvetica, Cantarell;
  font-size     : 12px;
}

#appLayout {
	height: 100%;
}

#topPane, #header_area {
  position    : relative;
  top         : 0px !important;
  left        : 0px !important;
	margin      : 0px !important;
	padding     : 0px !important;
  height      : 22px !important;
  width       : 100% !important;
  background  : -moz-linear-gradient(center top , #C8C8C8, #EDF2F7 ) repeat scroll 0 0 transparent;
  color       : Navy;
  overflow    : visible;
}

#topPane{
  box-shadow: 1px 1px 3px #aaa;
  z-index: 10000;
  border-bottom:none !important;
}
#header_area{
  border:none;
  background:none;
}

/*
#topPane h3{
 position     : relative;
 top          : -26px;
 left         : 20px;
 font-family  : "Droid-Sans", "Helvetica",'Sans-Serif';
 font-size    : 16px;
}

#topPane h3 img{
  width: 32px;
  height:32px;
}
*/

#logoDiv{
  overflow:visible;
  position:absolute;
  top: 0px;
  left:0px;
  height: 22px;
  width: 100px;
}

#logoDiv img{
 position : relative;
 top      : -20px;
 left     : 10px;
 width    : 100px;
 height   : 20px;
}

#login_area{
  position    : relative;
  top         : 3px !important;
  height      : 20px;
  width:      : 400px;
  border      : none; 
  margin      : 0px; 
  padding     : 0px; 
  background  : none; 
  overflow    : visible;
}

#login_area img{
 width       : 16px;
 height      : 16px;
}

#timeBox{
  position      : relative;
  left          : 0px;
  margin-right  : 5px;
  padding-right : 5px;
  top           : -5px;
  border-right  : solid #aaa 1px;
  color         : #404040;
  font-size     : 10px;
}

#centerTopPane, 
#centerBottomPane{
    background: -moz-linear-gradient(center top ,whitesmoke, white) repeat scroll 0 0 transparent;
}

#centerMainPane{
  position: absolute !important;
  top     : 35px !important;
  left    : 0px !important;
  width   : 99% !important;
  border  : none !important;
//  background    : -moz-linear-gradient(center top , snow, whitesmoke) repeat scroll 0 0 transparent;
  background    : -moz-linear-gradient(center top , #D0DFEA, whitesmoke) repeat scroll 0 0 transparent;
}

#bottomPane{
	position    : absolute !important;
	bottom      : 0px !important; 
	left        : 0px !important;
	margin      : 0px !important;
	padding     : 0px !important;
	height      : 16px !important;
	width       : 100% !important;
  background  : -moz-linear-gradient(center top , #EDF2F7, white) repeat scroll 0 0 transparent;
  color       : Navy;
}

#patient_grid{
   position:relative;
   left: 70px;
   min-height: 300px;
   height      :500px; 
   max-height: 550px;
   margin-top: 5px;
}


/*
	#patient_grid_menubar{
		height:40px;
		width: 400px;
	}
*/

#contact_list,
#phone_list,
#demographics_list,
#immunisation_list,
#family_history_list,
#medical_history_list,
#surgical_history_list,
#patient_media_list,
#admission_list,
#visit_list
{
  min-height : 230px;
	margin-top: 5px;
	margin-top: 5px;
}


#patientSynopsisBottomContentPane{
	//width: 70em;
	height:18em;
	overflow:auto;
}


#guardian_list{
  min-height : 15em;
  height : 15em;
  max-height:15em;
  //overflow:auto;
  width: 35em;
}

#family_history_list{
  min-height : 15em;
  height : 15em;
  max-height:20em;
  //overflow:auto;
  width: 45em;
}

#medication_list
{
  height : 15em;
  //overflow:auto;
  width: 57em;
}
#allergy_list
{
  height : 15em;
  width  : 15em;
  position:relative;
  top: 0;
  left:0;
  //top: -17.6em;
  //left: 57.1em;
  //overflow:hidden;
}

/*
#contact_grid_alt,
#phone_grid_alt
{
  height : 150px;
  margin-top: 5px;
  overflow:auto;
}
*/
/*
	#leftCol, 
	#rightCol 
	{width: 20em;
    background: -moz-linear-gradient(center top , #EDF2F7, whitesmoke) repeat scroll 0 0 transparent;
    font-size: 10px;
	}
*/


	.login_area_img
	{
		width:28px;
		height:28px;
		border:none;
		margin:0px;
		padding:0px;
		position:relative;
		top:0px;
	}

	.small_img
	{
		width:20px;
		height:20px;
		border:none;
		margin:none;
		padding:none;
	}

  a
  {
    outline : none;
    border  : none;
    text-decoration:none;
  }

   .help_text
  {
   font-size  : 9px;
   font-style : bold;
   color      :  navy;
   background-image: url('{{MEDIA_URL}}/images/generic/notification/info_128.png');
   background-repeat: no-repeat;
   background-size:12px 12px;
   padding:0px 0px 0px 14px; 
   margin: 10px 0px 20px 0px;
   }

   .error_text
   {
     font-size  : 12px;
     font-style : bold;
     color       : red;
     background-image  : url('{{MEDIA_URL}}/images/generic/notifications/critical_128.png');
     background-repeat : no-repeat;
     background-size     : 12px 12px;
     padding             : 0px 0px 0px 15px; 
     margin              : 10px 5px 20px 5px;
   }

   .suggestion_text
   {
     font-size  : 10px;
     font-style : italic;
     color      :  RoyalBlue;
     background-image    : url('{{MEDIA_URL}}/images/generic/notifications/bulb_32.png');
     background-repeat   : no-repeat;
     background-size       : 12px 12px;
     padding               : 0px 0px 0px 14px; 
     margin                : 10px 0px 20px 0px;
   }

.patientIcon
  {
      background-image: url("{{MEDIA_URL}}images/generic/auth/user_16.png");
      background-repeat: no-repeat;
      background-position: center center;
      width: 16px;
      height: 16px;
  } 
.patientContactTreeIcon
  {
      background-image: url("{{MEDIA_URL}}images/patient/patient_contact_list_16.png");
      background-repeat: no-repeat;
      background-position: center center;
      width: 16px;
      height: 16px;
  }    


  /* dijit Custom Classess */

.contactIcon
   {
     background-image    : url('{{MEDIA_URL}}/images/patient/addressbook.svg');
     background-repeat   : no-repeat;
     height: 16px;
     width:16px;
     text-align:center;
   }

   .navigationIcon
   {
     background-image    : url('{{MEDIA_URL}}/images/patient/view-list.svg');
     background-repeat   : no-repeat;
     height: 16px;
     width:16px;
     text-align:center;
   }

   .mediaIcon
   {
     background-image    : url('{{MEDIA_URL}}/images/generic/mimes/word_document_media.svg');
     background-repeat   : no-repeat;
     height: 16px;
     width:16px;
     text-align:center;
   }


  #addPatientButton >*{
      text-align:center;
      vertical-align:middle;
      padding: 2px;
      margin:0px;
  }



  .addPatientIcon_32
   {
     background-image    : url('{{MEDIA_URL}}/images/patient/patient_add.svg');
     background-repeat   : no-repeat;
     height: 16px;
     width:16px;
     text-align:center;
   }

  .addPatientIcon_16
   {
     background-image    : url('{{MEDIA_URL}}/images/patient/patient_add.svg');
     background-repeat   : no-repeat;
     height: 16px;
     width:16px;
     text-align:center;
   }

   .addPatientIcon_16_small
   {
     background-image    : url('{{MEDIA_URL}}/images/patient/patient_add_small.svg');
     background-repeat   : no-repeat;
     height: 16px;
     width:16px;
     text-align:center;
   }

  .addPatientContactIcon_32
   {
     background-image    : url('{{MEDIA_URL}}/images/patient/patient_contact_add_32.png');
     background-repeat   : no-repeat;
     height: 32px;
     width:32px;
     text-align:center;
   }

  .addPatientContactIcon_16
   {
     background-image    : url('{{MEDIA_URL}}/images/patient/patient_contact_add_16.png');
     background-repeat   : no-repeat;
     height: 16px;
     width:16px;
     text-align:center;
   }

  .addPatientPhoneIcon_32
   {
     background-image    : url('{{MEDIA_URL}}/images/patient/phone_32.png');
     background-repeat   : no-repeat;
     height: 32px;
     width:32px;
     text-align:center;
   }

  .addPatientPhoneIcon_16
   {
     background-image    : url('{{MEDIA_URL}}/images/patient/phone_16.png');
     background-repeat   : no-repeat;
     height: 16px;
     width:16px;
     text-align:center;
   }

 .dndDropIndicator {
  border: 2px dashed #99BBE8;
  cursor:default;
  margin-bottom:5px;
  }


  /* End of Dijit Custom Classes */


  #editPatientDialog, 
  #jsonMessageDialog,
  #loginDialog
  {
   background: white;
   opacity:100%;
  }

  #loginDiv
  {
     position            : absolute;
     top                  : 10px;
     left                 : 5px;
     height               : 80px;
     width                : 80px;
  }


/*
#patientContextPane{
  height: 600px;
  min-width : 700px;
  overflow:auto;
}
*/

#simplePatientSearch {
  padding:0px;
  padding: 0px 0px 20px 0px;
}

#simplePatientSearch .search_form_div{
  float :left;
  display:inline;
  margin-left:0px;
  margin-right:2px;
  margin-top:0px;
}


/*TABLES*/

.examTable{
  border:solid 1pt #759DC0; 
  border-collapse:collapse; 
  background: #CFE5FA; 
  min-width: 500px;
}

.examTable tbody tr{
  background-color: #CFE5FA;
  background-image: url("{{CUSTOM_SCRIPT_ROOT}}images/commonHighlight.png");
  background-repeat: repeat-x;
}

.examTable tbody tr td{
  border-bottom:solid 1pt #759DC0; 
  padding       : 5px; 
  font-size     : 11px;
}

#social_history_form_table tr {
  margin: 25px 0px 25px 0px;
}
