<div data-dojo-type ="dijit/layout/BorderContainer"
     data-dojo-props="design:'headline'"
     >
{% if user.is_authenticated %}

    <div data-dojo-type="dojox/layout/ContentPane"
        data-dojo-props="region: 'center', splitter: true"
        id = "visit_hpi_center_pane_{{visit_detail_obj.id}}"
        >
        {% if visit_hpi_action == 'add' %}
            {% include 'visit_hpi/add.html' %}
        {% endif %}

        {% if visit_hpi_action == 'edit' %}
            {% include 'visit_hpi/edit.html' %}
        {% endif %}
    </div>

 {% if perms.visit_hpi %}
 
    <div data-dojo-type="dojox/layout/ContentPane"
         data-dojo-props="region: 'trailing', splitter: true"
         style= "width:20em; background: whitesmoke; border-radius: 5px; border: solid #aaa 1px;"
         id = "visit_hpi_trailing_pane_{{visit_detail_obj.id}}"
        >

        <span>
            {% include 'visit_hpi/snippets/button_row/visit_hpi_history_templates.html' %}
            {% include 'visit_hpi/snippets/button_row/visit_hpi_old_history.html' %}
        </span>

        <div style="display:none;" 
             data-dojo-type="dijit/Dialog"
             data-dojo-props="title: 'Old History' "
             data-dojo-id="visit_hpi_old_history_dialog_{{visit_detail_obj.id}}"
             id="visit_hpi_old_history_dialog_{{visit_detail_obj.id}}"
             style="min-width: 40em; max-width: 40em;"
             > 
        </div>

    </div>

  {% endif %}

{% else %}

  <p class="suggestion_text"> 
    Insufficient Priviliges 
  </p>

{% endif %}
</div>