{% if perms.visit_hpi.change_visithpi %}
    
  <div data-dojo-type = "dijit/form/Form" 
      id              = "newVisitHPIEditForm_{{visit_hpi_obj.id}}"
      data-dojo-id    = "newVisitHPIEditForm_{{visit_hpi_obj.id}}"
      encType         = "multipart/form-data" 
      action          = "" 
      method          = ""
      style           = "height: 60em; min-width: 50em; overflow:auto;"
    >

    {% include 'visit_hpi/snippets/js/visit_hpi_edit_form_validate.html' %}
    {% include 'visit_hpi/snippets/forms/hpi.html' %}
    {% include 'visit_hpi/snippets/button_row/visit_hpi_edit.html' %}

  </div>

{% else %}

  <p class="suggestion_text" > 
    Insufficient Permissions
  </p>

{% endif %}