{% if perms.immunisation.add_immunisation %}

<div data-dojo-type = "dijit/form/Form" 
     id             = "newImmunisationAddForm"
     data-dojo-id   = "newImmunisationAddForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type= "dojo/on" data-dojo-event = "submit">

   if( this.validate() ) {
      
      require([
       "dijit/registry", 
      ],
      
      function(registry){

        addItem("{{patient_detail_obj.urls.add.immunisation}}", 
                "newImmunisationAddForm", 
                "IMMUNISATION_GRID"
                );

      });

     return false;

    }

    else{

      raiseInvalidFormSubmission();
      return false;
    
    }

  </script>

  <table>

    {{immunisation_form}}

  </table>
  

  <button 	type 	          = "submit" 
            data-dojo-type    = "dijit/form/Button"
            data-dojo-props   = "iconClass:'dijitIconSave'"
            name 	          = "submitbutton" 
            id 		          = "immunisation_form_submit"
            value             = "Add">
    Add

  </button>

  <button   type            = "reset" 
            data-dojo-type  = "dijit/form/Button"
            data-dojo-props = "iconClass:'dijitIconClear'"
            id              = "immunisation_form_reset"
            value           = "Reset"
            >
    Reset

    <script type = "dojo/on" data-dojo-event = "click">

      return confirm( 'This will reset the form. Proceed ? ' );

    </script>

  </button>

</div>

{% else %}

  <p class="suggestion_text"> Insufficient Permissions to add immunisation </p>

{%endif%}


