<div data-dojo-type="dojox/layout/ContentPane" >
{% if perms.surgical_history.add_surgicalhistory %}

  <script type="dojo/method" >

    require(
      ['dojo/parser',
        'dojo/on',
        'dijit/registry',
        'dijit/form/Form',
        'dojo/ready'
      ],

    function (parser, on, registry){
      ready ( function() {
        parser.parse('newSurgicalHistoryAddForm');
        alert("Dijit loaded");
        
      } );
    });

  </script>

<div data-dojo-type = "dijit/form/Form" 
     id             = "newSurgicalHistoryAddForm"
     data-dojo-id   = "newSurgicalHistoryAddForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">


        <script type= "dojo/on" data-dojo-event = "submit">

        if( this.validate() ){

            require(["dijit/registry","dijit/form/Form" ],

            function( registry ){

            addItem("{{patient_detail_obj.urls.add.surgical_history}}", 
                    "newSurgicalHistoryAddForm", 
                    "SURGICAL_HISTORY_GRID"
                    );

          });

          return false;

          }

          else{

            raiseInvalidFormSubmission();
            return false;

          }

        </script>


        <table>
        {{surgical_history_form}}
        </table>

        <button 	type 	          = "submit" 
                    data-dojo-type    = "dijit/form/Button"
                    data-dojo-props   = "iconClass:'dijitIconSave'"
                    name 	          = "submitbutton" 
                    id 		          = "surgical_history_form_submit"
                    value             = "Add">
          Add

        </button>

<!--
        <button 	type 	        = "submit" 
                    data-dojo-type  = "dijit/form/Button"
                    data-dojo-props = "iconClass:'dijitIconSave'"
                    name 	        = "submitAndAddMoreButton" 
                    id 		        = "surgical_history_form_add_more"
                    value           = "Add More">

          Add More
          
          <script type            = "dojo/connect" 
                  data-dojo-event = "onClick"
                  data-dojo-args  = "evt"
          >
            ADD_MORE_ITEMS           = true;
          </script>

        </button>
-->

        <button   type            = "reset" 
                  data-dojo-type  = "dijit/form/Button"
                  data-dojo-props = "iconClass:'dijitIconClear'"
                  id              = "surgical_history_form_reset"
                  value           = "Reset">

          Reset

          <script type            = "dojo/on" 
                  data-dojo-event = "click"
          >

              return confirm("Press OK to reset the values.. ");

          </script>

        </button>

</div>

{% else %}

  <p class="suggestion_text"> 
    Insufficient Permissions to add surgical_history 
  </p>

{% endif %}

</div>
