<div data-dojo-type = "dijit/form/Form" 
     id             = "newSurgicalHistoryAddForm"
     data-dojo-id   = "newSurgicalHistoryAddForm"
     encType        = "multipart/form-data" 
     action         = "" 
     method         = "">

  <script type            = "dojo/method" 
          data-dojo-event = "onReset"
  >
    function onReset() {
      return confirm("Press OK to reset the values.. ");
    }
  </script>

  <script type            = "dojo/method" 
          data-dojo-event = "onSubmit"
          data-dojo-args = 'evt'
  >

   if( this.validate() ){
      require([
       "dijit/registry", 
      ],
      function(registry){
//    {% if perms.surgical_history.add_surgicalhistory %}
      addItem("{{addUrl}}", "newSurgicalHistoryAddForm", "SURGICAL_HISTORY_GRID");
//    {% else %}
      registry.byId("permissionDeniedErrorDialog").show();
//   {% endif %}
     });
     return false;
    }
    else{
      raiseInvalidFormSubmission();
      return false;
    }
    return false;

  </script>

    {% if perms.surgical_history.add_surgical_history %}

        <table>
        {{surgical_history_form}}
        </table>

        <button 	type 	          = "submit" 
                    data-dojo-type    = "dijit/form/Button"
                    data-dojo-props   = "iconClass:'dijitIconSave'"
                    name 	          = "submitbutton" 
                    id 		          = "surgical_history_form_submit"
                    value             = "Add">
          Add


        </button>

        <button 	type 	        = "submit" 
                    data-dojo-type  = "dijit/form/Button"
                    data-dojo-props = "iconClass:'dijitIconSave'"
                    name 	        = "submitAndAddMoreButton" 
                    id 		        = "surgical_history_form_add_more"
                    value           = "Add More">

          Add More
          
          <script type            = "dojo/connect" 
                  data-dojo-event = "onClick"
                  data-dojo-args  = "evt"
          >
            ADD_MORE_ITEMS           = true;
          </script>

        </button>

        <button   type            = "reset" 
                  data-dojo-type  = "dijit/form/Button"
                  data-dojo-props = "iconClass:'dijitIconClear'"
                  id              = "surgical_history_form_reset"
                  value           = "Reset">
          Reset
        </button>

    {% else %}
      <p class="suggestion_text"> Insufficient Permissions to add surgical_history </p>
    {%endif%}

</div>

