    <!--FAVICON      -->
    <link rel="shortcut icon" href="{{STATIC_URL}}images/AuShadha_logo/AuShadha_logo_16.png" type="image/x-icon" /> 


<!-- Dojo and related library CSS     -->
    <link rel="stylesheet" 
	      href="{{STATIC_URL}}/plugins/dojo/dojo/resources/dojo.css" 
	      type="text/css" />

    <link rel="stylesheet" 
	      href="{{STATIC_URL}}/plugins/dojo/dijit/themes/claro/claro.css" 
	      type="text/css" />

    <link rel="stylesheet" 
	      href="{{STATIC_URL}}/plugins/dojo/dojox/grid/resources/Grid.css" 
	      type="text/css" />

    <link rel="stylesheet" 
	      href="{{STATIC_URL}}/plugins/dojo/dojox/grid/resources/claroGrid.css" 
	      type="text/css" />

    <link rel="stylesheet"
        href="{{STATIC_URL}}/plugins/dojo/dojox/widget/Portlet/Portlet.css"
        type="text/css" />

    <link rel="stylesheet"
        href="{{STATIC_URL}}/plugins/dojo/dojox/layout/resources/GridContainer.css"
        type="text/css" />

    <link rel="stylesheet"
        href="{{STATIC_URL}}/plugins/dojo/dojox/layout/resources/DndGridContainer.css"
        type="text/css" />
        
    <link rel="stylesheet"
        href="{{STATIC_URL}}/plugins/dojo/dojox/widget/Calendar/Calendar.css"
        type="text/css" />

    <link rel="stylesheet"
        href="{{STATIC_URL}}/plugins/dojo/dojox/layout/resources/ExpandoPane.css"
        type="text/css" />

    <link rel="stylesheet"
          href="{{STATIC_URL}}/plugins/dojo/dojox/widget/Toaster/Toaster.css"
          type="text/css" />

    <link rel="stylesheet"
           href="{{STATIC_URL}}/plugins/dojo/dojox/layout/resources/FloatingPane.css"
          type="text/css" />
    
    <link rel="stylesheet"
          href="{{STATIC_URL}}/plugins/dojo/dojox/layout/resources/ResizeHandle.css"
          type="text/css" />


<!-- Custom Stylesheets. -->
  <!-- 
    Because the current stylesheet style.css requires Django template substitution it has been included as
    inline style at base.html 
    Any custom styles can be inserted below.
  -->

  <!--    <link rel="stylesheet" -->
  <!--	      href="{{STATIC_URL}}custom/styles/style.css" -->
  <!--	      type="text/css" />-->

<!-- End of custom styles -->

